Repository wallstop/DxMessaging: changes, and which pre-commit hooks are due for each by the changed paths.
All: sync-banner-version, prettier, markdown-structure-fix, markdownlint, yamllint, validate-skills, skills-index-regen, actionlint, cspell

sync-banner-version:
  name: Sync banner version from package.json
  ...

prettier:
  name: Prettier (Markdown, JSON, asmdef, asmref, YAML)
  entry: npx --yes prettier@3.8.0 --write
  language: system
  description: Use pinned Prettier version to match CI.

markdown-structure-fix:
  name: Markdown structure auto-fix (headings, fences)
  entry: node scripts/fix-md036-headings.js
  language: system
  description: Auto-fix MD036 (no-emphasis-as-heading) by converting bold-only lines to headings.

markdownlint:
  name: markdownlint (respect repo config)
  entry: npx --yes markdownlint-cli2@0.17.1 --fix
  language: system

yamllint:
  name: yamllint (if available)
  entry: bash -c 'if command -v yamllint >/dev/null 2>&1; then yamllint -c .yamllint.yaml "$@"; else echo "yamllint not installed; skipping"; fi' --
  language: system

validate-skills:
  name: Validate LLM skill files
  entry: node scripts/validate-skills.js
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push
  description: Validate skill file schema compliance and file size limits.

skills-index-regen:
  name: Regenerate skills index.md
  entry: bash -c 'node scripts/generate-skills-index.js && { git add .llm/skills/index.md 2>/dev/null || true; }'
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push
  description: Regenerate index.md and stage it for commit.

actionlint:
  name: Lint GitHub Actions workflows
  entry: bash -c 'if command -v actionlint >/dev/null 2>&1; then actionlint; else echo "actionlint not installed; skipping"; fi'
  language: system
  pass_filenames: false
  stages:
  - pre-push
  description: Validate GitHub Actions workflow syntax before push.

cspell:
  name: Check spelling
  entry: npx --yes cspell@9 --no-progress --no-summary
  language: system
  pass_filenames: true
  stages:
  - pre-push
  description: Check spelling in changed files before push.

PR feedback
  .llm/skills/documentation/mermaid-theming.md
  .llm/skills/index.md
  .llm/skills/scripting/regex-documentation.md
  docs/javascripts/mermaid-config.js
  scripts/__tests__/mermaid-config.test.js
  scripts/__tests__/mermaid-config.test.js.meta
  scripts/__tests__/validate-skills-tags.test.js
  scripts/__tests__/validate-skills-tags.test.js.meta
  scripts/validate-skills.js
Due: prettier, markdown-structure-fix, markdownlint, validate-skills, skills-index-regen, cspell

PR feedback
  .llm/context.md
  scripts/__tests__/validate-skills-tags.test.js
  scripts/validate-skills.js
Due: prettier, markdown-structure-fix, markdownlint, validate-skills, skills-index-regen, cspell

PR feedback
  .llm/context.md
  .llm/skills/index.md
  .llm/skills/scripting/javascript-code-quality.md
  .llm/skills/testing/test-code-quality.md
  scripts/__tests__/validate-skills-optional-fields.test.js
  scripts/__tests__/validate-skills-optional-fields.test.js.meta
  scripts/__tests__/validate-skills-tags.test.js
  scripts/validate-skills.js
Due: prettier, markdown-structure-fix, markdownlint, validate-skills, skills-index-regen, cspell

PR feedback
  .llm/context.md
  scripts/__tests__/validate-skills-optional-fields.test.js
  scripts/__tests__/validate-skills-required-fields.test.js
  scripts/__tests__/validate-skills-required-fields.test.js.meta
  scripts/validate-skills.js
Due: prettier, markdown-structure-fix, markdownlint, validate-skills, skills-index-regen, cspell

PR feedback
  .llm/skills/index.md
  .llm/skills/scripting/javascript-code-quality.md
  docs/javascripts/mermaid-config.js
  scripts/__tests__/mermaid-config.test.js
Due: prettier, markdown-structure-fix, markdownlint, validate-skills, skills-index-regen, cspell

PR feedback
  .llm/skills/index.md
  .llm/skills/scripting/javascript-code-quality.md
  .llm/skills/scripting/validation-patterns.md
  scripts/__tests__/validate-skills-optional-fields.test.js
  scripts/validate-skills.js
Due: prettier, markdown-structure-fix, markdownlint, validate-skills, skills-index-regen, cspell

PR feedback
  .llm/context.md
  .llm/skills/index.md
  .llm/skills/scripting/validation-patterns.md
  scripts/__tests__/validate-skills-optional-fields.test.js
  scripts/validate-skills.js
Due: prettier, markdown-structure-fix, markdownlint, validate-skills, skills-index-regen, cspell

PR feedback
  .llm/context.md
  .llm/skills/index.md
  .llm/skills/testing/test-production-code.md
  scripts/__tests__/generate-skills-index.test.js
  scripts/__tests__/validate-skills-optional-fields.test.js
  scripts/__tests__/validate-skills-required-fields.test.js
  scripts/__tests__/validate-skills-tags.test.js
  scripts/__tests__/validate-workflows.test.js
  scripts/generate-skills-index.js
  scripts/validate-skills.js
  scripts/validate-workflows.js
Due: prettier, markdown-structure-fix, markdownlint, validate-skills, skills-index-regen, cspell

PR feedback
  .llm/skills/index.md
  .llm/skills/scripting/javascript-code-quality.md
  scripts/__tests__/validate-skills-optional-fields.test.js
  scripts/validate-skills.js
Due: prettier, markdown-structure-fix, markdownlint, validate-skills, skills-index-regen, cspell

PR feedback
  .github/workflows/format-on-demand.yml
  .github/workflows/prettier-autofix.yml
  .llm/context.md
  .llm/skills/github-actions/git-renormalize-patterns.md
  .llm/skills/index.md
Due: prettier, markdown-structure-fix, markdownlint, yamllint, validate-skills, skills-index-regen, actionlint, cspell

Fix line endings
  .github/workflows/actionlint.yml
  .github/workflows/release-drafter.yml
  .github/workflows/sync-wiki.yml
Due: prettier, yamllint, actionlint, cspell

Fix line endings (#153)
  .github/workflows/actionlint.yml
  .github/workflows/release-drafter.yml
  .github/workflows/sync-wiki.yml
Due: prettier, yamllint, actionlint, cspell

Update version to 2.1.6
  CHANGELOG.md
  docs/images/DxMessaging-banner.svg
  package.json
Due: sync-banner-version, prettier, markdown-structure-fix, markdownlint, cspell

Update version to 2.1.6 (#154)
  CHANGELOG.md
  docs/images/DxMessaging-banner.svg
  package.json
Due: sync-banner-version, prettier, markdown-structure-fix, markdownlint, cspell

Minor documentation fixes
  CHANGELOG.md
  README.md
  package.json
  scripts/wiki/generate-wiki-sidebar.js.meta
  scripts/wiki/transform-docs-to-wiki.js.meta
Due: sync-banner-version, prettier, markdown-structure-fix, markdownlint, cspell

Version bump
  CHANGELOG.md
  docs/images/DxMessaging-banner.svg
  package.json
Due: sync-banner-version, prettier, markdown-structure-fix, markdownlint, cspell

Minor documentation fixes (#156)
  CHANGELOG.md
  README.md
  docs/images/DxMessaging-banner.svg
  package.json
  scripts/wiki/generate-wiki-sidebar.js.meta
  scripts/wiki/transform-docs-to-wiki.js.meta
Due: sync-banner-version, prettier, markdown-structure-fix, markdownlint, cspell

Add npmignore
  .npmignore
  CHANGELOG.md
  docs/images/DxMessaging-banner.svg
  package.json
Due: sync-banner-version, prettier, markdown-structure-fix, markdownlint, cspell

PR feedback
  .llm/skills/index.md
  .llm/skills/packaging/npm-package-configuration.md
  .npmignore
  package.json
Due: sync-banner-version, prettier, markdown-structure-fix, markdownlint, validate-skills, skills-index-regen, cspell

Add npmignore (#159)
  .llm/skills/index.md
  .llm/skills/packaging/npm-package-configuration.md
  .npmignore
  CHANGELOG.md
  docs/images/DxMessaging-banner.svg
  package.json
Due: sync-banner-version, prettier, markdown-structure-fix, markdownlint, validate-skills, skills-index-regen, cspell

chore(dotnet-tools): update .config/dotnet-tools.json
  .config/dotnet-tools.json
Due: prettier, cspell

Bug fixes
  .llm/context.md
  .llm/skills/index.md
  .llm/skills/testing/test-coverage-unity-anti-patterns.md
  Runtime/Core/DxMessagingStaticState.cs
  Runtime/Core/Helper/MessageHelperIndexer.cs
  Runtime/Core/MessageBus/MessageRegistrationBuilder.cs
  Runtime/Core/MessageRegistrationHandle.cs
  Tests/Runtime/Core/DxMessagingStaticStateTests.cs
  Tests/Runtime/Core/MessageTypeIdStabilityTests.cs
  Tests/Runtime/Core/MessageTypeIdStabilityTests.cs.meta
  docs/images/DxMessaging-banner.svg
  package.json
Due: sync-banner-version, prettier, markdown-structure-fix, markdownlint, validate-skills, skills-index-regen, cspell

Update changelog
  CHANGELOG.md
Due: prettier, markdown-structure-fix, markdownlint, cspell

PR feedback
  .llm/skills/documentation/link-quality-guidelines.md
  .llm/skills/index.md
  .lychee.toml
Due: prettier, markdown-structure-fix, markdownlint, validate-skills, skills-index-regen, cspell

PR feedback
  .github/workflows/markdown-link-validity.yml
  .lychee.toml
Due: prettier, yamllint, actionlint, cspell

Fix Static Reset (#164)
  .github/workflows/markdown-link-validity.yml
  .llm/context.md
  .llm/skills/documentation/link-quality-guidelines.md
  .llm/skills/index.md
  .llm/skills/testing/test-coverage-unity-anti-patterns.md
  .lychee.toml
  CHANGELOG.md
  Runtime/Core/DxMessagingStaticState.cs
  Runtime/Core/Helper/MessageHelperIndexer.cs
  Runtime/Core/MessageBus/MessageRegistrationBuilder.cs
  Runtime/Core/MessageRegistrationHandle.cs
  Tests/Runtime/Core/DxMessagingStaticStateTests.cs
  Tests/Runtime/Core/MessageTypeIdStabilityTests.cs
  Tests/Runtime/Core/MessageTypeIdStabilityTests.cs.meta
  docs/images/DxMessaging-banner.svg
  package.json
Due: sync-banner-version, prettier, markdown-structure-fix, markdownlint, yamllint, validate-skills, skills-index-regen, actionlint, cspell

Actually fix issue
  CHANGELOG.md
  Editor/DxMessagingEditorInitializer.cs
  docs/images/DxMessaging-banner.svg
  package.json
Due: sync-banner-version, prettier, markdown-structure-fix, markdownlint, cspell

Fix changelog display in Unity Package Manager with raw GitHub URL (#170)
  .github/workflows/actionlint.yml
  SourceGenerators/WallstopStudios.DxMessaging.SourceGenerators.Tests/WallstopStudios.DxMessaging.SourceGenerators.Tests.csproj
  package.json
Due: sync-banner-version, prettier, yamllint, actionlint, cspell

Add CSharpier formatting check to CI/CD (#172)
  .github/workflows/csharpier-check.yml
Due: prettier, yamllint, actionlint, cspell

feat: Add llms.txt for AI agent integration (#171)
  .cspell.json
  .gitattributes
  .github/workflows/update-llms-txt.yml
  .github/workflows/validate-llms-txt.yml
  CHANGELOG.md
  README.md
  llms.txt
  package.json
  scripts/__tests__/update-llms-txt.test.js
  scripts/update-llms-txt.js
Due: sync-banner-version, prettier, markdown-structure-fix, markdownlint, yamllint, actionlint, cspell

Add NPM package meta file validation and standardize line endings (#173)
  .ci-fix-applied
  .editorconfig
  .force-push
  .gitattributes
  .github/workflows/validate-npm-meta.yml
  .pre-commit-config.yaml
  .prettierrc.json
  .yamllint.yaml
  CONTRIBUTING.md
  llms.txt
  package.json
  scripts/__tests__/validate-npm-meta.test.js
  scripts/__tests__/validate-npm-meta.test.js.meta
  scripts/check-eol.ps1
  scripts/validate-npm-meta.js
  scripts/validate-npm-meta.js.meta
Due: sync-banner-version, prettier, markdown-structure-fix, markdownlint, yamllint, actionlint, cspell

Update csharpier
  .config/dotnet-tools.json
Due: prettier, cspell

Fix duplicate CSC.rsp entries from stale package cache versions (#174)
  .config/dotnet-tools.json
  .gitattributes
  .github/workflows/csharpier-check.yml
  Editor/SetupCscRsp.cs
  Tests/Editor/SetupCscRspTests.cs
  Tests/Editor/SetupCscRspTests.cs.meta
Due: prettier, yamllint, actionlint, cspell

Delete .github/workflows/update-dotnet-tools.yml
  .github/workflows/update-dotnet-tools.yml
Due: prettier, yamllint, actionlint, cspell

Delete .github/workflows/update-dotnet-tools.yml (#175)
  .github/workflows/update-dotnet-tools.yml
Due: prettier, yamllint, actionlint, cspell

Path conditions:
  sync-banner-version: any of: ^package\.json$
  prettier: any of: (?i)\.(md|markdown|json|asmdef|asmref|ya?ml)$
  markdown-structure-fix: any of: (?i)\.(md|markdown)$
  markdownlint: any of: (?i)\.(md|markdown)$
  yamllint: any of: (?i)\.(ya?ml)$
  validate-skills: any of: ^\.llm/.*\.md$
  skills-index-regen: any of: ^\.llm/.*\.md$
  actionlint: any of: ^\.github/workflows/.*\.ya?ml$
  cspell: any of: (?i)\.(md|cs|json|ya?ml|ps1|js)$
