Repository wallstop/DxMessaging: changes, and which pre-commit hooks are due for each by the changed paths.
All: sync-banner-version, prettier, markdown-structure-fix, markdownlint, yamllint, validate-skills, skills-index-regen, actionlint, cspell

sync-banner-version:
  name: Sync banner version from package.json
  ...

prettier:
  name: Prettier (Markdown, JSON, asmdef, asmref, YAML)
  entry: npx --yes prettier@3.8.0 --write
  language: system
  description: Use pinned Prettier version to match CI.

markdown-structure-fix:
  name: Markdown structure auto-fix (headings, fences)
  entry: node scripts/fix-md036-headings.js
  language: system
  description: Auto-fix MD036 (no-emphasis-as-heading) by converting bold-only lines to headings.

markdownlint:
  name: markdownlint (respect repo config)
  entry: npx --yes markdownlint-cli2@0.17.1 --fix
  language: system

yamllint:
  name: yamllint (if available)
  entry: bash -c 'if command -v yamllint >/dev/null 2>&1; then yamllint -c .yamllint.yaml "$@"; else echo "yamllint not installed; skipping"; fi' --
  language: system

validate-skills:
  name: Validate LLM skill files
  entry: node scripts/validate-skills.js
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push
  description: Validate skill file schema compliance and file size limits.

skills-index-regen:
  name: Regenerate skills index.md
  entry: bash -c 'node scripts/generate-skills-index.js && { git add .llm/skills/index.md 2>/dev/null || true; }'
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push
  description: Regenerate index.md and stage it for commit.

actionlint:
  name: Lint GitHub Actions workflows
  entry: bash -c 'if command -v actionlint >/dev/null 2>&1; then actionlint; else echo "actionlint not installed; skipping"; fi'
  language: system
  pass_filenames: false
  stages:
  - pre-push
  description: Validate GitHub Actions workflow syntax before push.

cspell:
  name: Check spelling
  entry: npx --yes cspell@9 --no-progress --no-summary
  language: system
  pass_filenames: true
  stages:
  - pre-push
  description: Check spelling in changed files before push.

PR feedback
  .github/workflows/pre-commit-tooling-check.yml
  scripts/__tests__/run-managed-jest.test.js
  scripts/run-managed-jest.js
Due: prettier, yamllint, actionlint, cspell

Add meta file
  Tests/dxmsg-csharp-underscore-repo-excluded.meta
Due: none

PR feedback
  .github/workflows/pre-commit-tooling-check.yml
  .github/workflows/validate-npm-meta.yml
  .llm/context.md
  Editor/Analyzers/BaseCallLogMessageParser.cs
  Editor/Analyzers/BaseCallReportAggregator.cs
  Editor/Analyzers/BaseCallTypeScannerCore.cs
  Editor/Analyzers/WallstopStudios.DxMessaging.Analyzer.dll
  Editor/Analyzers/WallstopStudios.DxMessaging.SourceGenerators.dll
  Editor/CustomEditors/MessageAwareComponentFallbackEditor.cs
  Editor/CustomEditors/MessageAwareComponentInspectorOverlay.cs
  SourceGenerators/WallstopStudios.DxMessaging.SourceGenerators.Tests/BaseCallTypeScannerTests.cs
  com.wallstop-studios.dxmessaging.sln
  scripts/__tests__/fix-csharp-underscore-methods.test.js
  scripts/__tests__/validate-workflows.test.js
  scripts/__tests__/verify-managed-jest-fallback.test.js
  scripts/fix-csharp-underscore-methods.js
  scripts/validate-workflows.js
  scripts/verify-managed-jest-fallback.js
Due: prettier, markdown-structure-fix, markdownlint, yamllint, validate-skills, skills-index-regen, actionlint, cspell

PR feedback
  .github/workflows/validate-npm-meta.yml
  scripts/__tests__/validate-workflows.test.js
  scripts/validate-workflows.js
Due: prettier, yamllint, actionlint, cspell

PR feedback
  .github/scripts/check-markdown-links.ps1
  .github/scripts/check_markdown_links.py
  .github/scripts/check_markdown_url_encoding.py
  .github/scripts/test_check_markdown_links.py
  .github/scripts/test_check_markdown_url_encoding.py
  .github/workflows/markdown-link-text-check.yml
  .llm/context.md
  .llm/skills/documentation/changelog-entry-writing.md
  .llm/skills/index.md
  .llm/skills/testing/inspector-overlay-invariants.md
  .pre-commit-config.yaml
  AGENTS.md
  CHANGELOG.md
  CLAUDE.md
  CONTRIBUTING.md
  Editor/Analyzers/WallstopStudios.DxMessaging.Analyzer.dll
  Editor/Analyzers/WallstopStudios.DxMessaging.SourceGenerators.dll
  SourceGenerators/WallstopStudios.DxMessaging.Analyzer/Analyzers/MessageAwareComponentBaseCallAnalyzer.cs
  SourceGenerators/WallstopStudios.DxMessaging.SourceGenerators.Tests/MessageAwareComponentBaseCallAnalyzerTests.cs
  scripts/__tests__/pre-commit-hook-stage-policy.test.js
  scripts/__tests__/validate-changelog.test.js
  scripts/validate-changelog.js
Due: prettier, markdown-structure-fix, markdownlint, yamllint, validate-skills, skills-index-regen, actionlint, cspell

PR feedback
  .cspell.json
Due: prettier, cspell

PR feedback
  .gitignore
  SourceGenerators/WallstopStudios.DxMessaging.SourceGenerators.Tests/CompilationMessageHarvestTests.cs
  failed-tests.txt
  failed-tests.txt.meta
Due: cspell

Optimize githooks
  .cspell.json
  .devcontainer/devcontainer-lock.json
  .devcontainer/devcontainer.json
  .devcontainer/post-create.sh
  .devcontainer/verify-tools.sh
  .github/workflows/hook-perf-measurement.yml
  .github/workflows/pre-commit-tooling-check.yml
  .llm/context.md
  .llm/skills/testing/leak-watcher-usage.md
  .pre-commit-config.yaml
  package.json
  scripts/__tests__/cspell-version-parity.test.js
  scripts/__tests__/run-staged-md-pipeline.test.js
  scripts/__tests__/validate-node-tooling.test.js
  scripts/__tests__/validate-pre-commit-tooling.test.js
  scripts/__tests__/validate-workflows.test.js
  scripts/run-staged-md-pipeline.js
  scripts/validate-node-tooling.js
  scripts/validate-pre-commit-tooling.js
Due: sync-banner-version, prettier, markdown-structure-fix, markdownlint, yamllint, validate-skills, skills-index-regen, actionlint, cspell

PR feedback
  .llm/skills/index.md
  .llm/skills/unity/base-call-contract.md
  .vale.ini
  Editor/Analyzers/BaseCallTypeScannerCore.cs
  Editor/Analyzers/WallstopStudios.DxMessaging.Analyzer.dll
  Editor/Analyzers/WallstopStudios.DxMessaging.SourceGenerators.dll
  SourceGenerators/WallstopStudios.DxMessaging.SourceGenerators.Tests/BaseCallTypeScannerTests.cs
  Tests/Runtime/Core/TestAttributeContractTests.cs
  docs/architecture/comparisons.md
  docs/architecture/performance.md
  scripts/__tests__/staged-doc-formatters.test.js
  scripts/__tests__/staged-doc-formatters.test.js.meta
  scripts/__tests__/validate-node-tooling.test.js.meta
  scripts/lib/staged-doc-formatters.js
  scripts/run-staged-validators.js
  scripts/validate-node-tooling.js.meta
Due: prettier, markdown-structure-fix, markdownlint, validate-skills, skills-index-regen, cspell

Perf updates
  .github/pull_request_template.md
  .github/workflows/perf-numbers-check.yml
  .llm/skills/index.md
  .llm/skills/performance/dispatch-hot-path.md
  .llm/skills/performance/sweep-gate-must-be-cheap.md
  CHANGELOG.md
  Editor.meta
  Runtime/Core/Configuration/DxMessagingRuntimeSettings.cs
  Runtime/Core/MessageBus/MessageBus.cs
  Tests/Editor/Allocations/EmitGateClockReadIsRare.cs
  Tests/Editor/Allocations/EmitGateClockReadIsRare.cs.meta
  Tests/Editor/Benchmarks/AssemblyInfo.cs
  Tests/Editor/Benchmarks/PerfRegressionSmokeTests.cs
  Tests/Editor/Benchmarks/PerfRegressionSmokeTests.cs.meta
  Tests/Editor/Benchmarks/WallstopStudios.DxMessaging.Tests.00.Editor.Benchmarks.asmdef
  Tests/Editor/Comparisons/WallstopStudios.DxMessaging.Tests.00.Editor.Comparisons.asmdef
  Tests/Editor/Comparisons/WallstopStudios.DxMessaging.Tests.00.Editor.Comparisons.asmdef.meta
  Tests/Editor/Contract/EvictionSweepContractTests.cs
  Tests/Runtime/Benchmarks.meta
  Tests/Runtime/Benchmarks/DispatchThroughputBenchmarks.cs
  Tests/Runtime/Benchmarks/DispatchThroughputBenchmarks.cs.meta
  Tests/Runtime/Benchmarks/WallstopStudios.DxMessaging.Tests.00.Runtime.Benchmarks.asmdef
  Tests/Runtime/Benchmarks/WallstopStudios.DxMessaging.Tests.00.Runtime.Benchmarks.asmdef.meta
  Tests/Runtime/MemoryReclaim/MemoryReclamationTests.cs
  docs/architecture/comparisons.md
  docs/architecture/performance.md
  llms.txt
Due: prettier, markdown-structure-fix, markdownlint, yamllint, validate-skills, skills-index-regen, actionlint, cspell

Update dictionary
  .cspell.json
Due: prettier, cspell

Fix mosts tests, minor correctness improvements
  .llm/skills/index.md
  .llm/skills/performance/memory-reclamation.md
  CHANGELOG.md
  Editor/Analyzers/WallstopStudios.DxMessaging.Analyzer.dll
  Editor/Analyzers/WallstopStudios.DxMessaging.SourceGenerators.dll
  Runtime/Core/DxMessagingStaticState.cs
  Runtime/Core/MessageBus/IMessageBus.cs
  Runtime/Core/MessageBus/MessageBus.cs
  Runtime/Core/Pooling/DxPools.cs
  Runtime/Core/Pooling/PoolDiagnosticsSnapshot.cs
  Tests/Editor/Allocations/AllocationMatrixTests.cs
  Tests/Runtime/Core/MessageHandlerGlobalBusTests.cs
  Tests/Runtime/MemoryReclaim/MemoryReclamationTests.cs
  docs/architecture/comparisons.md
  docs/architecture/performance.md
  scripts/__tests__/extract-perf-baseline.test.js
  scripts/__tests__/extract-perf-baseline.test.js.meta
  scripts/unity/extract-perf-baseline.js
  scripts/unity/extract-perf-baseline.js.meta
Due: prettier, markdown-structure-fix, markdownlint, validate-skills, skills-index-regen, cspell

Remove PLAN mentions
  .github/pull_request_template.md
  .github/workflows/perf-numbers-check.yml
  CHANGELOG.md
  Runtime/Core/Configuration/DxMessagingRuntimeSettings.cs
  Runtime/Core/Internal/TypedDispatchLinkIndex.cs
  Runtime/Core/Internal/TypedGlobalSlotIndex.cs
  Runtime/Core/Internal/TypedSlotIndex.cs
  Runtime/Core/Internal/TypedSlots.cs
  Runtime/Core/MessageBus/Internal/BusSlots.cs
  Runtime/Core/MessageBus/Internal/IEvictableSlot.cs
  Runtime/Core/MessageBus/MessageBus.cs
  Runtime/Core/MessageHandler.cs
  Tests/Editor/Benchmarks/PerfRegressionSmokeTests.cs
  Tests/Editor/Contract/BusGlobalSlotLiveCountTests.cs
  Tests/Editor/Contract/CounterBasedTouchTests.cs
  Tests/Editor/Contract/RegistrationMethodAxisCoverageTests.cs
  Tests/Editor/Contract/TypedSlotIndexCoverageTests.cs
  Tests/Editor/Contract/TypedSlotShapeTests.cs
  docs/architecture/performance.md
Due: prettier, markdown-structure-fix, markdownlint, yamllint, actionlint, cspell

Add new perf baseline
  scripts/__tests__/unity-perf-baseline-script-contract.test.js
  scripts/__tests__/unity-perf-baseline-script-contract.test.js.meta
  scripts/__tests__/unity-runner-script-contract.test.js
  scripts/unity/capture-perf-baseline.ps1
  scripts/unity/capture-perf-baseline.ps1.meta
  scripts/unity/run-tests.ps1
  scripts/unity/run-tests.sh
Due: cspell

Fix tests
  scripts/__tests__/unity-runner-script-contract.test.js
  scripts/unity/run-tests.ps1
  scripts/unity/run-tests.sh
Due: cspell

Fix windows runner
  scripts/__tests__/unity-runner-script-contract.test.js
  scripts/unity/run-tests.ps1
Due: cspell

Perf test improvements
  .unity-test-project/Packages/manifest.json
  .unity-test-project/Packages/packages-lock.json
  Tests/Runtime/Benchmarks/DispatchThroughputBenchmarks.cs
  docs/architecture/comparisons.md
  docs/architecture/performance.md
  scripts/__tests__/unity-perf-baseline-script-contract.test.js
  scripts/__tests__/unity-runner-script-contract.test.js
  scripts/unity/capture-perf-baseline.ps1
  scripts/unity/run-tests.ps1
  scripts/unity/run-tests.sh
Due: prettier, markdown-structure-fix, markdownlint, cspell

Fix cross-platform scrips
  .github/workflows/script-tests.yml
  .llm/context.md
  .pre-commit-config.yaml
  package.json
  scripts/__tests__/fix-csharp-underscore-methods.test.js
  scripts/__tests__/unity-perf-baseline-script-contract.test.js
  scripts/__tests__/unity-runner-script-contract.test.js
  scripts/unity/activate-license.sh
  scripts/unity/run-tests.sh
Due: sync-banner-version, prettier, markdown-structure-fix, markdownlint, yamllint, validate-skills, skills-index-regen, actionlint, cspell

GitHook reliability
  .cspell.json
  .github/workflows/devcontainer-prebuild.yml
  .github/workflows/devcontainer-test.yml
  .llm/context.md
  scripts/__tests__/cspell-version-parity.test.js
  scripts/__tests__/unity-perf-baseline-script-contract.test.js
  scripts/unity/capture-perf-baseline.ps1
Due: prettier, markdown-structure-fix, markdownlint, yamllint, validate-skills, skills-index-regen, actionlint, cspell

PR feedback
  .github/workflows-disabled/unity-benchmarks.yml
  .github/workflows-disabled/unity-il2cpp.yml
  .github/workflows-disabled/unity-tests.yml
  .github/workflows/validate-npm-meta.yml
  .llm/context.md
  .llm/skills/index.md
  .llm/skills/unity/devcontainer-cache-contract.md
  .llm/skills/unity/headless-test-runner.md
  .llm/skills/unity/unity-ci-matrix.md
  .llm/skills/unity/unity-license-bootstrap.md
  .llm/skills/unity/unity-perf-test-isolation.md
  .llm/skills/unity/upm-test-harness.md
  docs/architecture/comparisons.md
  llms.txt
  scripts/__tests__/claude-permissions-contract.test.js
  scripts/__tests__/fix-csharp-underscore-methods.test.js
  scripts/__tests__/unity-perf-isolation.test.js
  scripts/__tests__/unity-test-harness-contract.test.js
  scripts/__tests__/unity-workflow-shape.test.js
  scripts/fix-csharp-underscore-methods.js
  scripts/unity/lib/asmdef-discovery.js
  scripts/unity/lib/parse-test-results.py
Due: prettier, markdown-structure-fix, markdownlint, yamllint, validate-skills, skills-index-regen, actionlint, cspell

PR feedback
  scripts/__tests__/fix-csharp-underscore-methods.test.js
  scripts/fix-csharp-underscore-methods.js
Due: cspell

Fix CI
  .devcontainer/validate-caching.sh
  .github/workflows/devcontainer-prebuild.yml
  .github/workflows/devcontainer-test.yml
  .llm/skills/github-actions/cicd-devcontainer-workflows.md
  .llm/skills/index.md
  Editor/Analyzers/WallstopStudios.DxMessaging.Analyzer.dll
  Editor/Analyzers/WallstopStudios.DxMessaging.SourceGenerators.dll
  SourceGenerators/WallstopStudios.DxMessaging.SourceGenerators.Tests/WallstopStudios.DxMessaging.SourceGenerators.Tests.csproj
  scripts/__tests__/devcontainer-cache-contract.test.js
  scripts/__tests__/unity-workflow-shape.test.js
Due: prettier, markdown-structure-fix, markdownlint, yamllint, validate-skills, skills-index-regen, actionlint, cspell

Fix CI (#206)
  .devcontainer/validate-caching.sh
  .github/workflows/devcontainer-prebuild.yml
  .github/workflows/devcontainer-test.yml
  .llm/skills/github-actions/cicd-devcontainer-workflows.md
  .llm/skills/index.md
  Editor/Analyzers/WallstopStudios.DxMessaging.Analyzer.dll
  Editor/Analyzers/WallstopStudios.DxMessaging.SourceGenerators.dll
  SourceGenerators/WallstopStudios.DxMessaging.SourceGenerators.Tests/WallstopStudios.DxMessaging.SourceGenerators.Tests.csproj
  scripts/__tests__/devcontainer-cache-contract.test.js
  scripts/__tests__/unity-workflow-shape.test.js
Due: prettier, markdown-structure-fix, markdownlint, yamllint, validate-skills, skills-index-regen, actionlint, cspell

CI fixes
  .github/workflows-disabled/unity-benchmarks.yml
  .github/workflows-disabled/unity-il2cpp.yml
  .github/workflows-disabled/unity-tests.yml
  .github/workflows/actionlint.yml
  .github/workflows/changelog-policy-check.yml
  .github/workflows/docs-lint.yml
  .github/workflows/format-on-demand.yml
  .github/workflows/hook-perf-measurement.yml
  .github/workflows/json-format-check.yml
  .github/workflows/lint-doc-links.yml
  .github/workflows/llm-policy-check.yml
  .github/workflows/markdown-json.yml
  .github/workflows/markdown-link-validity.yml
  .github/workflows/markdownlint.yml
  .github/workflows/pre-commit-tooling-check.yml
  .github/workflows/prettier-autofix.yml
  .github/workflows/release-drafter.yml
  .github/workflows/script-tests.yml
  .github/workflows/spellcheck.yml
  .github/workflows/sync-wiki.yml
  .github/workflows/update-llms-txt.yml
  .github/workflows/validate-llms-txt.yml
  .github/workflows/validate-npm-meta.yml
  .github/workflows/validate-skills.yml
  .github/workflows/yaml-format-lint.yml
  .llm/context.md
  .llm/skills/github-actions/workflow-consistency-part-1.md
  .pre-commit-config.yaml
  package.json
  scripts/__tests__/cspell-version-parity.test.js
  scripts/__tests__/validate-workflows.test.js
Due: sync-banner-version, prettier, markdown-structure-fix, markdownlint, yamllint, validate-skills, skills-index-regen, actionlint, cspell

Bump release
  CHANGELOG.md
Due: prettier, markdown-structure-fix, markdownlint, cspell

PR feedback
  docs/images/DxMessaging-banner.svg
  llms.txt
  package.json
  scripts/__tests__/validate-changelog.test.js
  scripts/validate-changelog.js
Due: sync-banner-version, prettier, cspell

PR feedback
  .github/workflows/pre-commit-tooling-check.yml
  scripts/__tests__/validate-changelog.test.js
  scripts/__tests__/validate-workflows.test.js
  scripts/validate-changelog.js
  scripts/validate-workflows.js
Due: prettier, yamllint, actionlint, cspell

Path conditions:
  sync-banner-version: any of: ^package\.json$
  prettier: any of: (?i)\.(md|markdown|json|asmdef|asmref|ya?ml)$
  markdown-structure-fix: any of: (?i)\.(md|markdown)$
  markdownlint: any of: (?i)\.(md|markdown)$
  yamllint: any of: (?i)\.(ya?ml)$
  validate-skills: any of: ^\.llm/.*\.md$
  skills-index-regen: any of: ^\.llm/.*\.md$
  actionlint: any of: ^\.github/workflows/.*\.ya?ml$
  cspell: any of: (?i)\.(md|cs|json|ya?ml|ps1|js)$
