Repository wallstop/DxMessaging: changes, and which pre-commit hooks are due for each by the changed paths.
All: sync-banner-version, prettier, markdown-structure-fix, markdownlint, yamllint, validate-skills, skills-index-regen, actionlint, cspell

sync-banner-version:
  name: Sync banner version from package.json
  ...

prettier:
  name: Prettier (Markdown, JSON, asmdef, asmref, YAML)
  entry: npx --yes prettier@3.8.0 --write
  language: system
  description: Use pinned Prettier version to match CI.

markdown-structure-fix:
  name: Markdown structure auto-fix (headings, fences)
  entry: node scripts/fix-md036-headings.js
  language: system
  description: Auto-fix MD036 (no-emphasis-as-heading) by converting bold-only lines to headings.

markdownlint:
  name: markdownlint (respect repo config)
  entry: npx --yes markdownlint-cli2@0.17.1 --fix
  language: system

yamllint:
  name: yamllint (if available)
  entry: bash -c 'if command -v yamllint >/dev/null 2>&1; then yamllint -c .yamllint.yaml "$@"; else echo "yamllint not installed; skipping"; fi' --
  language: system

validate-skills:
  name: Validate LLM skill files
  entry: node scripts/validate-skills.js
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push
  description: Validate skill file schema compliance and file size limits.

skills-index-regen:
  name: Regenerate skills index.md
  entry: bash -c 'node scripts/generate-skills-index.js && { git add .llm/skills/index.md 2>/dev/null || true; }'
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push
  description: Regenerate index.md and stage it for commit.

actionlint:
  name: Lint GitHub Actions workflows
  entry: bash -c 'if command -v actionlint >/dev/null 2>&1; then actionlint; else echo "actionlint not installed; skipping"; fi'
  language: system
  pass_filenames: false
  stages:
  - pre-push
  description: Validate GitHub Actions workflow syntax before push.

cspell:
  name: Check spelling
  entry: npx --yes cspell@9 --no-progress --no-summary
  language: system
  pass_filenames: true
  stages:
  - pre-push
  description: Check spelling in changed files before push.

Fix deterministic CI failures on dependabot PRs due to CRLF in git index (#179)
  .github/workflows/prettier-autofix.yml
  SourceGenerators/WallstopStudios.DxMessaging.SourceGenerators.Tests/WallstopStudios.DxMessaging.SourceGenerators.Tests.csproj
  scripts/check-eol.js
  scripts/fix-eol.js
Due: prettier, yamllint, actionlint, cspell

Bump release-drafter/release-drafter from 6 to 7 (#183)
  .github/workflows/prettier-autofix.yml
  SourceGenerators/WallstopStudios.DxMessaging.SourceGenerators.Tests/WallstopStudios.DxMessaging.SourceGenerators.Tests.csproj
Due: prettier, yamllint, actionlint, cspell

Potential fix for pull request finding
  scripts/update-llms-txt.js
Due: cspell

Potential fix for pull request finding
  scripts/__tests__/update-llms-txt.test.js
Due: cspell

PR feedback
  .github/workflows/script-tests.yml
  .github/workflows/update-llms-txt.yml
  .llm/context.md
  .pre-commit-config.yaml
  llms.txt
  package.json
  scripts/__tests__/update-llms-txt.test.js
  scripts/update-llms-txt.js
Due: sync-banner-version, prettier, markdown-structure-fix, markdownlint, yamllint, validate-skills, skills-index-regen, actionlint, cspell

PR feedback
  .github/workflows/lint-doc-links.yml
  .github/workflows/markdown-link-validity.yml
  .llm/skills/github-actions/lychee-configuration.md
  .llm/skills/github-actions/lychee-configuration.md.meta
  .llm/skills/index.md
  .lychee.toml
  .pre-commit-config.yaml
  llms.txt
  scripts/__tests__/generate-skills-index.test.js
  scripts/__tests__/validate-lychee-config.test.js
  scripts/__tests__/validate-lychee-config.test.js.meta
  scripts/generate-skills-index.js
  scripts/validate-lychee-config.js
  scripts/validate-lychee-config.js.meta
Due: prettier, markdown-structure-fix, markdownlint, yamllint, validate-skills, skills-index-regen, actionlint, cspell

PR feedback
  .llm/skills/github-actions/lychee-configuration.md
  .llm/skills/index.md
  .lychee.toml
  scripts/__tests__/validate-lychee-config.test.js
  scripts/validate-lychee-config.js
Due: prettier, markdown-structure-fix, markdownlint, validate-skills, skills-index-regen, cspell

PR feedback
  .gitignore
  .llm/skills/github-actions/lychee-configuration.md
  .llm/skills/index.md
  .pre-commit-config.yaml
  scripts/__tests__/validate-lychee-config.test.js
  scripts/validate-lychee-config.js
Due: prettier, markdown-structure-fix, markdownlint, yamllint, validate-skills, skills-index-regen, cspell

PR feedback
  .llm/context.md
  .llm/skills/github-actions/lychee-configuration.md
  .llm/skills/index.md
  .llm/skills/scripting/validation-patterns.md
  .pre-commit-config.yaml
  scripts/__tests__/generate-skills-index.test.js
  scripts/__tests__/validate-lychee-config.test.js
  scripts/__tests__/validate-skills-required-fields.test.js
  scripts/generate-skills-index.js
  scripts/validate-lychee-config.js
  scripts/validate-skills.js
Due: prettier, markdown-structure-fix, markdownlint, yamllint, validate-skills, skills-index-regen, cspell

PR feedback
  .llm/context.md
  .pre-commit-config.yaml
  llms.txt
  scripts/__tests__/update-llms-txt.test.js
  scripts/update-llms-txt.js
Due: prettier, markdown-structure-fix, markdownlint, yamllint, validate-skills, skills-index-regen, cspell

PR feedback
  .llm/context.md
  .pre-commit-config.yaml
  llms.txt.meta
  scripts/__tests__/quote-parser.test.js
  scripts/__tests__/quote-parser.test.js.meta
  scripts/__tests__/update-llms-txt.test.js.meta
  scripts/__tests__/validate-lychee-config.test.js
  scripts/generate-skills-index.js
  scripts/lib.meta
  scripts/lib/quote-parser.js
  scripts/lib/quote-parser.js.meta
  scripts/update-llms-txt.js.meta
  scripts/validate-lychee-config.js
  scripts/validate-skills.js
Due: prettier, markdown-structure-fix, markdownlint, yamllint, validate-skills, skills-index-regen, cspell

PR feedback
  .llm/context.md
  .pre-commit-config.yaml
  scripts/__tests__/check-eol.test.js
  scripts/__tests__/generate-skills-index.test.js
  scripts/__tests__/quote-parser.test.js
  scripts/__tests__/validate-lychee-config.test.js
  scripts/__tests__/validate-npm-meta.test.js
  scripts/__tests__/validate-skills-required-fields.test.js
  scripts/__tests__/validate-workflows.test.js
  scripts/check-eol.js
  scripts/generate-skills-index.js
  scripts/lib/quote-parser.js
  scripts/update-llms-txt.js
  scripts/validate-lychee-config.js
  scripts/validate-npm-meta.js
  scripts/validate-skills.js
  scripts/validate-workflows.js
Due: prettier, markdown-structure-fix, markdownlint, yamllint, validate-skills, skills-index-regen, cspell

PR feedback
  .gitattributes
  .llm/context.md
  .pre-commit-config.yaml
  scripts/__tests__/check-eol.test.js
  scripts/__tests__/check-eol.test.js.meta
  scripts/check-eol.js
  scripts/check-eol.ps1
  scripts/fix-eol.js
  scripts/lib/eol-policy.js
  scripts/lib/eol-policy.js.meta
Due: prettier, markdown-structure-fix, markdownlint, yamllint, validate-skills, skills-index-regen, cspell

PR feedback
  .llm/context.md
  .pre-commit-config.yaml
  CONTRIBUTING.md
  scripts/__tests__/check-eol.test.js
  scripts/check-eol.js
  scripts/check-eol.ps1
  scripts/fix-eol.js
  scripts/fix-markdown-file.js
  scripts/lib/eol-policy.js
Due: prettier, markdown-structure-fix, markdownlint, yamllint, validate-skills, skills-index-regen, cspell

PR feedback
  scripts/__tests__/update-llms-txt.test.js
  scripts/wiki/__tests__/transform.test.js
  scripts/wiki/transform-docs-to-wiki.js
Due: cspell

CI
  .cspell.json
Due: prettier, cspell

PR feedback
  .github/workflows/llm-policy-check.yml
  .gitignore
  .llm/context.md
  .llm/skills/documentation/changelog-entry-writing.md
  .llm/skills/documentation/markdown-compatibility.md
  .llm/skills/index.md
  .pre-commit-config.yaml
  .vscode/settings.json
  CONTRIBUTING.md
  package.json
  scripts/__tests__/validate-skills-llm-policy.test.js
  scripts/__tests__/validate-vscode-settings.test.js
  scripts/__tests__/validate-vscode-settings.test.js.meta
  scripts/validate-skills.js
  scripts/validate-vscode-settings.js
  scripts/validate-vscode-settings.js.meta
Due: sync-banner-version, prettier, markdown-structure-fix, markdownlint, yamllint, validate-skills, skills-index-regen, actionlint, cspell

Fix cspell
  .cspell.json
Due: prettier, cspell

PR feedback
  .llm/skills/index.md
  .llm/skills/scripting/validation-patterns.md
  scripts/__tests__/check-eol.test.js
  scripts/__tests__/validate-vscode-settings.test.js
  scripts/fix-eol.js
  scripts/generate-skills-index.js
  scripts/update-llms-txt.js
  scripts/validate-skills.js
  scripts/validate-vscode-settings.js
  scripts/validate-workflows.js
  scripts/wiki/transform-docs-to-wiki.js
Due: prettier, markdown-structure-fix, markdownlint, validate-skills, skills-index-regen, cspell

PR feedback
  .cspell.json
Due: prettier, cspell

chore(dependabot): group updates into larger weekly PRs
  .github/dependabot.yml
Due: prettier, yamllint, cspell

chore(dependabot): prefer larger area-grouped Dependabot PRs (#189)
  .github/dependabot.yml
Due: prettier, yamllint, cspell

GitHook fixes
  .cspell.json
  .github/workflows/format-on-demand.yml
  .github/workflows/validate-npm-meta.yml
  .llm/context.md
  .pre-commit-config.yaml
  CONTRIBUTING.md
  package.json
  scripts/__tests__/detect-shell-redirection-antipattern.test.js
  scripts/__tests__/detect-shell-redirection-antipattern.test.js.meta
  scripts/__tests__/generate-skills-index.test.js
  scripts/__tests__/pre-commit-hook-stage-policy.test.js
  scripts/__tests__/pre-commit-hook-stage-policy.test.js.meta
  scripts/__tests__/prettier-version.test.js
  scripts/__tests__/run-managed-jest.test.js.meta
  scripts/__tests__/run-managed-prettier.test.js
  scripts/__tests__/shell-command.test.js
  scripts/__tests__/validate-npm-meta.test.js
  scripts/__tests__/validate-pre-commit-tooling.test.js
  scripts/__tests__/validate-pre-commit-tooling.test.js.meta
  scripts/__tests__/verify-managed-jest-fallback.test.js.meta
  scripts/generate-skills-index.js
  scripts/lib/prettier-version.js
  scripts/lib/shell-command.js
  scripts/lib/shell-command.js.meta
  scripts/run-managed-jest.js
  scripts/run-managed-jest.js.meta
  scripts/run-managed-prettier.js
  scripts/validate-npm-meta.js
  scripts/validate-pre-commit-tooling.js
  scripts/validate-pre-commit-tooling.js.meta
  scripts/verify-managed-jest-fallback.js.meta
Due: sync-banner-version, prettier, markdown-structure-fix, markdownlint, yamllint, validate-skills, skills-index-regen, actionlint, cspell

Remove underscored tests
  .gitignore
  .llm/context.md
  .llm/skills/index.md
  .llm/skills/testing/test-coverage-organization-assertions.md
  .llm/skills/testing/test-coverage-unity-anti-patterns.md
  .pre-commit-config.yaml
  CHANGELOG.md
  Editor/Analyzers/BaseCallIlInspector.cs
  Editor/Analyzers/BaseCallLogMessageParser.cs
  Editor/Analyzers/BaseCallReportAggregator.cs
  Editor/Analyzers/BaseCallTypeScannerCore.cs
  Editor/Analyzers/WallstopStudios.DxMessaging.Analyzer.dll
  Editor/Analyzers/WallstopStudios.DxMessaging.SourceGenerators.dll
  Editor/CustomEditors/MessageAwareComponentInspectorOverlay.cs
  SourceGenerators/WallstopStudios.DxMessaging.SourceGenerators.Tests/BaseCallIlInspectorTests.cs
  SourceGenerators/WallstopStudios.DxMessaging.SourceGenerators.Tests/BaseCallLogMessageParserTests.cs
  SourceGenerators/WallstopStudios.DxMessaging.SourceGenerators.Tests/BaseCallTypeScannerTests.cs
  SourceGenerators/WallstopStudios.DxMessaging.SourceGenerators.Tests/CompilationMessageHarvestTests.cs
  llms.txt
  package.json
  scripts/__tests__/fix-csharp-underscore-methods.test.js
  scripts/__tests__/fix-csharp-underscore-methods.test.js.meta
  scripts/__tests__/generate-skills-index.test.js
  scripts/__tests__/pre-commit-hook-stage-policy.test.js
  scripts/__tests__/prettier-version.test.js.meta
  scripts/__tests__/run-managed-prettier.test.js.meta
  scripts/__tests__/shell-command.test.js.meta
  scripts/__tests__/validate-pre-commit-tooling.test.js
  scripts/fix-csharp-underscore-methods.js
  scripts/fix-csharp-underscore-methods.js.meta
  scripts/generate-skills-index.js
  scripts/lib/prettier-version.js.meta
  scripts/run-managed-prettier.js.meta
  scripts/update-llms-txt.js
  scripts/validate-pre-commit-tooling.js
Due: sync-banner-version, prettier, markdown-structure-fix, markdownlint, yamllint, validate-skills, skills-index-regen, cspell

PR feedback
  .github/workflows/deploy-docs.yml
  .github/workflows/pre-commit-tooling-check.yml
  .github/workflows/validate-docs.yml
  docs/reference/analyzers.md
  mkdocs.yml
Due: prettier, markdown-structure-fix, markdownlint, yamllint, actionlint, cspell

PR feedback
  .github/workflows/json-format-check.yml
  .github/workflows/llm-policy-check.yml
  .github/workflows/markdown-json.yml
  .github/workflows/pre-commit-tooling-check.yml
  .github/workflows/prettier-autofix.yml
  .github/workflows/script-tests.yml
  .github/workflows/yaml-format-lint.yml
  .llm/context.md
  package.json
  scripts/__tests__/fix-csharp-underscore-methods.test.js
  scripts/__tests__/validate-pre-commit-tooling.test.js
  scripts/__tests__/validate-workflows.test.js
  scripts/fix-csharp-underscore-methods.js
  scripts/validate-pre-commit-tooling.js
  scripts/validate-workflows.js
Due: sync-banner-version, prettier, markdown-structure-fix, markdownlint, yamllint, validate-skills, skills-index-regen, actionlint, cspell

Path conditions:
  sync-banner-version: any of: ^package\.json$
  prettier: any of: (?i)\.(md|markdown|json|asmdef|asmref|ya?ml)$
  markdown-structure-fix: any of: (?i)\.(md|markdown)$
  markdownlint: any of: (?i)\.(md|markdown)$
  yamllint: any of: (?i)\.(ya?ml)$
  validate-skills: any of: ^\.llm/.*\.md$
  skills-index-regen: any of: ^\.llm/.*\.md$
  actionlint: any of: ^\.github/workflows/.*\.ya?ml$
  cspell: any of: (?i)\.(md|cs|json|ya?ml|ps1|js)$
