Repository wallstop/DxMessaging: changes, and which pre-commit hooks are due for each by the changed paths.
All: sync-banner-version, prettier, markdown-structure-fix, markdownlint, yamllint, validate-skills, skills-index-regen, actionlint, cspell

sync-banner-version:
  name: Sync banner version from package.json
  ...

prettier:
  name: Prettier (Markdown, JSON, asmdef, asmref, YAML)
  entry: npx --yes prettier@3.8.0 --write
  language: system
  description: Use pinned Prettier version to match CI.

markdown-structure-fix:
  name: Markdown structure auto-fix (headings, fences)
  entry: node scripts/fix-md036-headings.js
  language: system
  description: Auto-fix MD036 (no-emphasis-as-heading) by converting bold-only lines to headings.

markdownlint:
  name: markdownlint (respect repo config)
  entry: npx --yes markdownlint-cli2@0.17.1 --fix
  language: system

yamllint:
  name: yamllint (if available)
  entry: bash -c 'if command -v yamllint >/dev/null 2>&1; then yamllint -c .yamllint.yaml "$@"; else echo "yamllint not installed; skipping"; fi' --
  language: system

validate-skills:
  name: Validate LLM skill files
  entry: node scripts/validate-skills.js
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push
  description: Validate skill file schema compliance and file size limits.

skills-index-regen:
  name: Regenerate skills index.md
  entry: bash -c 'node scripts/generate-skills-index.js && { git add .llm/skills/index.md 2>/dev/null || true; }'
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push
  description: Regenerate index.md and stage it for commit.

actionlint:
  name: Lint GitHub Actions workflows
  entry: bash -c 'if command -v actionlint >/dev/null 2>&1; then actionlint; else echo "actionlint not installed; skipping"; fi'
  language: system
  pass_filenames: false
  stages:
  - pre-push
  description: Validate GitHub Actions workflow syntax before push.

cspell:
  name: Check spelling
  entry: npx --yes cspell@9 --no-progress --no-summary
  language: system
  pass_filenames: true
  stages:
  - pre-push
  description: Check spelling in changed files before push.

Bump release (3.0.1) (#207)
  .github/workflows/pre-commit-tooling-check.yml
  CHANGELOG.md
  docs/images/DxMessaging-banner.svg
  llms.txt
  package.json
  scripts/__tests__/validate-changelog.test.js
  scripts/__tests__/validate-workflows.test.js
  scripts/validate-changelog.js
  scripts/validate-workflows.js
Due: sync-banner-version, prettier, markdown-structure-fix, markdownlint, yamllint, actionlint, cspell

CI fixes?
  .github/actionlint.yaml
  .github/workflows/actionlint.yml
  .github/workflows/release.yml
  .github/workflows/spellcheck.yml
  .github/workflows/validate-npm-meta.yml
  .gitignore
  .lychee.toml
  .npmignore
  SourceGenerators/WallstopStudios.DxMessaging.Analyzer/WallstopStudios.DxMessaging.Analyzer.csproj.lscache
  SourceGenerators/WallstopStudios.DxMessaging.Analyzer/WallstopStudios.DxMessaging.Analyzer.csproj.lscache.meta
  SourceGenerators/WallstopStudios.DxMessaging.SourceGenerators.Tests/WallstopStudios.DxMessaging.SourceGenerators.Tests.csproj.lscache
  SourceGenerators/WallstopStudios.DxMessaging.SourceGenerators.Tests/WallstopStudios.DxMessaging.SourceGenerators.Tests.csproj.lscache.meta
  SourceGenerators/WallstopStudios.DxMessaging.SourceGenerators/WallstopStudios.DxMessaging.SourceGenerators.csproj.lscache
  SourceGenerators/WallstopStudios.DxMessaging.SourceGenerators/WallstopStudios.DxMessaging.SourceGenerators.csproj.lscache.meta
  docs/images/DxMessaging-banner.svg
  scripts/validate-npm-meta.js
Due: prettier, yamllint, actionlint, cspell

CI fixes
  .github/workflows/release.yml
  .github/workflows/unity-benchmarks.yml
  .github/workflows/unity-il2cpp.yml
  .github/workflows/unity-tests.yml
  docs/ops/ambiguous-release-migration.md
  docs/ops/ci-and-github-settings.md
  docs/ops/release-operations.md
  scripts/__tests__/generate-ambiguous-release-runbook.test.js
  scripts/__tests__/unity-workflow-shape.test.js
  scripts/__tests__/validate-workflows.test.js
  scripts/validate-workflows.js
Due: prettier, markdown-structure-fix, markdownlint, yamllint, actionlint, cspell

PR feedback
  .github/actionlint.yaml
  .github/workflows/release.yml
  .github/workflows/unity-benchmarks.yml
  .github/workflows/unity-il2cpp.yml
  .github/workflows/unity-tests.yml
  .llm/context.md
  .pre-commit-config.yaml
  docs/ops/ambiguous-release-migration.md
  docs/ops/ci-and-github-settings.md
  docs/ops/release-operations.md
  llms.txt
  package.json
  scripts/__tests__/unity-workflow-shape.test.js
  scripts/__tests__/validate-workflows-concurrency-and-labels.test.js
  scripts/__tests__/validate-workflows-concurrency-and-labels.test.js.meta
  scripts/__tests__/validate-workflows.test.js
  scripts/validate-workflows.js
Due: sync-banner-version, prettier, markdown-structure-fix, markdownlint, yamllint, validate-skills, skills-index-regen, actionlint, cspell

CI fixes
  .github/actionlint.yaml
  .github/workflows/release.yml
  .github/workflows/stuck-job-watchdog.yml
  .github/workflows/unity-benchmarks.yml
  .github/workflows/unity-il2cpp.yml
  .github/workflows/unity-tests.yml
  .llm/context.md
  docs/ops/ambiguous-release-migration.md
  docs/ops/ci-and-github-settings.md
  docs/ops/release-operations.md
  scripts/__tests__/unity-workflow-shape.test.js
  scripts/__tests__/validate-workflows-concurrency-and-labels.test.js
  scripts/__tests__/validate-workflows.test.js
  scripts/validate-workflows.js
Due: prettier, markdown-structure-fix, markdownlint, yamllint, validate-skills, skills-index-regen, actionlint, cspell

Update cspell
  .cspell.json
Due: prettier, cspell

CI fixes?
  .github/workflows/stuck-job-watchdog.yml
  .github/workflows/unstick-run.yml
  .llm/context.md
  docs/ops/ambiguous-release-migration.md
  docs/ops/ci-and-github-settings.md
  docs/ops/release-operations.md
  scripts/__tests__/validate-workflows-concurrency-and-labels.test.js
Due: prettier, markdown-structure-fix, markdownlint, yamllint, validate-skills, skills-index-regen, actionlint, cspell

Git fixes
  .cspell.json
  .github/copilot-instructions.md
  .llm/context.md
  .pre-commit-config.yaml
  docs/images/DxMessaging-banner.svg
  llms.txt
  package.json
  scripts/__tests__/sync-banner-version-node.test.js
  scripts/__tests__/sync-banner-version-node.test.js.meta
  scripts/__tests__/sync-banner-version.test.js
  scripts/__tests__/validate-pre-commit-tooling.test.js
  scripts/sync-banner-version.js
  scripts/sync-banner-version.js.meta
  scripts/sync-banner-version.ps1
  scripts/sync-banner-version.sh
  scripts/validate-banner.js
  scripts/validate-pre-commit-tooling.js
Due: sync-banner-version, prettier, markdown-structure-fix, markdownlint, yamllint, validate-skills, skills-index-regen, cspell

GitHook fixes
  .github/copilot-instructions.md
  .github/workflows/pre-commit-tooling-check.yml
  .llm/context.md
  scripts/__tests__/generate-skills-index.test.js
  scripts/__tests__/managed-prettier.test.js
  scripts/__tests__/managed-prettier.test.js.meta
  scripts/__tests__/run-managed-jest.test.js
  scripts/__tests__/run-managed-prettier.test.js
  scripts/__tests__/run-staged-md-pipeline.test.js
  scripts/__tests__/validate-node-tooling.test.js
  scripts/__tests__/verify-managed-jest-fallback.test.js
  scripts/generate-skills-index.js
  scripts/lib/managed-prettier.js
  scripts/lib/managed-prettier.js.meta
  scripts/run-managed-jest.js
  scripts/run-managed-prettier.js
  scripts/run-staged-md-pipeline.js
  scripts/validate-node-tooling.js
  scripts/verify-managed-jest-fallback.js
Due: prettier, markdown-structure-fix, markdownlint, yamllint, validate-skills, skills-index-regen, actionlint, cspell

CI fixes
  .github/copilot-instructions.md
  .github/workflows/pre-commit-tooling-check.yml
  .llm/context.md
  .pre-commit-config.yaml
  package.json
  scripts/__tests__/run-managed-jest-no-injected-test-runner.test.js
  scripts/__tests__/run-managed-jest-no-injected-test-runner.test.js.meta
  scripts/__tests__/run-managed-jest.test.js
  scripts/__tests__/validate-node-tooling.test.js
  scripts/__tests__/validate-pre-commit-tooling.test.js
  scripts/postinstall.js
  scripts/postinstall.js.meta
  scripts/run-managed-jest.js
  scripts/validate-node-tooling.js
  scripts/validate-pre-commit-tooling.js
Due: sync-banner-version, prettier, markdown-structure-fix, markdownlint, yamllint, validate-skills, skills-index-regen, actionlint, cspell

GitHook fixes
  .cspell.json
  .pre-commit-config.yaml
  docs/images/DxMessaging-banner.svg
  scripts/__tests__/jest-error-decoder.test.js
  scripts/__tests__/jest-error-decoder.test.js.meta
  scripts/__tests__/no-testrunner-injection-policy.test.js
  scripts/__tests__/no-testrunner-injection-policy.test.js.meta
  scripts/__tests__/run-managed-jest-no-injected-test-runner.test.js
  scripts/__tests__/run-managed-jest.test.js
  scripts/__tests__/validate-node-tooling.test.js
  scripts/lib/__tests__.meta
  scripts/lib/__tests__/source-stripping.test.js
  scripts/lib/__tests__/source-stripping.test.js.meta
  scripts/lib/jest-error-decoder.js
  scripts/lib/jest-error-decoder.js.meta
  scripts/lib/source-stripping.js
  scripts/lib/source-stripping.js.meta
  scripts/run-managed-jest.js
  scripts/validate-node-tooling.js
Due: prettier, yamllint, cspell

Formatting
  scripts/lib/__tests__/source-stripping.test.js
Due: cspell

Even more GitHook fixes
  .github/workflows/pre-commit-tooling-check.yml
  .github/workflows/script-tests.yml
  .llm/context.md
  .llm/skills/index.md
  .llm/skills/performance/git-hook-performance.md
  .llm/skills/scripting/cross-platform-compatibility.md
  .llm/skills/scripting/jest-hook-robustness.md
  .llm/skills/scripting/let-tools-resolve-modules.md
  .pre-commit-config.yaml
  llms.txt
  package.json
  scripts/__tests__/doctor.test.js
  scripts/__tests__/doctor.test.js.meta
  scripts/__tests__/llm-skills-jest-robustness-coverage.test.js
  scripts/__tests__/llm-skills-jest-robustness-coverage.test.js.meta
  scripts/__tests__/preflight-pre-push-coverage.test.js
  scripts/__tests__/preflight-pre-push-coverage.test.js.meta
  scripts/doctor.js
  scripts/doctor.js.meta
Due: sync-banner-version, prettier, markdown-structure-fix, markdownlint, yamllint, validate-skills, skills-index-regen, actionlint, cspell

CI fixes
  .cspell.json
  .github/workflows/cross-platform-preflight.yml
  .llm/context.md
  .llm/skills/index.md
  .llm/skills/scripting/integrity-gate-robustness.md
  docs/images/DxMessaging-banner.svg
  docs/runbooks/windows-partial-extract.md
  scripts/__tests__/cross-platform-path-handling.test.js
  scripts/__tests__/cross-platform-path-handling.test.js.meta
  scripts/__tests__/generate-skills-index.test.js
  scripts/__tests__/node-modules-integrity.test.js
  scripts/__tests__/path-classifier.test.js
  scripts/__tests__/run-managed-cspell.test.js
  scripts/__tests__/run-managed-jest.test.js
  scripts/__tests__/run-managed-prettier.test.js
  scripts/__tests__/validate-node-tooling.test.js
  scripts/lib/integrity-gate-with-recovery.js
  scripts/lib/node-modules-integrity.js
  scripts/lib/path-classifier.js
  scripts/run-managed-cspell.js
  scripts/run-managed-jest.js
  scripts/run-managed-prettier.js
  scripts/verify-managed-jest-fallback.js
Due: prettier, markdown-structure-fix, markdownlint, yamllint, validate-skills, skills-index-regen, actionlint, cspell

Update spelling
  .cspell.json
Due: prettier, cspell

GitHook fixes
  .claude/settings.json
  .devcontainer/validate-caching.sh
  .devcontainer/verify-tools.sh
  .github/actions/print-self-hosted-runner-diagnostics/action.yml
  .github/workflows/yaml-format-lint.yml
  .gitignore
  .llm/context.md
  .llm/skills/github-actions/yaml-line-length.md
  .llm/skills/github-actions/yaml-line-length.md.meta
  .llm/skills/index.md
  .lychee.toml
  .pre-commit-config.yaml
  docs/images/DxMessaging-banner.svg
  docs/runbooks/unity-runners-after-transfer.md
  llms.txt
  package.json
  scripts/__tests__/devcontainer-cache-contract.test.js
  scripts/__tests__/docs-out-of-tree-link-guard.test.js
  scripts/__tests__/fix-yaml-comments-line-length.test.js
  scripts/__tests__/shell-portability.test.js
  scripts/__tests__/shell-portability.test.js.meta
  scripts/__tests__/unity-workflow-shape.test.js
  scripts/__tests__/yaml-line-length-guard.test.js
  scripts/__tests__/yaml-line-length-guard.test.js.meta
  scripts/__tests__/yaml-line-length-prevention.test.js
  scripts/__tests__/yaml-line-length-prevention.test.js.meta
  scripts/__tests__/yaml-line-length.test.js
  scripts/__tests__/yaml-line-length.test.js.meta
  scripts/fix-yaml-block-scalar-line-length.js
  scripts/fix-yaml-block-scalar-line-length.js.meta
  scripts/fix-yaml-comments-line-length.js
  scripts/hooks/yaml-line-length-guard.js
  scripts/hooks/yaml-line-length-guard.js.meta
  scripts/lib/yaml-line-length.js
  scripts/lib/yaml-line-length.js.meta
  scripts/validate-docs-out-of-tree-links.js
Due: sync-banner-version, prettier, markdown-structure-fix, markdownlint, yamllint, validate-skills, skills-index-regen, actionlint, cspell

CI fixes
  .github/actions/compute-unity-assemblies/action.yml
  .github/actions/verify-unity-results/action.yml
  .github/workflows/release.yml
  .github/workflows/unity-benchmarks.yml
  .github/workflows/unity-il2cpp.yml
  .github/workflows/unity-tests.yml
  .llm/context.md
  .llm/skills/index.md
  .llm/skills/unity/headless-test-runner.md
  .llm/skills/unity/unity-ci-matrix.md
  .llm/skills/unity/unity-license-bootstrap.md
  .llm/skills/unity/unity-perf-test-isolation.md
  .llm/skills/unity/upm-test-harness.md
  scripts/__tests__/powershell-syntax.test.js
  scripts/__tests__/powershell-syntax.test.js.meta
  scripts/__tests__/unity-runner-script-contract.test.js
  scripts/__tests__/unity-workflow-shape.test.js
  scripts/unity/run-tests.ps1
  scripts/unity/run-tests.sh
Due: prettier, markdown-structure-fix, markdownlint, yamllint, validate-skills, skills-index-regen, actionlint, cspell

CI fixes
  .cspell.json
  .github/actionlint.yaml
  .github/actions/compute-unity-assemblies/action.yml
  .github/workflows-disabled/unity-il2cpp.yml
  .github/workflows/release.yml
  .github/workflows/unity-benchmarks.yml
  .github/workflows/unity-il2cpp.yml
  .github/workflows/unity-tests.yml
  .gitignore
  .llm/context.md
  .llm/skills/index.md
  .llm/skills/unity/headless-test-runner.md
  .llm/skills/unity/unity-ci-matrix.md
  .llm/skills/unity/unity-perf-test-isolation.md
  .llm/skills/unity/upm-test-harness.md
  .unity-test-project/Assets/Editor.meta
  .unity-test-project/Assets/Editor/TestRunnerBuilder.cs
  .unity-test-project/Assets/Editor/TestRunnerBuilder.cs.meta
  .unity-test-project/Assets/Editor/WallstopStudios.DxMessaging.TestHarness.Editor.asmdef
  .unity-test-project/Assets/Editor/WallstopStudios.DxMessaging.TestHarness.Editor.asmdef.meta
  .unity-test-project/ProjectSettings/ProjectSettings.asset
  docs/ops/ambiguous-release-migration.md
  docs/ops/ci-and-github-settings.md
  docs/ops/post-transfer-verification.md
  docs/ops/release-operations.md
  docs/runbooks/unity-runners-after-transfer.md
  scripts/__tests__/generate-ambiguous-release-runbook.test.js
  scripts/__tests__/unity-perf-isolation.test.js
  scripts/__tests__/unity-runner-script-contract.test.js
  scripts/__tests__/unity-test-harness-contract.test.js
  scripts/__tests__/unity-workflow-shape.test.js
  scripts/__tests__/validate-workflows.test.js
  scripts/unity/lib/asmdef-discovery.js
  scripts/unity/lib/parse-test-results.py
  scripts/unity/run-tests.ps1
  scripts/unity/run-tests.sh
  scripts/validate-workflows.js
Due: prettier, markdown-structure-fix, markdownlint, yamllint, validate-skills, skills-index-regen, actionlint, cspell

CI fixes
  .github/actions/print-self-hosted-runner-diagnostics/action.yml
  .github/actions/validate-unity-license/action.yml
  .github/workflows/release.yml
  .github/workflows/stuck-job-watchdog.yml
  .github/workflows/unity-benchmarks.yml
  .github/workflows/unity-tests.yml
  .gitignore
  .llm/context.md
  .llm/skills/index.md
  .llm/skills/unity/unity-ci-matrix.md
  .llm/skills/unity/unity-license-bootstrap.md
  docs/ops/ambiguous-release-migration.md
  docs/ops/ci-and-github-settings.md
  docs/ops/release-operations.md
  scripts/__tests__/unity-workflow-shape.test.js
  scripts/__tests__/validate-npm-meta.test.js
  scripts/__tests__/validate-workflows-concurrency-and-labels.test.js
  scripts/validate-npm-meta.js
  scripts/validate-workflows.js
Due: prettier, markdown-structure-fix, markdownlint, yamllint, validate-skills, skills-index-regen, actionlint, cspell

Cool new build speed
  .github/workflows/release.yml
  .github/workflows/unity-benchmarks.yml
  .github/workflows/unity-gameci-experiment.yml
  .github/workflows/unity-tests.yml
  .llm/context.md
  .llm/skills/index.md
  .llm/skills/unity/headless-test-runner.md
  .llm/skills/unity/unity-ci-matrix.md
  .llm/skills/unity/unity-perf-test-isolation.md
  .llm/skills/unity/upm-test-harness.md
  docs/ops/ci-and-github-settings.md
  scripts/__tests__/unity-runner-script-contract.test.js
  scripts/__tests__/unity-test-harness-contract.test.js
  scripts/__tests__/unity-workflow-shape.test.js
  scripts/unity/ensure-editor.ps1
  scripts/unity/ensure-editor.ps1.meta
  scripts/unity/run-ci-tests.ps1
  scripts/unity/run-ci-tests.ps1.meta
Due: prettier, markdown-structure-fix, markdownlint, yamllint, validate-skills, skills-index-regen, actionlint, cspell

Fix spelling
  .cspell.json
Due: prettier, cspell

CI fixes
  .github/workflows/release.yml
  .github/workflows/unity-benchmarks.yml
  .github/workflows/unity-gameci-experiment.yml
  .github/workflows/unity-tests.yml
  .llm/skills/index.md
  .llm/skills/unity/unity-ci-matrix.md
  .llm/skills/unity/unity-editor-cli-bootstrap.md
  llms.txt
  scripts/__tests__/unity-runner-script-contract.test.js
  scripts/__tests__/unity-workflow-shape.test.js
  scripts/__tests__/validate-workflows-concurrency-and-labels.test.js
  scripts/unity/ensure-editor.ps1
  scripts/validate-workflows.js
Due: prettier, markdown-structure-fix, markdownlint, yamllint, validate-skills, skills-index-regen, actionlint, cspell

CI fixes
  .llm/skills/index.md
  .llm/skills/unity/unity-ci-matrix.md
  .llm/skills/unity/unity-editor-cli-bootstrap.md
  scripts/__tests__/unity-runner-script-contract.test.js
  scripts/unity/ensure-editor.ps1
Due: prettier, markdown-structure-fix, markdownlint, validate-skills, skills-index-regen, cspell

PR feedback
  .llm/skills/index.md
  .llm/skills/scripting/powershell-best-practices-part-2.md
  .llm/skills/scripting/powershell-best-practices.md
  scripts/__tests__/powershell-strictmode-collection-safety.test.js
  scripts/__tests__/powershell-strictmode-collection-safety.test.js.meta
  scripts/__tests__/unity-runner-strictmode-smoke.test.js
  scripts/__tests__/unity-runner-strictmode-smoke.test.js.meta
  scripts/unity/run-ci-tests.ps1
Due: prettier, markdown-structure-fix, markdownlint, validate-skills, skills-index-regen, cspell

License tech upgrades
  .github/actions/return-unity-license/action.yml
  .github/actions/validate-unity-license/action.yml
  .github/workflows-disabled/unity-benchmarks.yml
  .github/workflows-disabled/unity-tests.yml
  .github/workflows/devcontainer-test.yml
  .github/workflows/release.yml
  .github/workflows/unity-benchmarks.yml
  .github/workflows/unity-gameci-experiment.yml
  .github/workflows/unity-tests.yml
  .llm/context.md
  .llm/skills/index.md
  .llm/skills/unity/headless-test-runner.md
  .llm/skills/unity/unity-ci-matrix.md
  .llm/skills/unity/unity-license-bootstrap.md
  .llm/skills/unity/unity-license-return-guarantee.md
  docs/images/DxMessaging-banner.svg
  docs/ops/ambiguous-release-migration.md
  docs/ops/ci-and-github-settings.md
  llms.txt
  scripts/__tests__/devcontainer-cache-contract.test.js
  scripts/__tests__/powershell-unity-process-wait-safety.test.js
  scripts/__tests__/powershell-unity-process-wait-safety.test.js.meta
  scripts/__tests__/unity-ensure-editor-il2cpp-idempotency.test.js
  scripts/__tests__/unity-ensure-editor-il2cpp-idempotency.test.js.meta
  scripts/__tests__/unity-license-leak-safety.test.js
  scripts/__tests__/unity-license-leak-safety.test.js.meta
  scripts/__tests__/unity-runner-script-contract.test.js
  scripts/__tests__/unity-runner-strictmode-smoke.test.js
  scripts/__tests__/unity-workflow-shape.test.js
  scripts/__tests__/validate-workflows-concurrency-and-labels.test.js
  scripts/unity/activate-license.sh
  scripts/unity/ensure-editor.ps1
  scripts/unity/run-ci-tests.ps1
  scripts/unity/run-tests.ps1
  scripts/unity/run-tests.sh
  scripts/validate-workflows.js
Due: prettier, markdown-structure-fix, markdownlint, yamllint, validate-skills, skills-index-regen, actionlint, cspell

CI fixes
  .github/actions/return-unity-license/action.yml
  .github/workflows/pre-commit-tooling-check.yml
  .pre-commit-config.yaml
  CHANGELOG.md
  Runtime/Core/MessageRegistrationToken.cs
  scripts/__tests__/unity-ensure-editor-il2cpp-idempotency.test.js
  scripts/__tests__/unity-runner-script-contract.test.js
  scripts/__tests__/unity-runner-strictmode-smoke.test.js
  scripts/__tests__/unity-test-harness-contract.test.js
  scripts/__tests__/unity-workflow-shape.test.js
  scripts/unity/ensure-editor.ps1
  scripts/unity/run-ci-tests.ps1
Due: prettier, markdown-structure-fix, markdownlint, yamllint, actionlint, cspell

GitHook fixes
  .llm/context.md
  .llm/skills/index.md
  .llm/skills/scripting/native-git-hooks.md
  .llm/skills/scripting/native-git-hooks.md.meta
  .pre-commit-config.yaml
  llms.txt
  package.json
  scripts/__tests__/cspell-version-parity.test.js
  scripts/__tests__/native-git-hooks.test.js
  scripts/__tests__/native-git-hooks.test.js.meta
  scripts/__tests__/pre-commit-hook-stage-policy.test.js
  scripts/__tests__/shell-command.test.js
  scripts/__tests__/unity-ensure-editor-il2cpp-idempotency.test.js
  scripts/__tests__/validate-pre-commit-tooling.test.js
  scripts/__tests__/yaml-line-length-prevention.test.js
  scripts/hooks/pre-commit
  scripts/hooks/pre-push
  scripts/hooks/pre-push.meta
  scripts/install-git-hooks.js
  scripts/install-git-hooks.js.meta
  scripts/lib/shell-command.js
  scripts/postinstall.js
  scripts/repair-node-tooling.js
  scripts/repair-node-tooling.js.meta
  scripts/validate-pre-commit-tooling.js
Due: sync-banner-version, prettier, markdown-structure-fix, markdownlint, yamllint, validate-skills, skills-index-regen, cspell

GitHook fixes
  .llm/context.md
  .pre-commit-config.yaml
  scripts/__tests__/pre-commit-hook-stage-policy.test.js
  scripts/__tests__/run-managed-jest.test.js
  scripts/__tests__/shell-command.test.js
  scripts/__tests__/spawn-invocation-policy.test.js
  scripts/__tests__/spawn-invocation-policy.test.js.meta
  scripts/__tests__/validate-npm-meta.test.js
  scripts/lib/shell-command.js
Due: prettier, markdown-structure-fix, markdownlint, yamllint, validate-skills, skills-index-regen, cspell

Even more GitHook fixes?
  .cspell.json
  .llm/context.md
  .pre-commit-config.yaml
  scripts/__tests__/hermetic-host-env-policy.test.js
  scripts/__tests__/hermetic-host-env-policy.test.js.meta
  scripts/__tests__/pre-commit-hook-stage-policy.test.js
  scripts/__tests__/unity-ensure-editor-il2cpp-idempotency.test.js
  scripts/__tests__/unity-runner-strictmode-smoke.test.js
  scripts/__tests__/unity-test-harness-contract.test.js
  scripts/lib/__tests__/spawn-env-sandbox.test.js
  scripts/lib/__tests__/spawn-env-sandbox.test.js.meta
  scripts/lib/spawn-env-sandbox.js
  scripts/lib/spawn-env-sandbox.js.meta
Due: prettier, markdown-structure-fix, markdownlint, yamllint, validate-skills, skills-index-regen, cspell

CI fixes
  .cspell.json
  .github/workflows/cross-platform-preflight.yml
  .llm/context.md
  .pre-commit-config.yaml
  docs/images/DxMessaging-banner.svg
  scripts/__tests__/cross-platform-path-handling.test.js
  scripts/__tests__/cross-platform-preflight-coverage.test.js
  scripts/__tests__/cross-platform-preflight-coverage.test.js.meta
  scripts/__tests__/hermetic-host-env-policy.test.js
  scripts/__tests__/node-modules-integrity.test.js
  scripts/__tests__/path-classifier.test.js
  scripts/__tests__/pre-commit-hook-stage-policy.test.js
  scripts/__tests__/run-managed-jest.test.js
  scripts/__tests__/shell-command.test.js
  scripts/__tests__/spawn-invocation-policy.test.js
  scripts/__tests__/unity-ensure-editor-il2cpp-idempotency.test.js
  scripts/lib/__tests__/source-stripping.test.js
  scripts/lib/__tests__/spawn-env-sandbox.test.js
  scripts/lib/source-stripping.js
Due: prettier, markdown-structure-fix, markdownlint, yamllint, validate-skills, skills-index-regen, actionlint, cspell

CI fixes
  .github/workflows/cross-platform-preflight.yml
  .github/workflows/hook-perf-measurement.yml
  llms.txt
  package.json
  scripts/__tests__/unity-ensure-editor-il2cpp-idempotency.test.js
  scripts/__tests__/unity-perf-baseline-script-contract.test.js
  scripts/__tests__/unity-test-harness-contract.test.js
  scripts/__tests__/validate-npm-meta.test.js
  scripts/__tests__/validate-workflows.test.js
  scripts/lib/__tests__/spawn-env-sandbox.test.js
  scripts/lib/spawn-env-sandbox.js
  scripts/measure-hook-wallclock.js
  scripts/unity/run-ci-tests.ps1
  scripts/validate-npm-meta.js
  scripts/validate-workflows.js
Due: sync-banner-version, prettier, yamllint, actionlint, cspell

CI fixes
  .github/workflows/cross-platform-preflight.yml
  .llm/context.md
  .llm/skills/index.md
  .llm/skills/scripting/cross-platform-compatibility.md
  llms.txt
  scripts/__tests__/unity-ensure-editor-il2cpp-idempotency.test.js
  scripts/__tests__/unity-native-startup-probe-isolation.test.js
  scripts/__tests__/unity-native-startup-probe-isolation.test.js.meta
  scripts/unity/ensure-editor.ps1
Due: prettier, markdown-structure-fix, markdownlint, yamllint, validate-skills, skills-index-regen, actionlint, cspell

PR feedback
  .github/workflows-disabled/unity-tests.yml
  .github/workflows/cross-platform-preflight.yml
  .github/workflows/unity-tests.yml
  .llm/skills/unity/unity-ci-matrix.md
  docs/ops/ci-and-github-settings.md
  scripts/__tests__/pwsh-output-assertion-policy.test.js
  scripts/__tests__/pwsh-output-assertion-policy.test.js.meta
  scripts/__tests__/unity-ensure-editor-il2cpp-idempotency.test.js
  scripts/__tests__/unity-ensure-editor-production-contract.test.js
  scripts/__tests__/unity-ensure-editor-production-contract.test.js.meta
  scripts/__tests__/unity-perf-baseline-script-contract.test.js
  scripts/__tests__/unity-runner-script-contract.test.js
  scripts/__tests__/unity-runner-strictmode-smoke.test.js
  scripts/__tests__/unity-workflow-shape.test.js
  scripts/lib/__tests__/pwsh-output.test.js
  scripts/lib/__tests__/pwsh-output.test.js.meta
  scripts/lib/pwsh-output.js
  scripts/lib/pwsh-output.js.meta
  scripts/unity/ensure-editor.ps1
Due: prettier, markdown-structure-fix, markdownlint, yamllint, validate-skills, skills-index-regen, actionlint, cspell

CI fixes
  .llm/skills/index.md
  .llm/skills/unity/unity-editor-cli-bootstrap.md
  scripts/__tests__/unity-ensure-editor-il2cpp-idempotency.test.js
  scripts/__tests__/unity-ensure-editor-production-contract.test.js
  scripts/__tests__/unity-runner-script-contract.test.js
  scripts/unity/ensure-editor.ps1
Due: prettier, markdown-structure-fix, markdownlint, validate-skills, skills-index-regen, cspell

Path conditions:
  sync-banner-version: any of: ^package\.json$
  prettier: any of: (?i)\.(md|markdown|json|asmdef|asmref|ya?ml)$
  markdown-structure-fix: any of: (?i)\.(md|markdown)$
  markdownlint: any of: (?i)\.(md|markdown)$
  yamllint: any of: (?i)\.(ya?ml)$
  validate-skills: any of: ^\.llm/.*\.md$
  skills-index-regen: any of: ^\.llm/.*\.md$
  actionlint: any of: ^\.github/workflows/.*\.ya?ml$
  cspell: any of: (?i)\.(md|cs|json|ya?ml|ps1|js)$
