Repository wallstop/DxMessaging: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, markdown-structure-fix, markdownlint, yamllint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: dotnet-tool-restore
        name: Install .NET tools
        entry: dotnet tool restore
        language: system
        always_run: true
        pass_filenames: false
        stages:
          - pre-commit
          - pre-push
          - post-checkout
          - post-rewrite
        description: Install the .NET tools listed at .config/dotnet-tools.json.
      - id: csharpier
        name: Run CSharpier on C# files
        entry: dotnet tool run csharpier format
        language: system
        types:
          - c#
        description: CSharpier is an opinionated C# formatter inspired by Prettier.

  - repo: local
    hooks:
      - id: prettier
        name: Prettier (Markdown, JSON, asmdef, asmref, YAML)
        entry: npx --yes prettier@3.6.2 --write
        language: system
        files: '(?i)\.(md|markdown|json|asmdef|asmref|ya?ml)$'
        description: Use pinned Prettier version to match CI.

  - repo: local
    hooks:
      - id: markdown-structure-fix
        name: Markdown structure auto-fix (headings, fences)
        entry: node scripts/fix-md036-headings.js
        language: system
        files: '(?i)\.(md|markdown)$'
        description: Auto-fix MD036 (no-emphasis-as-heading) by converting bold-only lines to headings.

  - repo: local
    hooks:
      - id: markdownlint
        name: markdownlint (respect repo config)
        entry: npx --yes markdownlint-cli2@0.17.1 --config .markdownlint.jsonc
        language: system
        files: '(?i)\.(md|markdown)$'

  - repo: local
    hooks:
      - id: yamllint
        name: yamllint (if available)
        entry: bash -c 'if command -v yamllint >/dev/null 2>&1; then yamllint -c .yamllint.yaml "$@"; else echo "yamllint not installed; skipping"; fi' --
        language: system
        files: '(?i)\.(ya?ml)$'

  - repo: local
    hooks:
      - id: fix-eol
        name: Normalize CRLF and strip BOM
        entry: node scripts/fix-eol.js
        language: system
        stages:
          - pre-commit
        pass_filenames: true
        description: Automatically rewrite text files to match CI EOL/BOM policy.

  - repo: local
    hooks:
      - id: eol-bom-check
        name: Enforce CRLF and no BOM
        entry: node scripts/check-eol.js
        language: system
        pass_filenames: true
        stages:
          - pre-commit
          - pre-push

  - repo: local
    hooks:
      - id: conflict-markers
        name: Fail on merge conflict markers
        entry: bash -lc 'if rg -n -S -g "!**/.git/**" -e "^(<<<<<<<|=======|>>>>>>>)" .; then echo "Conflict markers found. Resolve merges before committing." >&2; exit 1; fi'
        language: system
        pass_filenames: false
        stages:
          - pre-commit

Performance Improvements - Take 1 (#123)
  .config/dotnet-tools.json
  .gitignore
  .pre-commit-config.yaml
  Docs/Comparisons.md
  Docs/Performance.md
  Editor/Settings/DxMessagingSettings.cs
  Runtime/Core/MessageBus/IMessageBus.cs
  Runtime/Core/MessageBus/MessageBus.cs
  Runtime/Core/MessageBus/MessageRegistrationBuilder.cs
  Runtime/Core/MessageHandler.cs
  Tests/Runtime/Core/BroadcastTests.cs
  Tests/Runtime/Core/CyclicBufferTests.cs
  Tests/Runtime/Core/DiagnosticsTests.cs
  Tests/Runtime/Core/DxMessagingStaticStateTests.cs
  Tests/Runtime/Core/GlobalAcceptAllTests.cs
  Tests/Runtime/Core/MutationDedupeTests.cs
  Tests/Runtime/Core/MutationDuringEmissionTests.cs
  Tests/Runtime/Core/MutationHighVolumeStressTests.cs
  Tests/Runtime/Core/MutationHighVolumeStressTests.cs.meta
  Tests/Runtime/Core/NominalTests.cs
  Tests/Runtime/Core/PostProcessorTests.cs
  Tests/Runtime/Core/RegistrationTests.cs
  Tests/Runtime/Core/TargetedTests.cs
  Tests/Runtime/Core/UntargetedTests.cs
  Tests/Runtime/Integrations/Zenject/ZenjectIntegrationTests.cs
  scripts/check-eol.js
Due: prettier, markdown-structure-fix, markdownlint, yamllint

Update EOL settings
  .github/workflows/csharpier-autofix.yml
  .github/workflows/dotnet-tests.yml
  .github/workflows/format-on-demand.yml
  .github/workflows/json-format-check.yml
  .github/workflows/lint-doc-links.yml
  .github/workflows/markdown-json.yml
  .github/workflows/markdown-link-text-check.yml
  .github/workflows/markdown-link-validity.yml
  .github/workflows/markdownlint.yml
  .github/workflows/npm-publish.yml
  .github/workflows/prettier-autofix.yml
  .github/workflows/update-dotnet-tools.yml
  .github/workflows/yaml-format-lint.yml
  SourceGenerators/WallstopStudios.DxMessaging.SourceGenerators.Tests/WallstopStudios.DxMessaging.SourceGenerators.Tests.csproj
  package.json
  scripts/check-eol.js
  scripts/check-eol.ps1
Due: prettier, yamllint

Better auto-healing
  .pre-commit-config.yaml
Due: prettier, yamllint

PR feedback
  AGENTS.md
  scripts/check-eol.js
  scripts/check-eol.ps1
Due: prettier, markdown-structure-fix, markdownlint

Update EOL settings (#125)
  .github/workflows/csharpier-autofix.yml
  .github/workflows/dotnet-tests.yml
  .github/workflows/format-on-demand.yml
  .github/workflows/json-format-check.yml
  .github/workflows/lint-doc-links.yml
  .github/workflows/markdown-json.yml
  .github/workflows/markdown-link-text-check.yml
  .github/workflows/markdown-link-validity.yml
  .github/workflows/markdownlint.yml
  .github/workflows/npm-publish.yml
  .github/workflows/prettier-autofix.yml
  .github/workflows/update-dotnet-tools.yml
  .github/workflows/yaml-format-lint.yml
  .pre-commit-config.yaml
  AGENTS.md
  SourceGenerators/WallstopStudios.DxMessaging.SourceGenerators.Tests/WallstopStudios.DxMessaging.SourceGenerators.Tests.csproj
  package.json
  scripts/check-eol.js
  scripts/check-eol.ps1
Due: prettier, markdown-structure-fix, markdownlint, yamllint

devcontainers + llm overhaul
  .github/workflows/validate-skills.yml
  .gitignore
  .llm/context.md
  .llm/skills/documentation/changelog-entry-writing.md
  .llm/skills/documentation/changelog-management.md
  .llm/skills/documentation/changelog-release-workflow.md
  .llm/skills/documentation/documentation-code-samples.md
  .llm/skills/documentation/documentation-style-guide.md
  .llm/skills/documentation/documentation-update-workflow.md
  .llm/skills/documentation/documentation-updates.md
  .llm/skills/documentation/documentation-xml-docs.md
  .llm/skills/documentation/link-quality-guidelines.md
  .llm/skills/documentation/skill-file-sizing.md
  .llm/skills/index.md
  .llm/skills/performance/object-pooling-anti-patterns.md
  .llm/skills/performance/object-pooling-usage-examples.md
  .llm/skills/performance/object-pooling-variations.md
  .llm/skills/performance/object-pooling.md
  .llm/skills/specification.md
  .llm/skills/testing/comprehensive-test-coverage.md
  .llm/skills/testing/data-driven-tests-sources.md
  .llm/skills/testing/data-driven-tests-usage.md
  .llm/skills/testing/test-coverage-data-driven.md
  .llm/skills/testing/test-coverage-organization-assertions.md
  .llm/skills/testing/test-coverage-scenario-categories.md
  .llm/skills/testing/test-coverage-unity-anti-patterns.md
  .llm/skills/testing/test-failure-investigation-procedure.md
  .llm/skills/testing/test-failure-investigation-root-causes.md
  .llm/skills/testing/test-failure-investigation.md
  .llm/skills/testing/test-invalid-skill.md
  .pre-commit-config.yaml
  scripts/hooks/pre-commit
  scripts/validate-skills.js
Due: prettier, markdown-structure-fix, markdownlint, yamllint

PR feedback
  .github/scripts/check-markdown-links.ps1
  .github/scripts/check_markdown_links.py
  .github/scripts/test_check_markdown_links.py
  .llm/context.md
  .llm/skills/documentation/documentation-code-samples.md
  .llm/skills/documentation/documentation-style-guide.md
  .llm/skills/documentation/documentation-update-workflow.md
  .llm/skills/documentation/documentation-updates.md
  .llm/skills/documentation/link-quality-guidelines.md
  .llm/skills/index.md
Due: prettier, markdown-structure-fix, markdownlint

PR feedback
  .llm/skills/documentation/link-quality-guidelines.md
  .llm/skills/index.md
Due: prettier, markdown-structure-fix, markdownlint

Fix PR
  .gitignore
  .llm/skills/documentation/link-quality-guidelines.md
  .llm/skills/index.md
Due: prettier, markdown-structure-fix, markdownlint

Add explanatory comments to bare except clauses in check_markdown_links.py (#128)
  .github/scripts/check_markdown_links.py
Due: none

Remove unused $RepoRoot variable from generate-skills-index.ps1 (#129)
  scripts/generate-skills-index.ps1
Due: none

Rename $args to $nodeArgs in PowerShell script (#130)
  scripts/generate-skills-index.ps1
Due: none

Less congratulatory documentation
  Docs/Comparisons.md
  Docs/Compatibility.md
  Docs/DesignAndArchitecture.md
  Docs/EmitShorthands.md
  Docs/GettingStarted.md
  Docs/Glossary.md
  Docs/Helpers.md
  Docs/Index.md
  Docs/Integrations/Reflex.md
  Docs/Integrations/VContainer.md
  Docs/Integrations/Zenject.md
  Docs/InterceptorsAndOrdering.md
  Docs/ListeningPatterns.md
  Docs/Overview.md
  Docs/Patterns.md
  Docs/Performance.md
  Docs/QuickStart.md
  Docs/TargetingAndContext.md
  Docs/Testing.md
  Docs/Testing.md.meta
  Docs/VisualGuide.md
  README.md
  Samples~/DI/README.md
  Samples~/Mini Combat/README.md
  Samples~/Mini Combat/Walkthrough.md
  Samples~/UI Buttons + Inspector/README.md
Due: prettier, markdown-structure-fix, markdownlint

Initial spell checks
  .cspell.json
  .github/workflows/actionlint.yml
  .github/workflows/spellcheck.yml
  .llm/context.md
  .pre-commit-config.yaml
Due: prettier, markdown-structure-fix, markdownlint, yamllint

More CI/CD
  .github/workflows/actionlint.yml
  .github/workflows/markdownlint.yml
  .github/workflows/prettier-autofix.yml
  .github/workflows/spellcheck.yml
  .pre-commit-config.yaml
Due: prettier, yamllint

Update Docs/Glossary.md
  Docs/Glossary.md
Due: prettier, markdown-structure-fix, markdownlint

PR feedback
  .github/workflows/csharpier-autofix.yml
  .github/workflows/format-on-demand.yml
  .github/workflows/npm-publish.yml
  .github/workflows/prettier-autofix.yml
  .github/workflows/spellcheck.yml
  .github/workflows/update-dotnet-tools.yml
  .llm/context.md
  .pre-commit-config.yaml
  CONTRIBUTING.md
  package.json
  scripts/generate-skills-index.js
Due: prettier, markdown-structure-fix, markdownlint, yamllint

Update llm context
  .llm/context.md
Due: prettier, markdown-structure-fix, markdownlint

Docs Overhaul (#134)
  .cspell.json
  .github/workflows/actionlint.yml
  .github/workflows/csharpier-autofix.yml
  .github/workflows/format-on-demand.yml
  .github/workflows/markdownlint.yml
  .github/workflows/npm-publish.yml
  .github/workflows/prettier-autofix.yml
  .github/workflows/spellcheck.yml
  .github/workflows/update-dotnet-tools.yml
  .llm/context.md
  .pre-commit-config.yaml
  CONTRIBUTING.md
  Docs/Comparisons.md
  Docs/Compatibility.md
  Docs/DesignAndArchitecture.md
  Docs/EmitShorthands.md
  Docs/GettingStarted.md
  Docs/Glossary.md
  Docs/Helpers.md
  Docs/Index.md
  Docs/Integrations/Reflex.md
  Docs/Integrations/VContainer.md
  Docs/Integrations/Zenject.md
  Docs/InterceptorsAndOrdering.md
  Docs/ListeningPatterns.md
  Docs/Overview.md
  Docs/Patterns.md
  Docs/Performance.md
  Docs/QuickStart.md
  Docs/TargetingAndContext.md
  Docs/Testing.md
  Docs/Testing.md.meta
  Docs/VisualGuide.md
  README.md
  Samples~/DI/README.md
  Samples~/Mini Combat/README.md
  Samples~/Mini Combat/Walkthrough.md
  Samples~/UI Buttons + Inspector/README.md
  package.json
  scripts/generate-skills-index.js
Due: prettier, markdown-structure-fix, markdownlint, yamllint

Initial GitHub pages
  .llm/context.md
  CHANGELOG.md
  docs/advanced/message-bus-providers.md
  docs/advanced/runtime-configuration.md
  docs/architecture/comparisons.md
  docs/architecture/performance.md
  docs/concepts/interceptors-and-ordering.md
  docs/concepts/message-types.md
  docs/getting-started/index.md
  docs/getting-started/quick-start.md
  docs/guides/patterns.md
  docs/integrations/index.md
  docs/integrations/reflex.md
  docs/integrations/vcontainer.md
  docs/integrations/zenject.md
  docs/javascripts/csharp-highlight.js
  docs/reference/glossary.md
  docs/reference/helpers.md
  docs/reference/quick-reference.md
  docs/reference/reference.md
  docs/reference/troubleshooting.md
  docs/stylesheets/extra.css
  mkdocs.yml
Due: prettier, markdown-structure-fix, markdownlint, yamllint

PR feedback
  .cspell.json
  .github/workflows/deploy-docs.yml
  .github/workflows/sync-wiki.yml
  .github/workflows/validate-docs.yml
  .lychee.toml
  CHANGELOG.md
  Editor/Analyzers/WallstopStudios.DxMessaging.SourceGenerators.dll
  SourceGenerators/WallstopStudios.DxMessaging.SourceGenerators.Tests/DocsSnippetCompilationTests.cs
  docs/getting-started/install.md
Due: prettier, markdown-structure-fix, markdownlint, yamllint

PR feedback 2
  .github/workflows/validate-docs.yml
  .llm/context.md
  Editor/Analyzers/WallstopStudios.DxMessaging.SourceGenerators.dll
  SourceGenerators/WallstopStudios.DxMessaging.SourceGenerators.Tests/DocsSnippetCompilationTests.cs
Due: prettier, markdown-structure-fix, markdownlint, yamllint

Benchmark updates, PR feedback
  .github/workflows/sync-wiki.yml
  .gitignore
  .llm/skills/index.md
  .llm/skills/scripting/git-workflow-robustness.md
  .llm/skills/testing/git-workflow-robustness.md
  Editor/Analyzers/WallstopStudios.DxMessaging.SourceGenerators.dll
  docs/architecture/comparisons.md
  docs/architecture/performance.md
  docs/integrations/index.md.meta
  docs/javascripts/csharp-highlight.js.meta
  package.json
  scripts/wiki/__tests__/transform.test.js
  scripts/wiki/transform-docs-to-wiki.js
Due: prettier, markdown-structure-fix, markdownlint, yamllint

Update dependabot to ignore source generator project
  .github/dependabot.yml
Due: prettier, yamllint

Update dependabot to ignore source generator project (#137)
  .github/dependabot.yml
Due: prettier, yamllint

Add templates, fix CI/CD
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .devcontainer/verify-tools.sh
  .editorconfig
  .gitattributes
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/pull_request_template.md
  .github/release-drafter.yml
  .github/workflows/csharpier-autofix.yml
  .github/workflows/format-on-demand.yml
  .github/workflows/prettier-autofix.yml
  .github/workflows/release-drafter.yml
  .github/workflows/update-dotnet-tools.yml
  scripts/check-eol.js
  scripts/check-eol.ps1
  scripts/fix-eol.js
Due: prettier, markdown-structure-fix, markdownlint, yamllint

PR feedback
  .editorconfig
  .gitattributes
  .github/workflows/csharpier-autofix.yml
  .github/workflows/format-on-demand.yml
  .github/workflows/prettier-autofix.yml
  .github/workflows/release-drafter.yml
  .github/workflows/update-dotnet-tools.yml
  .llm/context.md
  .llm/skills/index.md
  .llm/skills/scripting/git-workflow-robustness.md
  CONTRIBUTING.md
  scripts/check-eol.js
  scripts/check-eol.ps1
  scripts/fix-eol.js
Due: prettier, markdown-structure-fix, markdownlint, yamllint

PR feedback
  .github/scripts/check-markdown-links.ps1
  .llm/context.md
  scripts/check-eol.ps1
Due: prettier, markdown-structure-fix, markdownlint

PR feedback
  .github/workflows/deploy-docs.yml
  .github/workflows/json-format-check.yml
  .github/workflows/lint-doc-links.yml
  .github/workflows/markdown-json.yml
  .github/workflows/markdown-link-text-check.yml
  .github/workflows/markdown-link-validity.yml
  .github/workflows/npm-publish.yml
  .github/workflows/release-drafter.yml
  .github/workflows/sync-wiki.yml
  .github/workflows/validate-docs.yml
  .github/workflows/yaml-format-lint.yml
  .llm/context.md
  .llm/skills/documentation/external-url-fragment-validation.md
  .llm/skills/documentation/github-actions-version-consistency.md
  .llm/skills/documentation/link-quality-guidelines.md
  .llm/skills/index.md
  .llm/skills/scripting/git-workflow-robustness.md
  .llm/skills/testing/test-invalid-skill.md
Due: prettier, markdown-structure-fix, markdownlint, yamllint

PR feedback
  .llm/context.md
  .llm/skills/index.md
  .llm/skills/testing/git-workflow-robustness.md
  CONTRIBUTING.md
Due: prettier, markdown-structure-fix, markdownlint

Add templates, fix CI/CD (#141)
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .devcontainer/verify-tools.sh
  .editorconfig
  .gitattributes
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/pull_request_template.md
  .github/release-drafter.yml
  .github/scripts/check-markdown-links.ps1
  .github/workflows/csharpier-autofix.yml
  .github/workflows/deploy-docs.yml
  .github/workflows/format-on-demand.yml
  .github/workflows/json-format-check.yml
  .github/workflows/lint-doc-links.yml
  .github/workflows/markdown-json.yml
  .github/workflows/markdown-link-text-check.yml
  .github/workflows/markdown-link-validity.yml
  .github/workflows/npm-publish.yml
  .github/workflows/prettier-autofix.yml
  .github/workflows/release-drafter.yml
  .github/workflows/sync-wiki.yml
  .github/workflows/update-dotnet-tools.yml
  .github/workflows/validate-docs.yml
  .github/workflows/yaml-format-lint.yml
  .llm/context.md
  .llm/skills/documentation/external-url-fragment-validation.md
  .llm/skills/documentation/github-actions-version-consistency.md
  .llm/skills/documentation/link-quality-guidelines.md
  .llm/skills/index.md
  .llm/skills/scripting/git-workflow-robustness.md
  .llm/skills/testing/git-workflow-robustness.md
  .llm/skills/testing/test-invalid-skill.md
  CONTRIBUTING.md
  scripts/check-eol.js
  scripts/check-eol.ps1
  scripts/fix-eol.js
Due: prettier, markdown-structure-fix, markdownlint, yamllint

Remove NPM publish
  .github/workflows/npm-publish.yml
  .llm/context.md
Due: prettier, markdown-structure-fix, markdownlint, yamllint

Fix dependabot
  .github/dependabot.yml
Due: prettier, yamllint

Add doc badge
  README.md
Due: prettier, markdown-structure-fix, markdownlint

CI Cleanup (#142)
  .github/dependabot.yml
  .github/workflows/npm-publish.yml
  .llm/context.md
  README.md
Due: prettier, markdown-structure-fix, markdownlint, yamllint
