Repository wallstop/DxMessaging: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, markdown-structure-fix, markdownlint, yamllint

prettier:
  name: Prettier (Markdown, JSON, asmdef, asmref, YAML)
  entry: npx --yes prettier@3.6.2 --write
  language: system
  description: Use pinned Prettier version to match CI.

markdown-structure-fix:
  name: Markdown structure auto-fix (headings, fences)
  entry: node scripts/fix-md036-headings.js
  language: system
  description: Auto-fix MD036 (no-emphasis-as-heading) by converting bold-only lines to headings.

markdownlint:
  name: markdownlint (respect repo config)
  entry: npx --yes markdownlint-cli2@0.17.1 --config .markdownlint.jsonc
  language: system

yamllint:
  name: yamllint (if available)
  entry: bash -c 'if command -v yamllint >/dev/null 2>&1; then yamllint -c .yamllint.yaml "$@"; else echo "yamllint not installed; skipping"; fi' --
  language: system

Remove pdb+meta (#73)
  .gitignore
  Editor/Analyzers/WallstopStudios.DxMessaging.SourceGenerators.pdb.meta
Due: none

DI Integration (initial)
  Docs/Advanced.md
  Docs/Comparisons.md
  Docs/Helpers.md
  Docs/Index.md
  Docs/Integrations.meta
  Docs/Integrations/Reflex.md
  Docs/Integrations/Reflex.md.meta
  Docs/Integrations/VContainer.md
  Docs/Integrations/VContainer.md.meta
  Docs/Integrations/Zenject.md
  Docs/Integrations/Zenject.md.meta
  Docs/UnityIntegration.md
  README.md
  Runtime/Core/MessageHandler.cs
  Runtime/Core/MessageRegistrationToken.cs
  Runtime/Unity/MessagingComponent.cs
  Tests/Runtime/Core/DefaultBusFallbackTests.cs
  Tests/Runtime/Core/DefaultBusFallbackTests.cs.meta
  Tests/Runtime/Integrations.meta
  Tests/Runtime/Integrations/Reflex.meta
  Tests/Runtime/Integrations/Reflex/ReflexIntegrationTests.cs
  Tests/Runtime/Integrations/Reflex/ReflexIntegrationTests.cs.meta
  Tests/Runtime/Integrations/Reflex/WallstopStudios.DxMessaging.Tests.Runtime.Reflex.asmdef
  Tests/Runtime/Integrations/Reflex/WallstopStudios.DxMessaging.Tests.Runtime.Reflex.asmdef.meta
  Tests/Runtime/Integrations/VContainer.meta
  Tests/Runtime/Integrations/VContainer/VContainerIntegrationTests.cs
  Tests/Runtime/Integrations/VContainer/VContainerIntegrationTests.cs.meta
  Tests/Runtime/Integrations/VContainer/WallstopStudios.DxMessaging.Tests.Runtime.VContainer.asmdef
  Tests/Runtime/Integrations/VContainer/WallstopStudios.DxMessaging.Tests.Runtime.VContainer.asmdef.meta
  Tests/Runtime/Integrations/Zenject.meta
  Tests/Runtime/Integrations/Zenject/WallstopStudios.DxMessaging.Tests.Runtime.Zenject.asmdef
  Tests/Runtime/Integrations/Zenject/WallstopStudios.DxMessaging.Tests.Runtime.Zenject.asmdef.meta
  Tests/Runtime/Integrations/Zenject/ZenjectIntegrationTests.cs
  Tests/Runtime/Integrations/Zenject/ZenjectIntegrationTests.cs.meta
Due: prettier, markdown-structure-fix, markdownlint

Reflex resources
  Tests/Runtime/Integrations/Reflex/Resources.meta
  Tests/Runtime/Integrations/Reflex/Resources/ReflexSettings.asset
  Tests/Runtime/Integrations/Reflex/Resources/ReflexSettings.asset.meta
Due: none

Update tests
  Runtime/Core/MessageHandler.cs
  Tests/Runtime/Core/MessageHandlerGlobalBusTests.cs
  Tests/Runtime/Core/MessageHandlerGlobalBusTests.cs.meta
Due: none

Update integration points
  Docs/UnityIntegration.md
  Runtime/Unity/MessageAwareComponent.cs
  Runtime/Unity/MessagingComponent.cs
  Tests/Runtime/Core/DefaultBusFallbackTests.cs
Due: prettier, markdown-structure-fix, markdownlint

Better rebinding
  Docs/Comparisons.md
  Docs/Integrations/Reflex.md
  Docs/Integrations/VContainer.md
  Docs/Integrations/Zenject.md
  Docs/Performance.md
  Docs/UnityIntegration.md
  Runtime/Core/MessageBus/MessageBusRebindMode.cs
  Runtime/Core/MessageBus/MessageBusRebindMode.cs.meta
  Runtime/Core/MessageRegistrationToken.cs
  Runtime/Unity/MessageAwareComponent.cs
  Runtime/Unity/MessagingComponent.cs
  Tests/Runtime/Core/DefaultBusFallbackTests.cs
  Tests/Runtime/Integrations/Reflex/ReflexIntegrationTests.cs
  Tests/Runtime/Integrations/VContainer/VContainerIntegrationTests.cs
  Tests/Runtime/Integrations/Zenject/ZenjectIntegrationTests.cs
Due: prettier, markdown-structure-fix, markdownlint

More rebinding tests
  Tests/Runtime/Core/DefaultBusFallbackTests.cs
Due: none

Update comparisons
  Docs/Comparisons.md
Due: prettier, markdown-structure-fix, markdownlint

More comparisons
  Docs/Comparisons.md
Due: prettier, markdown-structure-fix, markdownlint

SOA compat
  Docs/Compatibility.md
  Docs/Patterns.md
Due: prettier, markdown-structure-fix, markdownlint

Bump version
  package.json
Due: prettier

More links between DI/SOA
  Docs/Comparisons.md
  README.md
Due: prettier, markdown-structure-fix, markdownlint

DI progress
  Runtime/Core/MessageBus/MessageRegistrationBuilder.cs
  Runtime/Unity/CurrentGlobalMessageBusProvider.cs
  Runtime/Unity/CurrentGlobalMessageBusProvider.cs.meta
  Runtime/Unity/GlobalMessageBusProviderAsset.cs
  Runtime/Unity/InitialGlobalMessageBusProvider.cs
  Runtime/Unity/InitialGlobalMessageBusProvider.cs.meta
  Runtime/Unity/Integrations/Reflex/ReflexRegistrationInstaller.cs
  Runtime/Unity/Integrations/Reflex/WallstopStudios.DxMessaging.Reflex.asmdef
  Runtime/Unity/Integrations/Reflex/WallstopStudios.DxMessaging.Reflex.asmdef.meta
  Runtime/Unity/Integrations/VContainer/VContainerRegistrationExtensions.cs
  Runtime/Unity/Integrations/VContainer/WallstopStudios.DxMessaging.VContainer.asmdef
  Runtime/Unity/Integrations/VContainer/WallstopStudios.DxMessaging.VContainer.asmdef.meta
  Runtime/Unity/Integrations/Zenject/WallstopStudios.DxMessaging.Zenject.asmdef
  Runtime/Unity/Integrations/Zenject/WallstopStudios.DxMessaging.Zenject.asmdef.meta
  Runtime/Unity/Integrations/Zenject/ZenjectRegistrationInstaller.cs
  Samples~/DI/README.md
  Tests/Runtime/Core/MessageRegistrationBuilderTests.cs
  Tests/Runtime/Integrations/Reflex/ReflexIntegrationTests.cs
  Tests/Runtime/Integrations/Reflex/WallstopStudios.DxMessaging.Tests.Runtime.Reflex.asmdef
  Tests/Runtime/Integrations/VContainer/VContainerIntegrationTests.cs
  Tests/Runtime/Integrations/VContainer/WallstopStudios.DxMessaging.Tests.Runtime.VContainer.asmdef
  Tests/Runtime/Integrations/Zenject/WallstopStudios.DxMessaging.Tests.Runtime.Zenject.asmdef
  Tests/Runtime/Integrations/Zenject/ZenjectIntegrationTests.cs
  Tests/Runtime/TestUtilities.meta
  Tests/Runtime/TestUtilities/UnityFixtureBase.cs
  Tests/Runtime/TestUtilities/UnityFixtureBase.cs.meta
  Tests/Runtime/Unity/MessageBusProviderAssetTests.cs
  Tests/Runtime/Unity/MessageBusProviderAssetTests.cs.meta
Due: prettier, markdown-structure-fix, markdownlint

Remove reflection from tests
  Docs/Index.md
  Docs/MessageBusProviders.md
  Docs/MessageBusProviders.md.meta
  Runtime/Core/MessageBus/MessageRegistrationBuilder.cs
  Runtime/Unity/CurrentGlobalMessageBusProvider.cs
  Runtime/Unity/InitialGlobalMessageBusProvider.cs
  Runtime/Unity/Integrations/Reflex/AssemblyInfo.cs
  Runtime/Unity/Integrations/Reflex/AssemblyInfo.cs.meta
  Runtime/Unity/Integrations/Reflex/ReflexRegistrationInstaller.cs
  Runtime/Unity/Integrations/VContainer/AssemblyInfo.cs
  Runtime/Unity/Integrations/VContainer/AssemblyInfo.cs.meta
  Runtime/Unity/Integrations/Zenject/AssemblyInfo.cs
  Runtime/Unity/Integrations/Zenject/AssemblyInfo.cs.meta
  Runtime/Unity/Integrations/Zenject/ZenjectRegistrationInstaller.cs
  Tests/Runtime/Integrations/Reflex/ReflexIntegrationTests.cs
  Tests/Runtime/Integrations/Zenject/ZenjectIntegrationTests.cs
Due: prettier, markdown-structure-fix, markdownlint

Fix smoke tests
  Tests/Runtime/Core/IntegrationShimSmokeTests.cs
  Tests/Runtime/WallstopStudios.DxMessaging.Tests.Runtime.asmdef
Due: prettier

More tests
  Tests/Runtime/Core/MessageRegistrationBuilderTests.cs
  Tests/Runtime/Integrations/Reflex/ReflexIntegrationTests.cs
  Tests/Runtime/Integrations/VContainer/VContainerIntegrationTests.cs
  Tests/Runtime/Integrations/Zenject/ZenjectIntegrationTests.cs
  Tests/Runtime/Unity/MessagingComponentProviderIntegrationTests.cs
Due: none

doc updates
  Docs/Integrations/Reflex.md
  Docs/Integrations/VContainer.md
  Docs/Integrations/Zenject.md
  README.md
Due: prettier, markdown-structure-fix, markdownlint

Fix Samples compilation
  Samples~/DI.meta
  Samples~/DI/README.md.meta
  Samples~/DI/Reflex.meta
  Samples~/DI/Reflex/SampleInstaller.cs.meta
  Samples~/DI/VContainer.meta
  Samples~/DI/VContainer/SampleLifetimeScope.cs.meta
  Samples~/DI/Zenject.meta
  Samples~/DI/Zenject/SampleInstaller.cs.meta
  Samples~/UI Buttons + Inspector/DiagnosticsEnabler.cs
  Samples~/UI Buttons + Inspector/README.md.meta
Due: none

Minor version bump
  package.json
Due: prettier

More docs
  Docs/Index.md
  Docs/MessageBusProviders.md
  Docs/RuntimeConfiguration.md
  Docs/RuntimeConfiguration.md.meta
  README.md
  Runtime/Unity/MessageBusProviderHandle.cs
Due: prettier, markdown-structure-fix, markdownlint

Remove package-lock (will this work?)
  .gitignore
  package-lock.json
  package-lock.json.meta
Due: prettier

Update docs/samples with proper attributes usage
  Docs/EmitShorthands.md
  Docs/Helpers.md
  Docs/Patterns.md
  Docs/QuickStart.md
  Runtime/Core/Attributes/DxAutoConstructorAttribute.cs
  Runtime/Core/Attributes/DxBroadcastMessageAttribute.cs
  Runtime/Core/Attributes/DxOptionalParameterAttribute.cs
  Runtime/Core/Attributes/DxTargetedMessageAttribute.cs
  Runtime/Core/Attributes/DxUntargetedMessageAttribute.cs
  Runtime/Core/Messages/IBroadcastMessage.cs
  Runtime/Core/Messages/ITargetedMessage.cs
  Runtime/Core/Messages/IUntargetedMessage.cs
  Runtime/Unity/MessagingComponent.cs
  Samples~/DI/Reflex/SampleInstaller.cs
  Samples~/DI/VContainer/SampleLifetimeScope.cs
  Samples~/DI/Zenject/SampleInstaller.cs
  package.json
Due: prettier, markdown-structure-fix, markdownlint

Update benchmarks
  Docs/Comparisons.md
  Docs/Performance.md
Due: prettier, markdown-structure-fix, markdownlint

Fix remaining struct
  Docs/EmitShorthands.md
Due: prettier, markdown-structure-fix, markdownlint

Better reasons
  Docs/Helpers.md
Due: prettier, markdown-structure-fix, markdownlint

Remove package lock, better attribute usage in docs/samples (#77)
  .gitignore
  Docs/Comparisons.md
  Docs/EmitShorthands.md
  Docs/Helpers.md
  Docs/Patterns.md
  Docs/Performance.md
  Docs/QuickStart.md
  Runtime/Core/Attributes/DxAutoConstructorAttribute.cs
  Runtime/Core/Attributes/DxBroadcastMessageAttribute.cs
  Runtime/Core/Attributes/DxOptionalParameterAttribute.cs
  Runtime/Core/Attributes/DxTargetedMessageAttribute.cs
  Runtime/Core/Attributes/DxUntargetedMessageAttribute.cs
  Runtime/Core/Messages/IBroadcastMessage.cs
  Runtime/Core/Messages/ITargetedMessage.cs
  Runtime/Core/Messages/IUntargetedMessage.cs
  Runtime/Unity/MessagingComponent.cs
  Samples~/DI/Reflex/SampleInstaller.cs
  Samples~/DI/VContainer/SampleLifetimeScope.cs
  Samples~/DI/Zenject/SampleInstaller.cs
  package-lock.json
  package-lock.json.meta
  package.json
Due: prettier, markdown-structure-fix, markdownlint

Progress
  .github/workflows/dotnet-tests.yml
  .gitignore
  Editor/Analyzers/System.Reflection.Metadata.dll
  Editor/Analyzers/WallstopStudios.DxMessaging.SourceGenerators.dll
  Editor/SetupCscRsp.cs
  SourceGenerators/WallstopStudios.DxMessaging.SourceGenerators.Tests.meta
  SourceGenerators/WallstopStudios.DxMessaging.SourceGenerators.Tests/DocsSnippetCompilationTests.cs
  SourceGenerators/WallstopStudios.DxMessaging.SourceGenerators.Tests/DocsSnippetCompilationTests.cs.meta
  SourceGenerators/WallstopStudios.DxMessaging.SourceGenerators.Tests/DxAutoConstructorGeneratorDiagnosticsTests.cs
  SourceGenerators/WallstopStudios.DxMessaging.SourceGenerators.Tests/DxAutoConstructorGeneratorDiagnosticsTests.cs.meta
  SourceGenerators/WallstopStudios.DxMessaging.SourceGenerators.Tests/DxMessageIdGeneratorDiagnosticsTests.cs
  SourceGenerators/WallstopStudios.DxMessaging.SourceGenerators.Tests/DxMessageIdGeneratorDiagnosticsTests.cs.meta
  SourceGenerators/WallstopStudios.DxMessaging.SourceGenerators.Tests/GeneratorTestUtilities.cs
  SourceGenerators/WallstopStudios.DxMessaging.SourceGenerators.Tests/GeneratorTestUtilities.cs.meta
  SourceGenerators/WallstopStudios.DxMessaging.SourceGenerators.Tests/WallstopStudios.DxMessaging.SourceGenerators.Tests.csproj
  SourceGenerators/WallstopStudios.DxMessaging.SourceGenerators.Tests/WallstopStudios.DxMessaging.SourceGenerators.Tests.csproj.meta
  SourceGenerators/WallstopStudios.DxMessaging.SourceGenerators/DxAutoConstructorGenerator.cs
  SourceGenerators/WallstopStudios.DxMessaging.SourceGenerators/DxMessageIdGenerator.cs
  SourceGenerators/WallstopStudios.DxMessaging.SourceGenerators/WallstopStudios.DxMessaging.SourceGenerators.csproj
  Tests/Runtime/Benchmarks/PerformanceTests.cs
  Tests/Runtime/Core/MessageEmissionDataTests.cs
  Tests/Runtime/Core/MessageEmissionDataTests.cs.meta
  Tests/Runtime/Unity/MessageBusProviderHandleTests.cs
  Tests/Runtime/Unity/MessagingComponentProviderIntegrationTests.cs
  com.wallstop-studios.dxmessaging.sln
  com.wallstop-studios.dxmessaging.sln.meta
  package.json
Due: prettier, yamllint

Update source dll
  Editor/Analyzers/WallstopStudios.DxMessaging.SourceGenerators.dll
Due: none

Updates
  .gitignore
  Docs/Comparisons.md
  Docs/Performance.md
  Editor/Analyzers/Microsoft.CodeAnalysis.CSharp.dll.meta
  Editor/Analyzers/Microsoft.CodeAnalysis.dll.meta
  Editor/Analyzers/System.Collections.Immutable.dll.meta
  Editor/Analyzers/System.Reflection.Metadata.dll.meta
  Editor/Analyzers/System.Runtime.CompilerServices.Unsafe.dll.meta
  Editor/Analyzers/WallstopStudios.DxMessaging.SourceGenerators.dll
  Editor/Analyzers/WallstopStudios.DxMessaging.SourceGenerators.dll.meta
  Editor/AssemblyInfo.cs
  Editor/AssemblyInfo.cs.meta
  Editor/Testing.meta
  Editor/Testing/MessagingComponentEditorHarness.cs
  Editor/Testing/MessagingComponentEditorHarness.cs.meta
  Runtime/AssemblyInfo.cs
  Runtime/Core/Diagnostics/MessageEmissionData.cs
  SourceGenerators/Directory.Build.props
  SourceGenerators/Directory.Build.props.meta
  SourceGenerators/WallstopStudios.DxMessaging.SourceGenerators.Tests/DocsSnippetCompilationTests.cs
  SourceGenerators/WallstopStudios.DxMessaging.SourceGenerators/DxMessageIdGenerator.cs
  Tests/Editor.meta
  Tests/Editor/MessagingComponentEditorHarnessTests.cs
  Tests/Editor/MessagingComponentEditorHarnessTests.cs.meta
  Tests/Editor/WallstopStudios.DxMessaging.Tests.Editor.asmdef
  Tests/Editor/WallstopStudios.DxMessaging.Tests.Editor.asmdef.meta
  Tests/Runtime/Core/MessageEmissionDataTests.cs
  Tests/Runtime/Unity/MessagingComponentProviderIntegrationTests.cs
  Tests/Runtime/WallstopStudios.DxMessaging.Tests.Runtime.csproj
Due: prettier, markdown-structure-fix, markdownlint

Editor tests
  Editor/CustomEditors/MessagingComponentEditor.cs
  Editor/Testing/MessagingComponentEditorHarness.cs
  Runtime/Unity/MessageBusProviderHandle.cs
  Runtime/Unity/MessagingComponent.cs
  Tests/Editor/MessagingComponentEditorHarnessTests.cs
  Tests/Editor/MessagingComponentSerializationTests.cs
  Tests/Editor/MessagingComponentSerializationTests.cs.meta
Due: none

Update source generator tests
  SourceGenerators/WallstopStudios.DxMessaging.SourceGenerators.Tests/DocsSnippetCompilationTests.cs
Due: none

Add installer test
  Tests/Runtime/Unity/MessagingComponentInstallerSceneTests.cs
  Tests/Runtime/Unity/MessagingComponentInstallerSceneTests.cs.meta
Due: none

CI/CD updates
  .github/workflows/dotnet-tests.yml
  Docs/Install.md
  README.md
Due: prettier, markdown-structure-fix, markdownlint, yamllint

Csharpier formatting
  Tests/Runtime/WallstopStudios.DxMessaging.Tests.Runtime.csproj
Due: none

Lychee ignore
  .lychee.toml
Due: none

Maybe update source generator tests
  .github/workflows/dotnet-tests.yml
  Editor/Analyzers/WallstopStudios.DxMessaging.SourceGenerators.dll
  SourceGenerators/WallstopStudios.DxMessaging.SourceGenerators.Tests/DocsSnippetCompilationTests.cs
  SourceGenerators/WallstopStudios.DxMessaging.SourceGenerators.Tests/GeneratorTestUtilities.cs
Due: prettier, yamllint

Path conditions:
  prettier: any of: (?i)\.(md|markdown|json|asmdef|asmref|ya?ml)$
  markdown-structure-fix: any of: (?i)\.(md|markdown)$
  markdownlint: any of: (?i)\.(md|markdown)$
  yamllint: any of: (?i)\.(ya?ml)$
