Repository wallstop/DxMessaging: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, markdownlint, yamllint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: dotnet-tool-restore
        name: Install .NET tools
        entry: dotnet tool restore
        language: system
        always_run: true
        pass_filenames: false
        stages:
          - pre-commit
          - pre-push
          - post-checkout
          - post-rewrite
        description: Install the .NET tools listed at .config/dotnet-tools.json.
      - id: csharpier
        name: Run CSharpier on C# files
        entry: dotnet tool run csharpier format
        language: system
        types:
          - c#
        description: CSharpier is an opinionated C# formatter inspired by Prettier.

  - repo: local
    hooks:
      - id: prettier
        name: Prettier (Markdown, JSON, asmdef, asmref, YAML)
        entry: npx --yes prettier --write
        language: system
        files: '(?i)\.(md|markdown|json|asmdef|asmref|ya?ml)$'
        description: Use the repo's Prettier version from package.json.

  - repo: local
    hooks:
      - id: markdownlint
        name: markdownlint (respect repo config)
        entry: npx --yes markdownlint --config .markdownlint.json --ignore-path .markdownlintignore
        language: system
        files: '(?i)\.(md|markdown)$'

  - repo: local
    hooks:
      - id: yamllint
        name: yamllint (if available)
        entry: bash -c 'if command -v yamllint >/dev/null 2>&1; then yamllint -c .yamllint.yaml "$@"; else echo "yamllint not installed; skipping"; fi' --
        language: system
        files: '(?i)\.(ya?ml)$'

Rebase
  package.json
Due: prettier

Version bump
  package.json
Due: prettier

Update package
  .pre-commit-config.yaml
  CONTRIBUTING.md
  package.json
Due: prettier, markdownlint, yamllint

Reset package
  package.json
Due: prettier

Bump version
  .pre-commit-config.yaml
  AGENTS.md
  Docs/Comparisons.md
  Docs/DesignAndArchitecture.md
  Docs/EmitShorthands.md
  Docs/FAQ.md
  Docs/Glossary.md
  Docs/Index.md
  Docs/InterceptorsAndOrdering.md
  Docs/MigrationGuide.md
  Docs/Overview.md
  Docs/Patterns.md
  Docs/TargetingAndContext.md
  Docs/Troubleshooting.md
  Docs/VisualGuide.md
  Samples~/Mini Combat/README.md
  Samples~/Mini Combat/Walkthrough.md
  Samples~/UI Buttons + Inspector/README.md
  package.json
Due: prettier, markdownlint, yamllint

More robust source generators (#60)
  .markdownlint-cli2.jsonc
  .pre-commit-config.yaml
  AGENTS.md
  CONTRIBUTING.md
  Docs/Comparisons.md
  Docs/EmitShorthands.md
  Docs/FAQ.md
  Docs/Glossary.md
  Docs/Helpers.md
  Docs/InterceptorsAndOrdering.md
  Docs/MessageTypes.md
  Docs/MigrationGuide.md
  Docs/Overview.md
  Docs/Patterns.md
  Docs/Performance.md
  Docs/QuickStart.md
  Docs/TargetingAndContext.md
  Docs/Troubleshooting.md
  Docs/VisualGuide.md
  Editor/Analyzers/WallstopStudios.DxMessaging.SourceGenerators.dll
  Editor/Analyzers/WallstopStudios.DxMessaging.SourceGenerators.pdb.meta
  README.md
  Runtime/Core/Attributes/DxOptionalParameterAttribute.cs
  Samples~/Mini Combat/README.md
  Samples~/Mini Combat/Walkthrough.md
  Samples~/UI Buttons + Inspector/README.md
  SourceGenerators/WallstopStudios.DxMessaging.SourceGenerators/DxAutoConstructorGenerator.cs
  SourceGenerators/WallstopStudios.DxMessaging.SourceGenerators/DxMessageIdGenerator.cs
  SourceGenerators/WallstopStudios.DxMessaging.SourceGenerators/WallstopStudios.DxMessaging.SourceGenerators.csproj
  Tests/Runtime/Core/MutationPostProcessorAcrossHandlersTests.cs
  Tests/Runtime/Core/SourceGeneratorNestedTests.cs
  Tests/Runtime/Core/SourceGeneratorNestedTests.cs.meta
  package.json
  scripts/fix-md036-headings.js
  scripts/fix-md036-headings.js.meta
Due: prettier, markdownlint, yamllint

Proper object lifecycles
  Runtime/Core/MessageBus/MessageBus.cs
  Runtime/Core/MessageHandler.cs
  Runtime/Core/MessageRegistrationToken.cs
  Runtime/Unity/MessageAwareComponent.cs
  Runtime/Unity/MessagingComponent.cs
  Tests/Runtime/Core/MessagingComponentLifecycleTests.cs
  Tests/Runtime/Core/MessagingComponentLifecycleTests.cs.meta
  Tests/Runtime/Core/ReflexiveMessageWarningTests.cs
  Tests/Runtime/Core/ReflexiveMessageWarningTests.cs.meta
  Tests/Runtime/Core/UntargetedPrefreezeTests.cs
  Tests/Runtime/Core/UntargetedPrefreezeTests.cs.meta
  Tests/Runtime/Scripts/Components/ReflexiveReceiverComponent.cs
  Tests/Runtime/Scripts/Components/ReflexiveReceiverComponent.cs.meta
Due: none

Update version
  package.json
Due: prettier

Proper object lifecycles (#61)
  Runtime/Core/MessageBus/MessageBus.cs
  Runtime/Core/MessageHandler.cs
  Runtime/Core/MessageRegistrationToken.cs
  Runtime/Unity/MessageAwareComponent.cs
  Runtime/Unity/MessagingComponent.cs
  Tests/Runtime/Core/MessagingComponentLifecycleTests.cs
  Tests/Runtime/Core/MessagingComponentLifecycleTests.cs.meta
  Tests/Runtime/Core/ReflexiveMessageWarningTests.cs
  Tests/Runtime/Core/ReflexiveMessageWarningTests.cs.meta
  Tests/Runtime/Core/UntargetedPrefreezeTests.cs
  Tests/Runtime/Core/UntargetedPrefreezeTests.cs.meta
  Tests/Runtime/Scripts/Components/ReflexiveReceiverComponent.cs
  Tests/Runtime/Scripts/Components/ReflexiveReceiverComponent.cs.meta
  package.json
Due: prettier

Documentation updates
  Docs/Comparisons.md
  Docs/GettingStarted.md
  Docs/Overview.md
  Docs/Patterns.md
  Docs/VisualGuide.md
  README.md
Due: prettier, markdownlint

Doc updates, lint fixes
  README.md
  Samples~/Mini Combat/README.md
  Samples~/Mini Combat/Walkthrough.md
  Samples~/UI Buttons + Inspector/README.md
Due: prettier, markdownlint

Linter fixes
  Samples~/Mini Combat/Walkthrough.md
Due: prettier, markdownlint

Update package lock
  package-lock.json
Due: prettier

Update docs
  .github/workflows/format-on-demand.yml
  .github/workflows/json-format-check.yml
  .github/workflows/markdown-json.yml
  .github/workflows/markdownlint.yml
  .github/workflows/npm-publish.yml
  .github/workflows/prettier-autofix.yml
  .github/workflows/yaml-format-lint.yml
Due: prettier, yamllint

Update with github visual diagrams
  Docs/DesignAndArchitecture.md
  Docs/MessageTypes.md
  Docs/VisualGuide.md
Due: prettier, markdownlint

Better Github Diagrams (#64)
  .github/workflows/format-on-demand.yml
  .github/workflows/json-format-check.yml
  .github/workflows/markdown-json.yml
  .github/workflows/markdownlint.yml
  .github/workflows/npm-publish.yml
  .github/workflows/prettier-autofix.yml
  .github/workflows/yaml-format-lint.yml
  Docs/DesignAndArchitecture.md
  Docs/MessageTypes.md
  Docs/VisualGuide.md
Due: prettier, markdownlint, yamllint

Formatting
  .github/workflows/csharpier-autofix.yml
  .github/workflows/markdown-link-text-check.yml
  .github/workflows/markdown-link-validity.yml
Due: prettier, yamllint

WIP
  Docs/Comparisons.md
  README.md
  Tests/Runtime/Benchmarks/BenchmarkSession.cs
  Tests/Runtime/Benchmarks/BenchmarkSession.cs.meta
  Tests/Runtime/Benchmarks/BenchmarkTestBase.cs
  Tests/Runtime/Benchmarks/BenchmarkTestBase.cs.meta
  Tests/Runtime/Benchmarks/ComparisonPerformanceTests.cs
  Tests/Runtime/Benchmarks/ComparisonPerformanceTests.cs.meta
  Tests/Runtime/Benchmarks/PerformanceTests.cs
Due: prettier, markdownlint

Comparison updates
  Docs/Comparisons.md
  Docs/Performance.md
  README.md
  Tests/Runtime/Benchmarks/BenchmarkSession.cs
  Tests/Runtime/Benchmarks/BenchmarkTestBase.cs
  Tests/Runtime/Benchmarks/ComparisonPerformanceTests.cs
  Tests/Runtime/Benchmarks/PerformanceTests.cs
  Tests/Runtime/Benchmarks/WallstopStudios.DxMessaging.Tests.Runtime.Benchmarks.asmdef
  Tests/Runtime/Benchmarks/WallstopStudios.DxMessaging.Tests.Runtime.Benchmarks.asmdef.meta
Due: prettier, markdownlint

More honest tables
  README.md
Due: prettier, markdownlint

Comparison with other Unity Tech (#66)
  .github/workflows/csharpier-autofix.yml
  .github/workflows/markdown-link-text-check.yml
  .github/workflows/markdown-link-validity.yml
  Docs/Comparisons.md
  Docs/Performance.md
  README.md
  Tests/Runtime/Benchmarks/BenchmarkSession.cs
  Tests/Runtime/Benchmarks/BenchmarkSession.cs.meta
  Tests/Runtime/Benchmarks/BenchmarkTestBase.cs
  Tests/Runtime/Benchmarks/BenchmarkTestBase.cs.meta
  Tests/Runtime/Benchmarks/ComparisonPerformanceTests.cs
  Tests/Runtime/Benchmarks/ComparisonPerformanceTests.cs.meta
  Tests/Runtime/Benchmarks/PerformanceTests.cs
  Tests/Runtime/Benchmarks/WallstopStudios.DxMessaging.Tests.Runtime.Benchmarks.asmdef
  Tests/Runtime/Benchmarks/WallstopStudios.DxMessaging.Tests.Runtime.Benchmarks.asmdef.meta
Due: prettier, markdownlint, yamllint

Documentation updates
  Docs/Index.md
  Docs/VisualGuide.md
  README.md
  Samples~/Mini Combat/README.md
  Samples~/Mini Combat/Walkthrough.md
Due: prettier, markdownlint

Documentation updates (#67)
  Docs/Index.md
  Docs/VisualGuide.md
  README.md
  Samples~/Mini Combat/README.md
  Samples~/Mini Combat/Walkthrough.md
Due: prettier, markdownlint

Mermaid diagram updates
  Docs/DesignAndArchitecture.md
  Docs/Index.md
  Docs/InterceptorsAndOrdering.md
  Docs/MessageTypes.md
  Docs/VisualGuide.md
  README.md
Due: prettier, markdownlint

Updated diagrams
  Docs/DesignAndArchitecture.md
  Docs/InterceptorsAndOrdering.md
Due: prettier, markdownlint

Better diagram split
  Docs/InterceptorsAndOrdering.md
Due: prettier, markdownlint

Better arrow colors
  Docs/DesignAndArchitecture.md
Due: prettier, markdownlint

Better visual stacking
  Docs/InterceptorsAndOrdering.md
Due: prettier, markdownlint

Mermaid diagram updates (#68)
  Docs/DesignAndArchitecture.md
  Docs/Index.md
  Docs/InterceptorsAndOrdering.md
  Docs/MessageTypes.md
  Docs/VisualGuide.md
  README.md
Due: prettier, markdownlint

Updated installation instructions
  Docs/Install.md
Due: prettier, markdownlint

Updated installation instructions (#70)
  Docs/Install.md
Due: prettier, markdownlint

Fix missing quote
  Docs/Install.md
Due: prettier, markdownlint

Fix missing quote (#71)
  Docs/Install.md
Due: prettier, markdownlint

Update with more usage examples
  Docs/InterceptorsAndOrdering.md
  Docs/ListeningPatterns.md
Due: prettier, markdownlint

Better examples
  Docs/InterceptorsAndOrdering.md
  Docs/ListeningPatterns.md
Due: prettier, markdownlint

Global Accept All and Interceptor Examples (#72)
  Docs/InterceptorsAndOrdering.md
  Docs/ListeningPatterns.md
Due: prettier, markdownlint

Remove pdb+meta
  .gitignore
  Editor/Analyzers/WallstopStudios.DxMessaging.SourceGenerators.pdb.meta
Due: none
