Repository wallstop/DxMessaging: changes, and which pre-commit hooks are due for each by the changed paths.
All: sync-banner-version, prettier, markdown-structure-fix, markdownlint, yamllint, validate-skills, skills-index-regen, actionlint, cspell

sync-banner-version:
  name: Sync banner version from package.json
  ...

prettier:
  name: Prettier (Markdown, JSON, asmdef, asmref, YAML)
  entry: npx --yes prettier@3.8.0 --write
  language: system
  description: Use pinned Prettier version to match CI.

markdown-structure-fix:
  name: Markdown structure auto-fix (headings, fences)
  entry: node scripts/fix-md036-headings.js
  language: system
  description: Auto-fix MD036 (no-emphasis-as-heading) by converting bold-only lines to headings.

markdownlint:
  name: markdownlint (respect repo config)
  entry: npx --yes markdownlint-cli2@0.17.1 --fix
  language: system

yamllint:
  name: yamllint (if available)
  entry: bash -c 'if command -v yamllint >/dev/null 2>&1; then yamllint -c .yamllint.yaml "$@"; else echo "yamllint not installed; skipping"; fi' --
  language: system

validate-skills:
  name: Validate LLM skill files
  entry: node scripts/validate-skills.js
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push
  description: Validate skill file schema compliance and file size limits.

skills-index-regen:
  name: Regenerate skills index.md
  entry: bash -c 'node scripts/generate-skills-index.js && { git add .llm/skills/index.md 2>/dev/null || true; }'
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push
  description: Regenerate index.md and stage it for commit.

actionlint:
  name: Lint GitHub Actions workflows
  entry: bash -c 'if command -v actionlint >/dev/null 2>&1; then actionlint; else echo "actionlint not installed; skipping"; fi'
  language: system
  pass_filenames: false
  stages:
  - pre-push
  description: Validate GitHub Actions workflow syntax before push.

cspell:
  name: Check spelling
  entry: npx --yes cspell@9 --no-progress --no-summary
  language: system
  pass_filenames: true
  stages:
  - pre-push
  description: Check spelling in changed files before push.

CI fixes
  .cspell.json
  .github/workflows/cross-platform-preflight.yml
  scripts/__tests__/pwsh-output-assertion-policy.test.js
  scripts/__tests__/unity-ensure-editor-il2cpp-idempotency.test.js
  scripts/__tests__/unity-ensure-editor-install-resilience.test.js
  scripts/__tests__/unity-ensure-editor-install-resilience.test.js.meta
  scripts/__tests__/unity-runner-script-contract.test.js
  scripts/lib/__tests__/source-stripping.test.js
  scripts/lib/source-stripping.js
  scripts/unity/ensure-editor.ps1
Due: prettier, yamllint, actionlint, cspell

Update spelling
  .cspell.json
Due: prettier, cspell

CI fixes?
  scripts/__tests__/pwsh-output-assertion-policy.test.js
  scripts/__tests__/unity-ensure-editor-il2cpp-idempotency.test.js
  scripts/__tests__/unity-ensure-editor-install-resilience.test.js
  scripts/__tests__/unity-perf-baseline-script-contract.test.js
  scripts/__tests__/unity-runner-strictmode-smoke.test.js
  scripts/lib/__tests__/pwsh-output.test.js
  scripts/lib/pwsh-output.js
Due: cspell

Even more CI fixes
  .devcontainer/post-create.sh
  .llm/context.md
  .llm/skills/documentation/ascii-only-docs.md
  .llm/skills/index.md
  .llm/skills/scripting/native-git-hooks.md
  .llm/skills/unity/unity-editor-cli-bootstrap.md
  .pre-commit-config.yaml
  docs/runbooks/unity-runners-after-transfer.md
  llms.txt
  package.json
  scripts/__tests__/doctor.test.js
  scripts/__tests__/native-git-hooks.test.js
  scripts/__tests__/pre-commit-hook-stage-policy.test.js
  scripts/__tests__/preflight-pre-push-coverage.test.js
  scripts/__tests__/run-staged-md-pipeline.test.js
  scripts/__tests__/staged-doc-formatters.test.js
  scripts/__tests__/unity-ensure-editor-il2cpp-idempotency.test.js
  scripts/__tests__/unity-ensure-editor-install-resilience.test.js
  scripts/__tests__/unity-ensure-editor-production-contract.test.js
  scripts/__tests__/unity-runner-script-contract.test.js
  scripts/__tests__/validate-docs-ascii.test.js
  scripts/__tests__/validate-pre-commit-tooling.test.js
  scripts/doctor.js
  scripts/ensure-pre-commit.js
  scripts/ensure-pre-commit.js.meta
  scripts/hooks/pre-commit
  scripts/hooks/pre-push
  scripts/install-git-hooks.js
  scripts/lib/staged-doc-formatters.js
  scripts/normalize-docs-ascii.js
  scripts/run-staged-md-pipeline.js
  scripts/unity/ensure-editor.ps1
  scripts/validate-docs-ascii.js
  scripts/validate-pre-commit-tooling.js
Due: sync-banner-version, prettier, markdown-structure-fix, markdownlint, yamllint, validate-skills, skills-index-regen, cspell

CI fixes?
  .github/actions/verify-unity-results/action.yml
  .github/workflows/release.yml
  .github/workflows/unity-benchmarks.yml
  .github/workflows/unity-gameci-experiment.yml
  .github/workflows/unity-tests.yml
  scripts/__tests__/unity-ensure-editor-il2cpp-idempotency.test.js
  scripts/__tests__/unity-ensure-editor-install-resilience.test.js
  scripts/__tests__/unity-ensure-editor-production-contract.test.js
  scripts/__tests__/unity-runner-script-contract.test.js
  scripts/__tests__/unity-workflow-shape.test.js
  scripts/__tests__/verify-unity-results-action.test.js
  scripts/__tests__/verify-unity-results-action.test.js.meta
  scripts/unity/ensure-editor.ps1
Due: prettier, yamllint, actionlint, cspell

GitHook fixes
  .llm/context.md
  .pre-commit-config.yaml
  docs/images/DxMessaging-banner.svg
  package.json
  scripts/__tests__/fix-pwsh-output-assertions.test.js
  scripts/__tests__/fix-pwsh-output-assertions.test.js.meta
  scripts/__tests__/pre-commit-hook-stage-policy.test.js
  scripts/__tests__/pwsh-output-assertion-policy.test.js
  scripts/__tests__/unity-ensure-editor-install-resilience.test.js
  scripts/__tests__/verify-unity-results-action.test.js
  scripts/fix-pwsh-output-assertions.js
  scripts/fix-pwsh-output-assertions.js.meta
Due: sync-banner-version, prettier, markdown-structure-fix, markdownlint, yamllint, validate-skills, skills-index-regen, cspell

More robust Unity installation
  .github/actions/verify-unity-results/action.yml
  .github/workflows/release.yml
  .github/workflows/unity-benchmarks.yml
  .github/workflows/unity-gameci-experiment.yml
  .github/workflows/unity-tests.yml
  .llm/context.md
  .llm/skills/index.md
  .llm/skills/unity/unity-ci-matrix.md
  .llm/skills/unity/unity-editor-cli-bootstrap.md
  CHANGELOG.md
  docs/ops/ci-and-github-settings.md
  docs/runbooks/unity-runners-after-transfer.md
  llms.txt
  scripts/__tests__/unity-ensure-editor-il2cpp-idempotency.test.js
  scripts/__tests__/unity-ensure-editor-install-resilience.test.js
  scripts/__tests__/unity-ensure-editor-production-contract.test.js
  scripts/__tests__/unity-runner-script-contract.test.js
  scripts/__tests__/unity-workflow-shape.test.js
  scripts/__tests__/validate-workflows-concurrency-and-labels.test.js
  scripts/__tests__/verify-unity-results-action.test.js
  scripts/unity/ensure-editor.ps1
  scripts/unity/run-ci-tests.ps1
  scripts/validate-workflows.js
Due: prettier, markdown-structure-fix, markdownlint, yamllint, validate-skills, skills-index-regen, actionlint, cspell

Bootstrap CI
  .cspell.json
  .github/actions/assert-unity-host-prereqs/action.yml
  .github/actions/print-self-hosted-runner-diagnostics/action.yml
  .github/workflows/cross-platform-preflight.yml
  .github/workflows/runner-bootstrap.yml
  .gitignore
  .llm/context.md
  .llm/skills/documentation/skill-file-sizing.md
  .llm/skills/index.md
  .llm/skills/specification.md
  .llm/skills/unity/unity-editor-cli-bootstrap.md
  .llm/skills/unity/unity-runner-host-prereqs.md
  .llm/skills/unity/unity-runner-host-prereqs.md.meta
  docs/images/DxMessaging-banner.svg
  docs/runbooks/unity-runners-after-transfer.md
  llms.txt
  package.json
  scripts/__tests__/generate-skills-index.test.js
  scripts/__tests__/native-git-hooks.test.js
  scripts/__tests__/unity-ensure-editor-host-prereq-shortcircuit.test.js
  scripts/__tests__/unity-ensure-editor-host-prereq-shortcircuit.test.js.meta
  scripts/__tests__/unity-runner-host-prereq-contract.test.js
  scripts/__tests__/unity-runner-host-prereq-contract.test.js.meta
  scripts/__tests__/unity-runner-host-prereq-dot-source-safety.test.js
  scripts/__tests__/unity-runner-host-prereq-dot-source-safety.test.js.meta
  scripts/__tests__/unity-runner-host-prereq-helper-mutation.test.js
  scripts/__tests__/unity-runner-host-prereq-helper-mutation.test.js.meta
  scripts/__tests__/unity-runner-host-prereq-workflow-contract.test.js
  scripts/__tests__/unity-runner-host-prereq-workflow-contract.test.js.meta
  scripts/__tests__/validate-pre-commit-tooling.test.js
  scripts/__tests__/validate-skills-llm-policy.test.js
  scripts/generate-skills-index.js
  scripts/hooks/pre-commit
  scripts/unity/bootstrap-windows-runner.ps1
  scripts/unity/bootstrap-windows-runner.ps1.meta
  scripts/unity/ensure-editor.ps1
  scripts/unity/run-ci-tests.ps1
  scripts/validate-pre-commit-tooling.js
  scripts/validate-skills.js
Due: sync-banner-version, prettier, markdown-structure-fix, markdownlint, yamllint, validate-skills, skills-index-regen, actionlint, cspell

Updated CI
  docs/runbooks/unity-runners-after-transfer.md
  scripts/__tests__/unity-runner-host-prereq-contract.test.js
  scripts/__tests__/unity-runner-host-prereq-helper-mutation.test.js
  scripts/unity/bootstrap-windows-runner.ps1
Due: prettier, markdown-structure-fix, markdownlint, cspell

Runner fixes
  .cspell.json
  docs/runbooks/unity-runners-after-transfer.md
  scripts/__tests__/unity-ensure-editor-host-prereq-shortcircuit.test.js
  scripts/unity/ensure-editor.ps1
Due: prettier, markdown-structure-fix, markdownlint, cspell

GitHook fixes
  .cspell.json
  .github/workflows/cross-platform-preflight.yml
  .llm/context.md
  .llm/skills/index.md
  .llm/skills/scripting/cross-platform-compatibility.md
  llms.txt
  package.json
  scripts/__tests__/cspell-version-parity.test.js
  scripts/__tests__/preflight-pre-push-coverage.test.js
  scripts/__tests__/unity-ensure-editor-host-prereq-shortcircuit.test.js
  scripts/__tests__/validate-pre-commit-tooling.test.js
  scripts/validate-pre-commit-tooling.js
Due: sync-banner-version, prettier, markdown-structure-fix, markdownlint, yamllint, validate-skills, skills-index-regen, actionlint, cspell

GitHook fixes
  .cspell.json
  .github/workflows/runner-bootstrap.yml
  .llm/skills/index.md
  .llm/skills/unity/unity-runner-host-prereqs.md
  docs/runbooks/unity-runners-after-transfer.md
  scripts/__tests__/unity-ensure-editor-host-prereq-shortcircuit.test.js
  scripts/__tests__/unity-runner-host-prereq-contract.test.js
  scripts/__tests__/unity-runner-host-prereq-helper-mutation.test.js
  scripts/unity/bootstrap-windows-runner.ps1
  scripts/unity/ensure-editor.ps1
Due: prettier, markdown-structure-fix, markdownlint, yamllint, validate-skills, skills-index-regen, actionlint, cspell

Fix spelling
  .cspell.json
Due: prettier, cspell

More progress
  .llm/context.md
  scripts/__tests__/unity-accelerator-endpoint-masking.test.js
  scripts/__tests__/unity-accelerator-endpoint-masking.test.js.meta
  scripts/__tests__/unity-accelerator-endpoint-normalization.test.js
  scripts/__tests__/unity-accelerator-endpoint-normalization.test.js.meta
  scripts/__tests__/unity-runner-script-contract.test.js
  scripts/unity/run-ci-tests.ps1
Due: prettier, markdown-structure-fix, markdownlint, validate-skills, skills-index-regen, cspell

Update dlls
  .npmrc
  docs/runbooks/unity-runners-after-transfer.md
  scripts/__tests__/docs-out-of-tree-link-guard.test.js
  scripts/__tests__/npmrc-fetch-retries-contract.test.js
  scripts/__tests__/npmrc-fetch-retries-contract.test.js.meta
  scripts/__tests__/unity-ensure-editor-il2cpp-idempotency.test.js
  scripts/__tests__/unity-ensure-editor-install-resilience.test.js
  scripts/__tests__/unity-ensure-editor-progress-stall.test.js
  scripts/__tests__/unity-ensure-editor-progress-stall.test.js.meta
  scripts/__tests__/unity-runner-script-contract.test.js
  scripts/__tests__/unity-runner-strictmode-smoke.test.js
  scripts/unity/ensure-editor.ps1
  scripts/unity/run-ci-tests.ps1
  scripts/validate-docs-out-of-tree-links.js
Due: prettier, markdown-structure-fix, markdownlint, cspell

More CI fixes
  .github/actions/dump-unity-log-tail/action.yml
  .github/actions/verify-unity-results/action.yml
  .github/workflows/release.yml
  .github/workflows/unity-benchmarks.yml
  .github/workflows/unity-tests.yml
  .pre-commit-config.yaml
  CHANGELOG.md
  Editor/Analyzers/WallstopStudios.DxMessaging.Analyzer.dll.meta
  Editor/SetupCscRsp.cs
  SourceGenerators/WallstopStudios.DxMessaging.Analyzer/WallstopStudios.DxMessaging.Analyzer.csproj
  SourceGenerators/WallstopStudios.DxMessaging.SourceGenerators/WallstopStudios.DxMessaging.SourceGenerators.csproj
  Tests/Editor/SetupCscRspTests.cs
  docs/images/DxMessaging-banner.svg
  scripts/__tests__/unity-analyzer-meta-invariants.test.js
  scripts/__tests__/unity-analyzer-meta-invariants.test.js.meta
  scripts/__tests__/unity-workflow-shape.test.js
  scripts/unity/ensure-editor.ps1
  scripts/unity/run-ci-tests.ps1
Due: prettier, markdown-structure-fix, markdownlint, yamllint, actionlint, cspell

GitHook fixes
  .cspell.json
  .llm/context.md
  .llm/skills/index.md
  .llm/skills/scripting/integrity-gate-robustness.md
  .llm/skills/scripting/jest-hook-robustness.md
  .llm/skills/scripting/native-git-hooks.md
  .pre-commit-config.yaml
  docs/images/DxMessaging-banner.svg
  docs/runbooks/windows-partial-extract.md
  scripts/__tests__/claude-preflight-hooks-contract.test.js
  scripts/__tests__/doctor-regenerable-closure.test.js
  scripts/__tests__/doctor-regenerable-closure.test.js.meta
  scripts/__tests__/doctor.test.js
  scripts/__tests__/native-git-hooks.test.js
  scripts/__tests__/no-manual-regenerable-recourse-policy.test.js
  scripts/__tests__/no-manual-regenerable-recourse-policy.test.js.meta
  scripts/__tests__/regenerable-cache-registry-completeness.test.js
  scripts/__tests__/regenerable-cache-registry-completeness.test.js.meta
  scripts/__tests__/regenerable-cache-registry.test.js
  scripts/__tests__/regenerable-cache-registry.test.js.meta
  scripts/__tests__/run-managed-jest.test.js
  scripts/doctor.js
  scripts/hooks/pre-push
  scripts/lib/integrity-gate-with-recovery.js
  scripts/lib/jest-error-decoder.js
  scripts/lib/regenerable-cache-registry.js
  scripts/lib/regenerable-cache-registry.js.meta
  scripts/preflight.js
  scripts/repair-node-tooling.js
  scripts/run-managed-jest.js
Due: prettier, markdown-structure-fix, markdownlint, yamllint, validate-skills, skills-index-regen, cspell

CI fixes
  .claude/settings.json
  .llm/context.md
  .llm/skills/index.md
  .llm/skills/scripting/change-aware-preflight.md
  .llm/skills/scripting/native-git-hooks.md
  .pre-commit-config.yaml
  scripts/__tests__/claude-preflight-hooks-contract.test.js
  scripts/__tests__/native-git-hooks.test.js
  scripts/__tests__/post-edit-validate-guard.test.js
  scripts/__tests__/post-edit-validate-guard.test.js.meta
  scripts/__tests__/run-prepush-parallel.test.js
  scripts/__tests__/run-prepush-parallel.test.js.meta
  scripts/__tests__/shell-command.test.js
  scripts/__tests__/validate-workflows.test.js
  scripts/hooks/post-edit-validate-guard.js
  scripts/hooks/post-edit-validate-guard.js.meta
  scripts/hooks/pre-push
  scripts/lib/shell-command.js
  scripts/run-prepush-parallel.js
  scripts/run-prepush-parallel.js.meta
  scripts/validate-workflows.js
Due: prettier, markdown-structure-fix, markdownlint, yamllint, validate-skills, skills-index-regen, cspell

GitHook fixes
  .github/workflows/cross-platform-preflight.yml
  .gitignore
  .llm/context.md
  .llm/skills/index.md
  .llm/skills/scripting/cross-platform-compatibility.md
  .llm/skills/scripting/jest-hook-robustness.md
  .llm/skills/scripting/native-git-hooks.md
  .pre-commit-config.yaml
  docs/images/DxMessaging-banner.svg
  scripts/__tests__/check-eol.test.js
  scripts/__tests__/claude-preflight-hooks-contract.test.js
  scripts/__tests__/llm-skills-jest-robustness-coverage.test.js
  scripts/__tests__/path-classifier.test.js
  scripts/__tests__/path-containment-policy.test.js
  scripts/__tests__/path-containment-policy.test.js.meta
  scripts/__tests__/pre-commit-hook-stage-policy.test.js
  scripts/check-eol.js
  scripts/hooks/post-edit-validate-guard.js
  scripts/hooks/yaml-line-length-guard.js
  scripts/lib/path-classifier.js
  scripts/run-managed-jest.js
  scripts/run-staged-md-pipeline.js
  scripts/run-staged-validators.js
  scripts/update-llms-txt.js
  scripts/validate-node-tooling.js
Due: prettier, markdown-structure-fix, markdownlint, yamllint, validate-skills, skills-index-regen, actionlint, cspell

Potential CI fixes
  .github/actions/compute-unity-assemblies/action.yml
  .github/actions/verify-unity-results/action.yml
  .github/workflows/dotnet-tests.yml
  .github/workflows/unity-tests.yml
  scripts/__tests__/analyzer-single-registration-policy.test.js
  scripts/__tests__/analyzer-single-registration-policy.test.js.meta
  scripts/__tests__/run-prepush-parallel.test.js
  scripts/__tests__/unity-test-harness-contract.test.js
  scripts/__tests__/verify-unity-results-action.test.js
  scripts/unity/lib/asmdef-discovery.js
  scripts/unity/run-ci-tests.ps1
Due: prettier, yamllint, actionlint, cspell

NPM fixes
  .github/workflows/cross-platform-preflight.yml
  .github/workflows/pre-commit-tooling-check.yml
  .github/workflows/script-tests.yml
  scripts/__tests__/cross-platform-job-timeout-policy.test.js
  scripts/__tests__/cross-platform-job-timeout-policy.test.js.meta
Due: prettier, yamllint, actionlint, cspell

Rework perf auto-run + auto-update-markdown (fix adversarial findings)
  .github/pull_request_template.md
  .github/workflows/perf-numbers-check.yml
  .github/workflows/unity-benchmarks.yml
  docs/architecture/performance.md
  scripts/__tests__/render-perf-doc.test.js
  scripts/__tests__/render-perf-doc.test.js.meta
  scripts/__tests__/runtime-test-editor-guard-policy.test.js
  scripts/__tests__/runtime-test-editor-guard-policy.test.js.meta
  scripts/__tests__/workflow-expression-policy.test.js
  scripts/__tests__/workflow-expression-policy.test.js.meta
  scripts/unity/render-perf-doc.js
  scripts/unity/render-perf-doc.js.meta
Due: prettier, markdown-structure-fix, markdownlint, yamllint, actionlint, cspell

CI fixes: verify action, 2021 analyzer deps, standalone test guard, 6000 il2cpp, perf auto-update
  .github/actions/verify-unity-results/action.yml
  .github/workflows/unity-benchmarks.yml
  Editor/Analyzers/Microsoft.CodeAnalysis.CSharp.dll.meta
  Editor/Analyzers/Microsoft.CodeAnalysis.dll.meta
  Editor/Analyzers/System.Collections.Immutable.dll.meta
  Editor/Analyzers/System.Reflection.Metadata.dll.meta
  Editor/Analyzers/System.Runtime.CompilerServices.Unsafe.dll.meta
  Tests/Runtime/Unity/MessagingComponentInstallerSceneTests.cs
  scripts/__tests__/runtime-test-editor-guard-policy.test.js
  scripts/__tests__/unity-ensure-editor-il2cpp-idempotency.test.js
  scripts/__tests__/unity-ensure-editor-install-resilience.test.js
  scripts/__tests__/unity-ensure-editor-production-contract.test.js
  scripts/__tests__/unity-ensure-editor-progress-stall.test.js
  scripts/__tests__/unity-workflow-shape.test.js
  scripts/__tests__/workflow-expression-policy.test.js
  scripts/unity/ensure-editor.ps1
Due: prettier, yamllint, actionlint, cspell

WIP checkpoint: CI failure-class fixes (analyzer dup, log-flood, perf, standalone)
  .github/pull_request_template.md
  .github/workflows/perf-numbers-check.yml
  .github/workflows/perf-numbers.yml
  .github/workflows/unity-benchmarks.yml
  .llm/skills/index.md
  .llm/skills/performance/dispatch-hot-path.md
  .llm/skills/performance/sweep-gate-must-be-cheap.md
  CHANGELOG.md
  Editor/Analyzers/WallstopStudios.DxMessaging.Analyzer.dll.meta
  Editor/Analyzers/WallstopStudios.DxMessaging.SourceGenerators.dll.meta
  Editor/SetupCscRsp.cs
  Tests/Runtime/Core/MessagingTestBase.cs
  docs/architecture/performance.md
  docs/images/DxMessaging-banner.svg
  docs/reference/analyzers.md
  llms.txt
  scripts/__tests__/analyzer-single-registration-policy.test.js
  scripts/__tests__/messaging-debug-log-flood-policy.test.js
  scripts/__tests__/messaging-debug-log-flood-policy.test.js.meta
  scripts/__tests__/unity-runner-script-contract.test.js
  scripts/__tests__/unity-runner-strictmode-smoke.test.js
  scripts/__tests__/unity-test-harness-contract.test.js
  scripts/__tests__/unity-workflow-shape.test.js
  scripts/unity/run-ci-tests.ps1
Due: prettier, markdown-structure-fix, markdownlint, yamllint, validate-skills, skills-index-regen, actionlint, cspell

Re-apply adversarial-review fixes (standalone timeout-honors-file, perf merge-block rework, analyzer :Any block, player.log diagnostic)
  .github/actions/dump-unity-log-tail/action.yml
  .github/workflows/perf-numbers.yml
  Editor/Analyzers/WallstopStudios.DxMessaging.Analyzer.dll.meta
  scripts/__tests__/unity-runner-script-contract.test.js
  scripts/__tests__/unity-runner-strictmode-smoke.test.js
  scripts/unity/run-ci-tests.ps1
Due: prettier, yamllint, actionlint, cspell

Update workflow-shape test for new perf shape (push trigger, comment + master-commit jobs)
  scripts/__tests__/unity-workflow-shape.test.js
Due: cspell

Fix stale 'commit onto PR branch' prose in 6 files; defensive stale-results delete
  .github/pull_request_template.md
  .github/workflows/perf-numbers.yml
  .github/workflows/unity-benchmarks.yml
  .llm/skills/performance/dispatch-hot-path.md
  docs/architecture/performance.md
  scripts/__tests__/unity-workflow-shape.test.js
  scripts/unity/run-ci-tests.ps1
Due: prettier, markdown-structure-fix, markdownlint, yamllint, validate-skills, skills-index-regen, actionlint, cspell

Update skills
  .llm/skills/index.md
  llms.txt
Due: prettier, markdown-structure-fix, markdownlint, validate-skills, skills-index-regen, cspell

GitHook fixes
  .gitignore
  .llm/context.md
  .llm/skills/index.md
  .llm/skills/scripting/change-aware-preflight.md
  .pre-commit-config.yaml
  scripts/__tests__/claude-preflight-hooks-contract.test.js
  scripts/__tests__/cspell-version-parity.test.js
  scripts/__tests__/node-modules-integrity.test.js
  scripts/__tests__/post-edit-validate-guard.test.js
  scripts/__tests__/unity-workflow-shape.test.js
  scripts/hooks/post-edit-validate-guard.js
  scripts/hooks/preflight-before-push-guard.js
  scripts/lib/cspell-extension-parity.js
  scripts/lib/cspell-extension-parity.js.meta
  scripts/lib/node-modules-integrity.js
  scripts/validate-node-tooling.js
Due: prettier, markdown-structure-fix, markdownlint, yamllint, validate-skills, skills-index-regen, cspell

CI fixes
  .llm/context.md
  .llm/skills/index.md
  .llm/skills/scripting/change-aware-preflight.md
  .llm/skills/scripting/native-git-hooks.md
  package.json
  scripts/__tests__/cross-platform-preflight-coverage.test.js
  scripts/__tests__/doctor.test.js
  scripts/__tests__/native-git-hooks.test.js
  scripts/__tests__/post-edit-validate-guard.test.js
  scripts/__tests__/preflight-pre-push-coverage.test.js
  scripts/__tests__/run-managed-jest.test.js
  scripts/__tests__/run-prepush-parallel.test.js
  scripts/__tests__/shell-command.test.js
  scripts/__tests__/validate-pre-commit-tooling.test.js
  scripts/__tests__/validate-workflows.test.js
  scripts/doctor.js
  scripts/hooks/post-edit-validate-guard.js
  scripts/hooks/pre-push
  scripts/lib/cross-platform-preflight-gate.js
  scripts/lib/cross-platform-preflight-gate.js.meta
  scripts/lib/hook-validation-stamp.js
  scripts/lib/shell-command.js
  scripts/run-managed-jest.js
  scripts/run-prepush-parallel.js
  scripts/run-prepush-preflight.js
  scripts/run-prepush-preflight.js.meta
  scripts/validate-pre-commit-tooling.js
  scripts/validate-workflows.js
Due: sync-banner-version, prettier, markdown-structure-fix, markdownlint, validate-skills, skills-index-regen, cspell

Path conditions:
  sync-banner-version: any of: ^package\.json$
  prettier: any of: (?i)\.(md|markdown|json|asmdef|asmref|ya?ml)$
  markdown-structure-fix: any of: (?i)\.(md|markdown)$
  markdownlint: any of: (?i)\.(md|markdown)$
  yamllint: any of: (?i)\.(ya?ml)$
  validate-skills: any of: ^\.llm/.*\.md$
  skills-index-regen: any of: ^\.llm/.*\.md$
  actionlint: any of: ^\.github/workflows/.*\.ya?ml$
  cspell: any of: (?i)\.(md|cs|json|ya?ml|ps1|js)$
