Repository wallstop/DxMessaging: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, markdown-structure-fix, markdownlint, yamllint

prettier:
  name: Prettier (Markdown, JSON, asmdef, asmref, YAML)
  entry: npx --yes prettier@3.6.2 --write
  language: system
  description: Use pinned Prettier version to match CI.

markdown-structure-fix:
  name: Markdown structure auto-fix (headings, fences)
  entry: node scripts/fix-md036-headings.js
  language: system
  description: Auto-fix MD036 (no-emphasis-as-heading) by converting bold-only lines to headings.

markdownlint:
  name: markdownlint (respect repo config)
  entry: npx --yes markdownlint-cli2@0.17.1 --config .markdownlint.jsonc
  language: system

yamllint:
  name: yamllint (if available)
  entry: bash -c 'if command -v yamllint >/dev/null 2>&1; then yamllint -c .yamllint.yaml "$@"; else echo "yamllint not installed; skipping"; fi' --
  language: system

SVG banner
  .gitattributes
  README.md
  docs/images/dxmessaging-banner.svg
  scripts/check-eol.js
  scripts/fix-eol.js
  scripts/hooks/pre-commit
  scripts/sync-banner-version.ps1
Due: prettier, markdown-structure-fix, markdownlint

PR feedback
  .cspell.json
  .gitattributes
  docs/images.meta
  docs/images/dxmessaging-banner.svg.meta
  scripts/sync-banner-version.ps1.meta
Due: prettier

PR feedback
  .llm/skills/index.md
  .llm/skills/scripting/powershell-best-practices.md
  .llm/skills/specification.md
  docs/images/dxmessaging-banner.svg
  scripts/hooks/pre-commit
  scripts/sync-banner-version.ps1
  scripts/validate-skills.js
Due: prettier, markdown-structure-fix, markdownlint

PR feedback
  .llm/skills/index.md
  .llm/skills/scripting/powershell-best-practices.md
  scripts/sync-banner-version.ps1
Due: prettier, markdown-structure-fix, markdownlint

PR feedback
  .llm/skills/index.md
  .llm/skills/scripting/powershell-best-practices.md
  .llm/skills/scripting/shell-best-practices.md
  scripts/hooks/pre-commit
  scripts/sync-banner-version.ps1
Due: prettier, markdown-structure-fix, markdownlint

Update spelling
  .cspell.json
Due: prettier

PR feedback
  .gitignore
  .llm/context.md
  .llm/skills/index.md
  .llm/skills/scripting/cross-platform-compatibility.md
  .llm/skills/scripting/cross-platform-compatibility.md.meta
  .llm/skills/scripting/powershell-best-practices.md
  .llm/skills/scripting/shell-best-practices.md
  .llm/skills/testing/script-test-coverage.md
  .llm/skills/testing/script-test-coverage.md.meta
  README.md
  package.json
  scripts/__tests__.meta
  scripts/__tests__/sync-banner-version.test.js
  scripts/__tests__/sync-banner-version.test.js.meta
Due: prettier, markdown-structure-fix, markdownlint

SVG banner (#144)
  .cspell.json
  .gitattributes
  .gitignore
  .llm/context.md
  .llm/skills/index.md
  .llm/skills/scripting/cross-platform-compatibility.md
  .llm/skills/scripting/cross-platform-compatibility.md.meta
  .llm/skills/scripting/powershell-best-practices.md
  .llm/skills/scripting/shell-best-practices.md
  .llm/skills/specification.md
  .llm/skills/testing/script-test-coverage.md
  .llm/skills/testing/script-test-coverage.md.meta
  README.md
  docs/images.meta
  docs/images/dxmessaging-banner.svg
  docs/images/dxmessaging-banner.svg.meta
  package.json
  scripts/__tests__.meta
  scripts/__tests__/sync-banner-version.test.js
  scripts/__tests__/sync-banner-version.test.js.meta
  scripts/check-eol.js
  scripts/fix-eol.js
  scripts/hooks/pre-commit
  scripts/sync-banner-version.ps1
  scripts/sync-banner-version.ps1.meta
  scripts/validate-skills.js
Due: prettier, markdown-structure-fix, markdownlint

Fix naming
  docs/images/DxMessaging-banner.svg
  docs/images/DxMessaging-banner.svg.meta
Due: none

Remove coverage from git
  .gitignore
Due: none

Correct SVG Path (#145)
  .gitignore
  docs/images/DxMessaging-banner.svg
  docs/images/DxMessaging-banner.svg.meta
Due: none

Bump version to 2.1.5
  CHANGELOG.md
  package.json
Due: prettier, markdown-structure-fix, markdownlint

Correctly wire in pre-commit banner generation
  .pre-commit-config.yaml
  docs/images/DxMessaging-banner.svg
Due: prettier, yamllint

PR feedback
  .pre-commit-config.yaml
  scripts/sync-banner-version.sh
  scripts/sync-banner-version.sh.meta
Due: prettier, yamllint

Bump version to 2.1.5 (#146)
  .pre-commit-config.yaml
  CHANGELOG.md
  docs/images/DxMessaging-banner.svg
  package.json
  scripts/sync-banner-version.sh
  scripts/sync-banner-version.sh.meta
Due: prettier, markdown-structure-fix, markdownlint, yamllint

Potentially fix dependabot (again)
  .github/workflows/csharpier-autofix.yml
  .github/workflows/dotnet-tests.yml
  .github/workflows/json-format-check.yml
  .github/workflows/lint-doc-links.yml
  .github/workflows/markdown-json.yml
  .github/workflows/markdown-link-text-check.yml
  .github/workflows/markdown-link-validity.yml
  .github/workflows/prettier-autofix.yml
  .github/workflows/yaml-format-lint.yml
Due: prettier, yamllint

More CI
  .github/workflows/markdown-json.yml
  .github/workflows/prettier-autofix.yml
Due: prettier, yamllint

PR feedback
  .github/workflows/json-format-check.yml
  .github/workflows/markdownlint.yml
  .github/workflows/prettier-autofix.yml
  .github/workflows/yaml-format-lint.yml
  .llm/context.md
  .llm/skills/github-actions/workflow-consistency.md
  .llm/skills/index.md
  .llm/skills/specification.md
  scripts/validate-skills.js
Due: prettier, markdown-structure-fix, markdownlint, yamllint

PR feedback
  .llm/skills/documentation/documentation-style-guide.md
  .llm/skills/index.md
  scripts/__tests__/generate-skills-index.test.js
  scripts/__tests__/generate-skills-index.test.js.meta
  scripts/generate-skills-index.js
Due: prettier, markdown-structure-fix, markdownlint

Update scripts/__tests__/generate-skills-index.test.js
  scripts/__tests__/generate-skills-index.test.js
Due: none

Add directx cspell
  .cspell.json
Due: prettier

Potentially fix dependabot (again) (#148)
  .cspell.json
  .github/workflows/csharpier-autofix.yml
  .github/workflows/dotnet-tests.yml
  .github/workflows/json-format-check.yml
  .github/workflows/lint-doc-links.yml
  .github/workflows/markdown-json.yml
  .github/workflows/markdown-link-text-check.yml
  .github/workflows/markdown-link-validity.yml
  .github/workflows/markdownlint.yml
  .github/workflows/prettier-autofix.yml
  .github/workflows/yaml-format-lint.yml
  .llm/context.md
  .llm/skills/documentation/documentation-style-guide.md
  .llm/skills/github-actions/workflow-consistency.md
  .llm/skills/index.md
  .llm/skills/specification.md
  scripts/__tests__/generate-skills-index.test.js
  scripts/__tests__/generate-skills-index.test.js.meta
  scripts/generate-skills-index.js
  scripts/validate-skills.js
Due: prettier, markdown-structure-fix, markdownlint, yamllint

Potential CI fixes again
  .github/workflows/format-on-demand.yml
  .github/workflows/prettier-autofix.yml
  .llm/skills/github-actions/git-renormalize-patterns.md
  .llm/skills/github-actions/workflow-consistency.md
  .llm/skills/index.md
Due: prettier, markdown-structure-fix, markdownlint, yamllint

Update .llm/skills/github-actions/git-renormalize-patterns.md
  .llm/skills/github-actions/git-renormalize-patterns.md
Due: prettier, markdown-structure-fix, markdownlint

Potential CI fixes again (#149)
  .github/workflows/format-on-demand.yml
  .github/workflows/prettier-autofix.yml
  .llm/skills/github-actions/git-renormalize-patterns.md
  .llm/skills/github-actions/workflow-consistency.md
  .llm/skills/index.md
Due: prettier, markdown-structure-fix, markdownlint, yamllint

PR feedback
  .github/workflows/actionlint.yml
  .github/workflows/csharpier-autofix.yml
  .github/workflows/format-on-demand.yml
  .github/workflows/prettier-autofix.yml
  .llm/context.md
  .llm/skills/github-actions/git-renormalize-patterns.md
  .llm/skills/index.md
  scripts/__tests__/validate-workflows.test.js
  scripts/__tests__/validate-workflows.test.js.meta
  scripts/validate-workflows.js
  scripts/validate-workflows.js.meta
Due: prettier, markdown-structure-fix, markdownlint, yamllint

PR feedback
  .llm/context.md
  .llm/skills/github-actions/git-renormalize-patterns.md
  .llm/skills/index.md
  .llm/skills/scripting/shell-best-practices.md
Due: prettier, markdown-structure-fix, markdownlint

Third Try Dependabot (#150)
  .github/workflows/actionlint.yml
  .github/workflows/csharpier-autofix.yml
  .github/workflows/format-on-demand.yml
  .github/workflows/prettier-autofix.yml
  .llm/context.md
  .llm/skills/github-actions/git-renormalize-patterns.md
  .llm/skills/index.md
  .llm/skills/scripting/shell-best-practices.md
  scripts/__tests__/validate-workflows.test.js
  scripts/__tests__/validate-workflows.test.js.meta
  scripts/validate-workflows.js
  scripts/validate-workflows.js.meta
Due: prettier, markdown-structure-fix, markdownlint, yamllint

Update docs with better mental model, maybe fix CI
  .github/workflows/format-on-demand.yml
  .github/workflows/prettier-autofix.yml
  .llm/context.md
  .llm/skills/github-actions/git-renormalize-patterns.md
  .llm/skills/index.md
  docs/concepts/index.md
  docs/concepts/mental-model.md
  docs/getting-started/getting-started.md
  docs/getting-started/index.md
  docs/getting-started/overview.md
  docs/getting-started/quick-start.md
  docs/getting-started/visual-guide.md
  docs/index.md
Due: prettier, markdown-structure-fix, markdownlint, yamllint

Mermaid overhaul, change most test assemblies to be editor
  .llm/context.md
  .llm/skills/documentation/markdown-compatibility.md
  .llm/skills/github-actions/git-renormalize-patterns.md
  .llm/skills/index.md
  CHANGELOG.md
  README.md
  Samples~/Mini Combat/Walkthrough.md
  Tests/Runtime/Benchmarks/WallstopStudios.DxMessaging.Tests.Runtime.Benchmarks.asmdef
  Tests/Runtime/Integrations/Reflex/WallstopStudios.DxMessaging.Tests.Runtime.Reflex.asmdef
  Tests/Runtime/Integrations/VContainer/WallstopStudios.DxMessaging.Tests.Runtime.VContainer.asmdef
  Tests/Runtime/Integrations/Zenject/WallstopStudios.DxMessaging.Tests.Runtime.Zenject.asmdef
  Tests/Runtime/WallstopStudios.DxMessaging.Tests.Runtime.asmdef
  docs/architecture/design-and-architecture.md
  docs/concepts/index.md.meta
  docs/concepts/interceptors-and-ordering.md
  docs/concepts/mental-model.md
  docs/concepts/mental-model.md.meta
  docs/concepts/message-types.md
  docs/getting-started/index.md
  docs/getting-started/visual-guide.md
  docs/index.md
  docs/javascripts/mermaid-config.js
  docs/reference/helpers.md
  docs/reference/quick-reference.md
  docs/reference/reference.md
Due: prettier, markdown-structure-fix, markdownlint

PR feedback
  .llm/context.md
  .llm/skills/documentation/documentation-update-workflow.md
  .llm/skills/documentation/documentation-updates.md
  .llm/skills/documentation/markdown-compatibility.md
  .llm/skills/documentation/mkdocs-navigation.md
  .llm/skills/index.md
  CHANGELOG.md
  Tests/Runtime/WallstopStudios.DxMessaging.Tests.Runtime.asmdef
  docs/concepts/mental-model.md
  mkdocs.yml
Due: prettier, markdown-structure-fix, markdownlint, yamllint

PR feedback
  .llm/skills/documentation/markdown-compatibility.md
  .llm/skills/documentation/mermaid-theming.md
  .llm/skills/index.md
  docs/architecture/design-and-architecture.md
  docs/concepts/interceptors-and-ordering.md
  docs/concepts/mental-model.md
  docs/concepts/message-types.md
  docs/getting-started/index.md
  docs/getting-started/visual-guide.md
  docs/javascripts/mermaid-config.js
Due: prettier, markdown-structure-fix, markdownlint

PR feedback
  .llm/context.md
  .llm/skills/documentation/markdown-compatibility.md
  .llm/skills/documentation/mermaid-theming.md
  .llm/skills/index.md
Due: prettier, markdown-structure-fix, markdownlint

PR feedback
  .llm/skills/documentation/markdown-compatibility.md
  .llm/skills/documentation/mermaid-theming.md
  .llm/skills/index.md
  README.md
  Samples~/Mini Combat/Walkthrough.md
Due: prettier, markdown-structure-fix, markdownlint

PR feedback
  .llm/context.md
  .llm/skills/documentation/changelog-management.md
  .llm/skills/index.md
  .llm/skills/scripting/regex-documentation.md
  CHANGELOG.md
  docs/javascripts/mermaid-config.js
Due: prettier, markdown-structure-fix, markdownlint

PR feedback
  .cspell.json
Due: prettier

PR feedback
  .llm/skills/documentation/mermaid-theming.md
  .llm/skills/index.md
  .llm/skills/scripting/regex-documentation.md
  README.md
  docs/hooks.py
  docs/javascripts/mermaid-config.js
  scripts/validate-skills.js
Due: prettier, markdown-structure-fix, markdownlint

Path conditions:
  prettier: any of: (?i)\.(md|markdown|json|asmdef|asmref|ya?ml)$
  markdown-structure-fix: any of: (?i)\.(md|markdown)$
  markdownlint: any of: (?i)\.(md|markdown)$
  yamllint: any of: (?i)\.(ya?ml)$
