Repository wallstop/DxMessaging: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, markdown-structure-fix, markdownlint, yamllint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: dotnet-tool-restore
        name: Install .NET tools
        entry: dotnet tool restore
        language: system
        always_run: true
        pass_filenames: false
        stages:
          - pre-commit
          - pre-push
          - post-checkout
          - post-rewrite
        description: Install the .NET tools listed at .config/dotnet-tools.json.
      - id: csharpier
        name: Run CSharpier on C# files
        entry: dotnet tool run csharpier format
        language: system
        types:
          - c#
        description: CSharpier is an opinionated C# formatter inspired by Prettier.

  - repo: local
    hooks:
      - id: prettier
        name: Prettier (Markdown, JSON, asmdef, asmref, YAML)
        entry: npx --yes prettier@3.6.2 --write
        language: system
        files: '(?i)\.(md|markdown|json|asmdef|asmref|ya?ml)$'
        description: Use pinned Prettier version to match CI.

  - repo: local
    hooks:
      - id: markdown-structure-fix
        name: Markdown structure auto-fix (headings, fences)
        entry: node scripts/fix-md036-headings.js
        language: system
        files: '(?i)\.(md|markdown)$'
        description: Auto-fix MD036 (no-emphasis-as-heading) by converting bold-only lines to headings.

  - repo: local
    hooks:
      - id: markdownlint
        name: markdownlint (respect repo config)
        entry: npx --yes markdownlint-cli2@0.17.1 --config .markdownlint.jsonc
        language: system
        files: '(?i)\.(md|markdown)$'

  - repo: local
    hooks:
      - id: yamllint
        name: yamllint (if available)
        entry: bash -c 'if command -v yamllint >/dev/null 2>&1; then yamllint -c .yamllint.yaml "$@"; else echo "yamllint not installed; skipping"; fi' --
        language: system
        files: '(?i)\.(ya?ml)$'

  - repo: local
    hooks:
      - id: eol-bom-fix
        name: Auto-fix CRLF and remove BOM
        entry: node scripts/fix-eol.js -v
        language: system
        pass_filenames: false
        stages:
          - pre-commit
        description: Convert line endings to CRLF and strip UTF-8 BOM on text files.
      - id: eol-bom-check
        name: Enforce CRLF and no BOM
        entry: node scripts/check-eol.js
        language: system
        pass_filenames: false
        stages:
          - pre-commit
          - pre-push

Update coverage
  .github/workflows/dotnet-tests.yml
Due: prettier, yamllint

Full links
  AGENTS.md
  Docs/Comparisons.md
  Docs/InterceptorsAndOrdering.md
  Docs/Performance.md
  Docs/QuickReference.md
  Docs/Reference.md
  Samples~/DI/README.md
  Samples~/Mini Combat/README.md
  Samples~/Mini Combat/Walkthrough.md
  Samples~/UI Buttons + Inspector/README.md
Due: prettier, markdown-structure-fix, markdownlint

Fix all Doc links (#81)
  AGENTS.md
  Docs/Comparisons.md
  Docs/InterceptorsAndOrdering.md
  Docs/Performance.md
  Docs/QuickReference.md
  Docs/Reference.md
  Samples~/DI/README.md
  Samples~/Mini Combat/README.md
  Samples~/Mini Combat/Walkthrough.md
  Samples~/UI Buttons + Inspector/README.md
Due: prettier, markdown-structure-fix, markdownlint

Delete Tests/Runtime/WallstopStudios.DxMessaging.Tests.Runtime.csproj
  Tests/Runtime/WallstopStudios.DxMessaging.Tests.Runtime.csproj
Due: none

Delete Tests/Runtime/WallstopStudios.DxMessaging.Tests.Runtime.csproj (#82)
  Tests/Runtime/WallstopStudios.DxMessaging.Tests.Runtime.csproj
Due: none

Delete Tests/Runtime/WallstopStudios.DxMessaging.Tests.Runtime.csproj.meta
  Tests/Runtime/WallstopStudios.DxMessaging.Tests.Runtime.csproj.meta
Due: none

Delete Tests/Runtime/WallstopStudios.DxMessaging.Tests.Runtime.csproj… (#83)
  Tests/Runtime/WallstopStudios.DxMessaging.Tests.Runtime.csproj.meta
Due: none

Update README
  README.md
Due: prettier, markdown-structure-fix, markdownlint

First draft reset work
  Docs/Comparisons.md
  Docs/Performance.md
  Editor/DxMessagingEditorInitializer.cs
  Runtime/Core/DxMessagingStaticState.cs
  Runtime/Core/DxMessagingStaticState.cs.meta
  Runtime/Core/Helper/MessageCache.cs
  Runtime/Core/Helper/MessageHelperIndexer.cs
  Runtime/Core/MessageBus/MessageBus.cs
  Runtime/Core/MessageBus/MessageRegistrationBuilder.cs
  Runtime/Core/MessageHandler.cs
  Runtime/Core/MessageRegistrationHandle.cs
  Runtime/Unity/DxMessagingRuntimeInitializer.cs
  Runtime/Unity/DxMessagingRuntimeInitializer.cs.meta
  Tests/Runtime/Core/DxMessagingStaticStateTests.cs
  Tests/Runtime/Core/DxMessagingStaticStateTests.cs.meta
Due: prettier, markdown-structure-fix, markdownlint

Better clarity
  Docs/Comparisons.md
  Docs/Performance.md
  Runtime/Core/MessageBus/MessageBus.cs
  Runtime/Core/MessageHandler.cs
  Tests/Runtime/Core/DxMessagingStaticStateTests.cs
Due: prettier, markdown-structure-fix, markdownlint

Update solution
  Editor/Analyzers/WallstopStudios.DxMessaging.SourceGenerators.dll
  com.wallstop-studios.dxmessaging.sln
Due: none

More Editor goodies
  Editor/DxMessagingEditorInitializer.cs
  Editor/DxMessagingMenu.cs
  Editor/DxMessagingMenu.cs.meta
  Editor/DxMessagingSceneBuildProcessor.cs
  Editor/DxMessagingSceneBuildProcessor.cs.meta
  Editor/Settings/DxMessagingSettings.cs
  Editor/Settings/DxMessagingSettingsProvider.cs
  Runtime/Core/MessageRegistrationToken.cs
  Runtime/Unity/MessagingComponent.cs
Due: none

Upgrade to enum mode
  Docs/Comparisons.md
  Docs/Performance.md
  Editor/DxMessagingEditorInitializer.cs
  Editor/DxMessagingMenu.cs
  Editor/Settings/DxMessagingSettings.cs
  Editor/Settings/DxMessagingSettingsProvider.cs
  Runtime/Core/Diagnostics/MessageEmissionData.cs
  Runtime/Core/DxMessagingStaticState.cs
  Runtime/Core/MessageBus/DiagnosticsTarget.cs
  Runtime/Core/MessageBus/DiagnosticsTarget.cs.meta
  Runtime/Core/MessageBus/IMessageBus.cs
  Runtime/Core/MessageBus/MessageBus.cs
  Runtime/Core/MessageRegistrationToken.cs
  Tests/Runtime/Core/DiagnosticsTests.cs
  Tests/Runtime/Core/DxMessagingStaticStateTests.cs
Due: prettier, markdown-structure-fix, markdownlint

Update benchmarks
  Docs/Comparisons.md
  Docs/Performance.md
Due: prettier, markdown-structure-fix, markdownlint

Better XML documentation
  Editor/Analyzers/WallstopStudios.DxMessaging.SourceGenerators.dll
  Editor/CustomEditors/MessagingComponentEditor.cs
  Editor/DxMessagingSceneBuildProcessor.cs
  Editor/Settings/DxMessagingSettingsProvider.cs
  Runtime/Core/Attributes/DxOptionalParameterAttribute.cs
  Runtime/Core/DataStructure/CyclicBuffer.cs
  Runtime/Core/Diagnostics/MessageRegistrationType.cs
  Runtime/Core/Extensions/IListExtensions.cs
  Runtime/Core/Extensions/MessageBusExtensions.cs
  Runtime/Core/Helper/MessageCache.cs
  Runtime/Core/InstanceId.cs
  Runtime/Core/MessageBus/DiagnosticsTarget.cs
  Runtime/Core/MessageBus/MessageBus.cs
  Runtime/Core/MessageBus/MessageRegistrationBuilder.cs
  Runtime/Core/MessageBus/MessagingRegistration.cs
  Runtime/Core/MessageBus/RegistrationLog.cs
  Runtime/Core/MessageHandler.cs
  Runtime/Core/MessageRegistrationHandle.cs
  Runtime/Core/MessageRegistrationToken.cs
  Runtime/Core/Messages/ReflexiveMessage.cs
  Runtime/Core/MessagingDebug.cs
  Runtime/Unity/CurrentGlobalMessageBusProvider.cs
  Runtime/Unity/InitialGlobalMessageBusProvider.cs
  Runtime/Unity/Integrations/Reflex/ReflexRegistrationInstaller.cs
  Runtime/Unity/Integrations/VContainer/VContainerRegistrationExtensions.cs
  Runtime/Unity/Integrations/Zenject/ZenjectRegistrationInstaller.cs
  SourceGenerators/WallstopStudios.DxMessaging.SourceGenerators/DxAutoConstructorGenerator.cs
  SourceGenerators/WallstopStudios.DxMessaging.SourceGenerators/DxMessageIdGenerator.cs
Due: none

Bump version
  package.json
Due: prettier

Formatting
  .github/workflows/dotnet-tests.yml
Due: prettier, yamllint

Formatting (#93)
  .github/workflows/dotnet-tests.yml
Due: prettier, yamllint

Update EOL settings
  .github/workflows/prettier-autofix.yml
  .pre-commit-config.yaml
  CONTRIBUTING.md
Due: prettier, markdown-structure-fix, markdownlint, yamllint

Update EOL settings (#94)
  .github/workflows/prettier-autofix.yml
  .pre-commit-config.yaml
  CONTRIBUTING.md
Due: prettier, markdown-structure-fix, markdownlint, yamllint

Add exhaustive ordering tests
  Tests/Runtime/Core/Extensions/MessageBusExtensionsTests.cs
  Tests/Runtime/Core/OrderingManyRegistrationsTests.cs
  Tests/Runtime/Core/OrderingManyRegistrationsTests.cs.meta
  package.json
Due: prettier

Simplify dictionary access
  .pre-commit-config.yaml
  Docs/Performance.md
  Runtime/Core/MessageBus/MessageBus.cs
  scripts/fix-eol.js
Due: prettier, markdown-structure-fix, markdownlint, yamllint

Optimizations + More Tests (#95)
  .pre-commit-config.yaml
  Docs/Performance.md
  Runtime/Core/MessageBus/MessageBus.cs
  Tests/Runtime/Core/Extensions/MessageBusExtensionsTests.cs
  Tests/Runtime/Core/OrderingManyRegistrationsTests.cs
  Tests/Runtime/Core/OrderingManyRegistrationsTests.cs.meta
  package.json
  scripts/fix-eol.js
Due: prettier, markdown-structure-fix, markdownlint, yamllint

Mutation tests
  .gitignore
  .pre-commit-config.yaml
  Tests/Runtime/Core/MutationHighVolumeStressTests.cs
  Tests/Runtime/Core/MutationHighVolumeStressTests.cs.meta
  scripts/check-eol.js
Due: prettier, yamllint

Fix Mutation High Volume Tests
  Tests/Runtime/Core/MutationHighVolumeStressTests.cs
Due: none

Progress
  Docs/Performance.md
  Runtime/Core/MessageBus/MessageBus.cs
Due: prettier, markdown-structure-fix, markdownlint

Performance for Untargeted Messages
  Docs/Performance.md
  Runtime/Core/MessageBus/MessageBus.cs
  Runtime/Core/MessageHandler.cs
Due: prettier, markdown-structure-fix, markdownlint

Targeted/Broadcast bucketing
  Docs/Performance.md
  Runtime/Core/MessageBus/MessageBus.cs
  Runtime/Core/MessageHandler.cs
Due: prettier, markdown-structure-fix, markdownlint

Array Pooling
  Docs/Performance.md
  Runtime/Core/MessageBus/MessageBus.cs
Due: prettier, markdown-structure-fix, markdownlint

Better caching
  Docs/Performance.md
  Runtime/Core/MessageBus/MessageBus.cs
Due: prettier, markdown-structure-fix, markdownlint

chore: checkpoint plan for P1.3 post-processing refactor
  Runtime/Core/MessageBus/MessageBus.cs
  Runtime/Core/MessageHandler.cs
Due: none

chore(dotnet-tools): update .config/dotnet-tools.json
  .config/dotnet-tools.json
Due: prettier

Performance improvements
  Docs/Performance.md
  Runtime/Core/MessageBus/MessageBus.cs
  Runtime/Core/MessageBus/MessageRegistrationBuilder.cs
  Runtime/Core/MessageHandler.cs
  Tests/Runtime/Core/BroadcastTests.cs
  Tests/Runtime/Core/CyclicBufferTests.cs
  Tests/Runtime/Core/GlobalAcceptAllTests.cs
  Tests/Runtime/Core/MutationDedupeTests.cs
  Tests/Runtime/Core/MutationDuringEmissionTests.cs
  Tests/Runtime/Core/NominalTests.cs
  Tests/Runtime/Core/PostProcessorTests.cs
  Tests/Runtime/Core/RegistrationTests.cs
  Tests/Runtime/Core/TargetedTests.cs
  Tests/Runtime/Core/UntargetedTests.cs
  Tests/Runtime/Integrations/Zenject/ZenjectIntegrationTests.cs
Due: prettier, markdown-structure-fix, markdownlint

Update CSharpier
  .config/dotnet-tools.json
Due: prettier

Update Runtime/Core/MessageBus/MessageBus.cs
  Runtime/Core/MessageBus/MessageBus.cs
Due: none

PR feedback
  Docs/Comparisons.md
  Docs/Performance.md
  Editor/Settings/DxMessagingSettings.cs
  Runtime/Core/MessageBus/IMessageBus.cs
  Runtime/Core/MessageBus/MessageBus.cs
  Tests/Runtime/Core/CyclicBufferTests.cs
  Tests/Runtime/Core/DiagnosticsTests.cs
  Tests/Runtime/Core/DxMessagingStaticStateTests.cs
  scripts/check-eol.js
Due: prettier, markdown-structure-fix, markdownlint
