Repository wallstop/DxMessaging: changes, and which pre-commit hooks are due for each by the changed paths.
All: markdownlint, markdown-link-text-check, markdown-link-validity, prettier-json

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: dotnet-tool-restore
        name: Install .NET tools
        entry: dotnet tool restore
        language: system
        always_run: true
        pass_filenames: false
        stages:
          - pre-commit
          - pre-push
          - post-checkout
          - post-rewrite
        description: Install the .NET tools listed at .config/dotnet-tools.json.
      - id: csharpier
        name: Run CSharpier on C# files
        entry: dotnet tool run csharpier format
        language: system
        types:
          - c#
        description: CSharpier is an opinionated C# formatter inspired by Prettier.
      - id: markdownlint
        name: Lint/format Markdown (markdownlint-cli)
        entry: markdownlint
        language: node
        additional_dependencies:
          - markdownlint-cli@0.41.0
        types:
          - markdown
        args:
          - -c
          - .markdownlint.jsonc
          - --fix
        description: Lints and auto-fixes Markdown files with markdownlint-cli.
      - id: markdown-link-text-check
        name: Markdown link text must be human-readable
        entry: python .github/scripts/check_markdown_links.py
        language: python
        pass_filenames: false
        types:
          - markdown
        description: Ensure markdown-to-markdown links do not use raw file names or paths as link text.
      - id: markdown-link-validity
        name: Validate internal markdown links
        entry: python .github/scripts/validate_markdown_links.py
        language: python
        pass_filenames: true
        types:
          - markdown
        description: Detect broken internal markdown links and dangling anchors.
      - id: prettier-json
        name: Format JSON and asmdef with Prettier
        entry: prettier
        language: node
        additional_dependencies:
          - prettier@3.3.3
        files: \.(json|asmdef)$
        args:
          - --ignore-unknown
          - --write
        description: Formats JSON and Unity .asmdef files consistently (2-space indent).

Test updates
  Tests/Runtime/Core/BroadcastTests.cs
  Tests/Runtime/Core/EdgeCaseTests.cs
  Tests/Runtime/Core/InterceptorCancellationTests.cs
  Tests/Runtime/Core/NominalTests.cs
  Tests/Runtime/Core/OrderingTests.cs
  Tests/Runtime/Core/OverDeregistrationTests.cs
  Tests/Runtime/Core/TargetedTests.cs
  Tests/Runtime/Scripts/Components/GenericMessageAwareComponent.cs
Due: none

Include Samples
  .gitignore
  Docs/MigrationGuide.md
  Docs/QuickReference.md
  Docs/Reference.md
Due: markdownlint, markdown-link-text-check, markdown-link-validity

Markdown updates
  Docs/Install.md
  Docs/InterceptorsAndOrdering.md
  Docs/MessageTypes_copy.md
  Docs/MessageTypes_copy.md.meta
  Docs/MigrationGuide.md
Due: markdownlint, markdown-link-text-check, markdown-link-validity

PR feedback
  .markdownlint-cli2.jsonc
  Docs/Install.md
Due: markdownlint, markdown-link-text-check, markdown-link-validity

Updates
  Docs/Comparisons.md
  Docs/EmitShorthands.md
  Docs/EmitShorthands.md.meta
  Docs/Index.md
  Docs/Overview.md
  Docs/Performance.md
  Docs/QuickReference.md
  Docs/StringMessages.md
  Docs/TargetingAndContext.md
  Runtime/Core/Extensions/MessageExtensions.cs
  Runtime/Core/Messages/SourcedStringMessage.cs
  Runtime/Core/Messages/SourcedStringMessage.cs.meta
  Tests/Runtime/Core/StringShorthandTests.cs
  Tests/Runtime/Core/StringShorthandTests.cs.meta
  Tests/Runtime/Core/TypedShorthandTests.cs
  Tests/Runtime/Core/TypedShorthandTests.cs.meta
  Tests/Runtime/Core/UntargetedEquivalenceTests.cs
  Tests/Runtime/Core/UntargetedEquivalenceTests.cs.meta
  Tests/Runtime/Scripts/Components/ShorthandTargetedBroadcastComponent.cs
  Tests/Runtime/Scripts/Components/ShorthandTargetedBroadcastComponent.cs.meta
  Tests/Runtime/Scripts/Components/StringMessageAwareComponent.cs
  Tests/Runtime/Scripts/Components/StringMessageAwareComponent.cs.meta
  Tests/Runtime/Scripts/Components/UntargetedClassReceiverComponent.cs
  Tests/Runtime/Scripts/Components/UntargetedClassReceiverComponent.cs.meta
  Tests/Runtime/Scripts/Components/UntargetedReceiverComponent.cs
  Tests/Runtime/Scripts/Components/UntargetedReceiverComponent.cs.meta
  Tests/Runtime/Scripts/Messages/ClassUntargetedMessage.cs
  Tests/Runtime/Scripts/Messages/ClassUntargetedMessage.cs.meta
Due: markdownlint, markdown-link-text-check, markdown-link-validity

Bump version
  package.json
Due: prettier-json

Updates
  README.md
Due: markdownlint, markdown-link-text-check, markdown-link-validity

Dependabot updates
  .github/dependabot.yml
Due: none

More linting
  .github/dependabot.yml
  .github/workflows/yaml-format-lint.yml
  .pre-commit-config.yaml
  .yamllint.yaml
  package.json
Due: prettier-json

Linter updates
  .github/workflows/yaml-format-lint.yml
  package.json
Due: prettier-json

Prettier
  .github/workflows/csharpier-autofix.yml
  .github/workflows/json-format-check.yml
  .github/workflows/npm-publish.yml
Due: none

Update configs
  .github/workflows/csharpier-autofix.yml
Due: none

linter updates
  .yamllint.yaml
  CONTRIBUTING.md
Due: markdownlint, markdown-link-text-check, markdown-link-validity

Progress
  Runtime/Core/MessageBus/IMessageBus.cs
  Runtime/Core/MessageBus/MessageBus.cs
  Runtime/Core/MessageHandler.cs
  Tests/Runtime/Core/MutationDedupeTests.cs
  Tests/Runtime/Core/MutationDedupeTests.cs.meta
  Tests/Runtime/Core/MutationDuringEmissionTests.cs
  Tests/Runtime/Core/MutationDuringEmissionTests.cs.meta
  Tests/Runtime/Core/MutationGlobalAddTests.cs
  Tests/Runtime/Core/MutationGlobalAddTests.cs.meta
  Tests/Runtime/Core/MutationInterceptorTests.cs
  Tests/Runtime/Core/MutationInterceptorTests.cs.meta
  Tests/Runtime/Core/MutationPostProcessorAcrossHandlersTests.cs
  Tests/Runtime/Core/MutationPostProcessorAcrossHandlersTests.cs.meta
  Tests/Runtime/Core/MutationPostProcessorMoreTests.cs
  Tests/Runtime/Core/MutationPostProcessorMoreTests.cs.meta
  Tests/Runtime/Core/MutationPriorityTests.cs
  Tests/Runtime/Core/MutationPriorityTests.cs.meta
Due: none

Updates
  .github/dependabot.yml
  Runtime/Core/MessageHandler.cs
Due: none

More progress
  Runtime/Core/MessageBus/MessageBus.cs
  Runtime/Core/MessageHandler.cs
Due: none

Progress
  Runtime/Core/MessageBus/MessageBus.cs
  Runtime/Core/MessageHandler.cs
Due: none

Update gitignore
  .gitignore
Due: none

Updates
  Runtime/Core/MessageBus/MessageBus.cs
Due: none

Slight improvements
  Runtime/Core/MessageHandler.cs
Due: none

Even more improvements
  Runtime/Core/MessageBus/MessageBus.cs
  Runtime/Core/MessageHandler.cs
Due: none

Linting updates
  .csharpierignore
  .csharpierrc.json
  .editorconfig
  .gitattributes
  .github/workflows/format-on-demand.yml
  .github/workflows/lint-doc-links.yml
  .github/workflows/markdown-json.yml
  .github/workflows/prettier-autofix.yml
  .github/workflows/update-dotnet-tools.yml
  .github/workflows/yaml-format-lint.yml
  .lychee.toml
  .markdownlint.json
  .markdownlintignore
  .pre-commit-config.yaml
  .prettierignore
  .prettierrc.json
  .yamllint.yaml
Due: prettier-json

Progress?
  Runtime/Core/MessageBus/MessageBus.cs
  Runtime/Core/MessageHandler.cs
Due: none

Progress
  Runtime/Core/MessageBus/MessageBus.cs
  Runtime/Core/MessageHandler.cs
  Tests/Runtime/Core/MutationDuringEmissionTests.cs
  Tests/Runtime/Core/MutationGlobalAddTests.cs
Due: none

Finalized new test fixes
  .markdownlint.json
  .markdownlint.jsonc
  .pre-commit-config.yaml
  Docs/Advanced.md
  Docs/FAQ.md
  Docs/InterceptorsAndOrdering.md
  Docs/Performance.md
  Tests/Runtime/Core/MutationDuringEmissionTests.cs
Due: markdownlint, markdown-link-text-check, markdown-link-validity, prettier-json

Ensure Mutation Destruction
  AGENTS.md
  Tests/Runtime/Core/MutationDestructionTests.cs
  Tests/Runtime/Core/MutationDestructionTests.cs.meta
Due: markdownlint, markdown-link-text-check, markdown-link-validity

Performance updates
  Docs/Performance.md
Due: markdownlint, markdown-link-text-check, markdown-link-validity

Full CSharpier format
  SourceGenerators/WallstopStudios.DxMessaging.SourceGenerators/WallstopStudios.DxMessaging.SourceGenerators.csproj
  Tests/Runtime/WallstopStudios.DxMessaging.Tests.Runtime.csproj
Due: none

More scripts
  scripts.meta
  scripts/lint-doc-links.ps1
  scripts/lint-doc-links.ps1.meta
Due: none

Linting updates
  Docs/Glossary.md
  Docs/MessageTypes.md
  Docs/Patterns.md
  Docs/QuickStart.md
  Docs/Troubleshooting.md
  README.md
Due: markdownlint, markdown-link-text-check, markdown-link-validity

Add check-eol
  .pre-commit-config.yaml
  CONTRIBUTING.md
  Tests/Runtime/Core/OrderingTests.cs
  package.json
  scripts/check-eol.js
  scripts/check-eol.js.meta
  scripts/check-eol.ps1
  scripts/check-eol.ps1.meta
  scripts/fix-eol.js
  scripts/fix-eol.js.meta
Due: markdownlint, markdown-link-text-check, markdown-link-validity, prettier-json

Even more linters
  .github/workflows/json-format-check.yml
  .github/workflows/markdownlint.yml
  .github/workflows/prettier-autofix.yml
  .markdownlint-cli2.jsonc
  .markdownlintignore
  .prettierignore
  Docs/Comparisons.md
  Docs/Compatibility.md
  Docs/DesignAndArchitecture.md
  Docs/EmitShorthands.md
  Docs/GettingStarted.md
  Docs/Helpers.md
  Docs/Index.md
  Docs/MigrationGuide.md
  Docs/Reference.md
  Docs/TargetingAndContext.md
  Docs/VisualGuide.md
  package-lock.json
  package-lock.json.meta
  scripts/fix-markdown-file.js
  scripts/fix-markdown-file.js.meta
Due: markdownlint, markdown-link-text-check, markdown-link-validity, prettier-json

Update auto-fix
  .github/workflows/prettier-autofix.yml
  .pre-commit-config.yaml
  AGENTS.md
Due: markdownlint, markdown-link-text-check, markdown-link-validity

Update auto-fix (#57)
  .github/workflows/prettier-autofix.yml
  .pre-commit-config.yaml
  AGENTS.md
Due: markdownlint, markdown-link-text-check, markdown-link-validity

More robust source generators
  .markdownlint-cli2.jsonc
  .pre-commit-config.yaml
  Docs/Helpers.md
  Docs/MessageTypes.md
  Docs/Performance.md
  Docs/QuickStart.md
  Editor/Analyzers/WallstopStudios.DxMessaging.SourceGenerators.dll
  Editor/Analyzers/WallstopStudios.DxMessaging.SourceGenerators.pdb.meta
  README.md
  Runtime/Core/Attributes/DxOptionalParameterAttribute.cs
  SourceGenerators/WallstopStudios.DxMessaging.SourceGenerators/DxAutoConstructorGenerator.cs
  SourceGenerators/WallstopStudios.DxMessaging.SourceGenerators/DxMessageIdGenerator.cs
  SourceGenerators/WallstopStudios.DxMessaging.SourceGenerators/WallstopStudios.DxMessaging.SourceGenerators.csproj
  Tests/Runtime/Core/MutationPostProcessorAcrossHandlersTests.cs
  Tests/Runtime/Core/SourceGeneratorNestedTests.cs
  Tests/Runtime/Core/SourceGeneratorNestedTests.cs.meta
  scripts/fix-md036-headings.js
  scripts/fix-md036-headings.js.meta
Due: markdownlint, markdown-link-text-check, markdown-link-validity

Csharpier formatting fix
  SourceGenerators/WallstopStudios.DxMessaging.SourceGenerators/WallstopStudios.DxMessaging.SourceGenerators.csproj
Due: none

Version bump
  package.json
Due: prettier-json
